<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	
	<extension point="org.eclipse.mylar.context.core.bridges">
		<structureBridge
			class="org.springframework.ide.eclipse.beans.mylar.core.BeansContextStructureBridge"
			id="org.springframework.ide.eclipse.beans.ui.mylar.context.beans"
			name="%beansContextStructureBridge.name" />
	</extension>
	<extension point="org.eclipse.mylar.context.ui.bridges">
		<uiBridge
			class="org.springframework.ide.eclipse.beans.mylar.ui.BeansContextUIBridge"
			contentType="spring_beans"
			id="mework.ide.eclipse.beans.ui.mylar.context.ui.beans"
			name="%beansContextUIBridge.name" />
	</extension>

	<extension point="org.eclipse.ui.actionSets">
		<actionSet id="org.eclipse.mylar.java.actionSet"
			label="Mylar Java" visible="true">
			<action
				class="org.eclipse.mylar.internal.java.ui.actions.ToggleActiveFoldingAction"
				definitionId="org.springframework.ide.eclipse.beans.ui.mylar.folding.auto"
				icon="icons/elcl16/interest-folding.gif"
				id="org.springframework.ide.eclipse.beans.ui.mylar.folding.auto"
				label="Automatically Fold Uninteresting Elements" style="toggle"
				toolbarPath="org.eclipse.ui.edit.text.actionSet.presentation/Presentation"
				tooltip="Automatically Fold Uninteresting Elements">
			</action>
		</actionSet>
	</extension>

	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution adaptable="true"
			id="org.springframework.ide.eclipse.ui.interest"
			objectClass="org.springframework.ide.eclipse.core.model.IModelElement">
			<action
				class="org.eclipse.mylar.internal.context.ui.actions.InterestDecrementAction"
				enablesFor="*" icon="icons/elcl16/interest-decrease.gif"
				id="org.springframework.ide.eclipse.ui.interest.actions.InterestDecrementAction"
				label="Remove from Focus" menubarPath="additions"
				tooltip="Mark selected element as uninteresting">
			</action>
			<action label="Mark as Landmark"
				tooltip="Make selected element a landmark" menubarPath="additions"
				id="org.springframework.ide.eclipse.ui.interest.actions.InterestIncrementAction"
				class="org.eclipse.mylar.internal.context.ui.actions.InterestIncrementAction"
				icon="icons/elcl16/interest-increase.gif" enablesFor="*" />
		</objectContribution>
	</extension>

</plugin>
