<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/*******************************************************************************
 * Copyright (c) 2005, 2009 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.springframework.ide.eclipse.webflow.ui.graph.WebflowEditor"
            contributorClass="org.springframework.ide.eclipse.webflow.ui.graph.actions.WebflowActionBarContributor"
            default="false"
            icon="icons/full/obj16/spring_webflow_obj.gif"
            id="org.springframework.ide.eclipse.webflow.ui.graph.WebflowEditor"
            name="%flowEditor.name">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.springframework.ide.eclipse.webflow.ui.graph.WebflowEditorInputFactory"
            id="org.springframework.ide.eclipse.webflow.ui.graph.webFlowEditorInputFactory"/>
   </extension>
   
    <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.springframework.ide.eclipse.webflow.ui.graph.WebflowEditor"
            labelProvider="org.springframework.ide.eclipse.webflow.ui.graph.properties.PropertiesModelLabelProvider">
         <propertyCategory category="webflow"/>
      </propertyContributor>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.springframework.ide.eclipse.webflow.ui.graph.WebflowEditor">
         <propertyTab
            category="webflow"
               id="org.springframework.ide.eclipse.webflow.ui.graph.GeneralTab"
            label="General"/>
         <propertyTab
         	afterTab="org.springframework.ide.eclipse.webflow.ui.graph.GeneralTab"
            category="webflow"
               id="org.springframework.ide.eclipse.webflow.ui.graph.AttributesTab"
            label="Attributes"/>
         <propertyTab
         	afterTab="org.springframework.ide.eclipse.webflow.ui.graph.AttributesTab"
            category="webflow"
            id="org.springframework.ide.eclipse.webflow.ui.graph.AdvancedTab"
            label="Advanced"/>
      </propertyTabs>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.springframework.ide.eclipse.webflow.ui.graph.WebflowEditor">
         <propertySection
               class="org.springframework.ide.eclipse.webflow.ui.graph.properties.StateIdSection"
               id="org.springframework.ide.eclipse.webflow.ui.graph.StateIdSection"
               filter="org.springframework.ide.eclipse.webflow.ui.graph.properties.StateIdSectionFilter"
               tab="org.springframework.ide.eclipse.webflow.ui.graph.GeneralTab">
            <input type="org.springframework.ide.eclipse.webflow.ui.graph.parts.ChildrenStatePart"/>
         </propertySection>
         <propertySection
               class="org.springframework.ide.eclipse.webflow.ui.graph.properties.StateTransitionSection"
               id="org.springframework.ide.eclipse.webflow.ui.graph.StateTransitionSection"
               tab="org.springframework.ide.eclipse.webflow.ui.graph.GeneralTab">
            <input type="org.springframework.ide.eclipse.webflow.ui.graph.parts.StateTransitionPart"/>
         </propertySection>
         <propertySection
               afterSection="org.springframework.ide.eclipse.webflow.ui.graph.StateIdSection"
               class="org.springframework.ide.eclipse.webflow.ui.graph.properties.ViewSection"
               filter="org.springframework.ide.eclipse.webflow.ui.graph.properties.ViewSectionFilter"
               id="org.springframework.ide.eclipse.webflow.ui.graph.ViewSection"
               tab="org.springframework.ide.eclipse.webflow.ui.graph.GeneralTab">
            <input type="org.springframework.ide.eclipse.webflow.ui.graph.parts.ChildrenStatePart"/>
         </propertySection>
         <propertySection
               afterSection="org.springframework.ide.eclipse.webflow.ui.graph.StateIdSection"
               class="org.springframework.ide.eclipse.webflow.ui.graph.properties.ActionNameSection"
               filter="org.springframework.ide.eclipse.webflow.ui.graph.properties.ActionNameSectionFilter"
               id="org.springframework.ide.eclipse.webflow.ui.graph.ActionNameSection"
               tab="org.springframework.ide.eclipse.webflow.ui.graph.GeneralTab">
         </propertySection>
         <propertySection
               afterSection="org.springframework.ide.eclipse.webflow.ui.graph.ActionNameSection"
               class="org.springframework.ide.eclipse.webflow.ui.graph.properties.ActionBeanSection"
               filter="org.springframework.ide.eclipse.webflow.ui.graph.properties.BeanActionSectionFilter"
               id="org.springframework.ide.eclipse.webflow.ui.graph.ActionBeanSection"
               tab="org.springframework.ide.eclipse.webflow.ui.graph.GeneralTab">
         </propertySection>
         <propertySection
               afterSection="org.springframework.ide.eclipse.webflow.ui.graph.properties.ActionBeanSection"
               class="org.springframework.ide.eclipse.webflow.ui.graph.properties.ActionMethodSection"
               filter="org.springframework.ide.eclipse.webflow.ui.graph.properties.BeanActionSectionFilter"
               id="org.springframework.ide.eclipse.webflow.ui.graph.ActionMethodSection"
               tab="org.springframework.ide.eclipse.webflow.ui.graph.GeneralTab">
         </propertySection>
         <propertySection
         	   afterSection="org.springframework.ide.eclipse.webflow.ui.graph.properties.ViewSection"
               class="org.springframework.ide.eclipse.webflow.ui.graph.properties.FlowSection"
               filter="org.springframework.ide.eclipse.webflow.ui.graph.properties.FlowSectionFilter"
               id="org.springframework.ide.eclipse.webflow.ui.graph.properties.FlowSection"
               tab="org.springframework.ide.eclipse.webflow.ui.graph.GeneralTab">
         </propertySection>
         <propertySection
         	   afterSection="org.springframework.ide.eclipse.webflow.ui.graph.properties.FlowSection"
               class="org.springframework.ide.eclipse.webflow.ui.graph.properties.AdvancedEditSection"
               filter="org.springframework.ide.eclipse.webflow.ui.graph.properties.AdvancedEditSectionFilter"
               id="org.springframework.ide.eclipse.webflow.ui.graph.AdvancedEditSection"
               tab="org.springframework.ide.eclipse.webflow.ui.graph.GeneralTab">
         </propertySection>
         <propertySection
	           afterSection="org.springframework.ide.eclipse.webflow.ui.graph.AdvancedEditSection"
               class="org.springframework.ide.eclipse.webflow.ui.graph.properties.AttributeSection"
               filter="org.springframework.ide.eclipse.webflow.ui.graph.properties.AdvancedEditSectionFilter"
               id="org.springframework.ide.eclipse.webflow.ui.graph.AttributeSection"
               tab="org.springframework.ide.eclipse.webflow.ui.graph.AttributesTab">
         </propertySection>
         <propertySection
	           afterSection="org.springframework.ide.eclipse.webflow.ui.graph.AttributeSection"
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               filter="org.springframework.ide.eclipse.webflow.ui.graph.properties.AdvancedEditSectionFilter"
               id="org.springframework.ide.eclipse.webflow.ui.graph.AdvancedSection"
               tab="org.springframework.ide.eclipse.webflow.ui.graph.AdvancedTab">
         </propertySection>
      </propertySections>
   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
	 	<page id="org.springframework.ide.eclipse.webflow.ui.graph.preferencePage"
  	      	name="Web Flow Support"
	      	class="org.springframework.ide.eclipse.webflow.ui.graph.preferences.WebflowGraphColorPreferencePage"
	      	category="org.springsource.ide.eclipse.commons.preferencePage">
   		     <keywordReference
            	id="org.springframework.ide.eclipse.webflow.ui.keywords">
      		</keywordReference>
   		</page>
	</extension>
	
    <extension point="org.eclipse.ui.keywords">
         <keyword  id="org.springframework.ide.eclipse.webflow.ui.keywords"
            label="%preferenceKeywords.label"/>
    </extension>
   
</plugin>
