<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/*******************************************************************************
 * Copyright (c) 2005, 2013 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>

	<extension
         point="org.eclipse.ltk.core.refactoring.refactoringContributions">
      <contribution
            class="org.springframework.ide.eclipse.beans.ui.refactoring.ltk.RenameIdRefactoringContribution"
            id="org.springframework.ide.eclipse.beans.ui.refactoring.ltk.renameIdRefactoring"/>
   </extension>

	<extension
		point="org.eclipse.ltk.core.refactoring.renameParticipants">
		<renameParticipant
			class="org.springframework.ide.eclipse.beans.ui.refactoring.model.BeansConfigRenameRefactoringParticipant"
			id="org.springframework.ide.eclipse.beans.ui.refactoring.beansConfigRenameRefactoringParticipant"
			name="%beansConfigRenameParticipant.name">
			<enablement>
				<with variable="element">
					<instanceof value="org.eclipse.core.resources.IFile">
					</instanceof>
				</with>
			</enablement>
		</renameParticipant>
		<renameParticipant
			class="org.springframework.ide.eclipse.beans.ui.refactoring.model.BeansJavaConfigRenameTypeRefactoringParticipant"
			id="org.springframework.ide.eclipse.beans.ui.refactoring.beansJavaConfigRenameRefactoringParticipant"
			name="%beansJavaConfigRenameParticipant.name">
			<enablement>
				<with variable="element">
					<instanceof value="org.eclipse.jdt.core.IType"/>
				</with>
			</enablement>
		</renameParticipant>
		<renameParticipant
			class="org.springframework.ide.eclipse.beans.ui.refactoring.model.BeansJavaConfigRenamePackageRefactoringParticipant"
			id="org.springframework.ide.eclipse.beans.ui.refactoring.beansJavaConfigRenamePackageRefactoringParticipant"
			name="%beansJavaConfigRenameParticipant.name">
			<enablement>
				<with variable="element">
					<instanceof value="org.eclipse.jdt.core.IPackageFragment"/>
				</with>
			</enablement>
		</renameParticipant>
		<renameParticipant
			class="org.springframework.ide.eclipse.beans.ui.refactoring.jdt.BeansTypeRenameRefactoringParticipant"
			id="org.springframework.ide.eclipse.beans.ui.refactoring.beanTypeRenameParticipant"
			name="%beanTypeRenameParticipant.name">
			<enablement>
				<with variable="element">
					<instanceof value="org.eclipse.jdt.core.IType">
					</instanceof>
				</with>
			</enablement>
		</renameParticipant>
		<renameParticipant
			class="org.springframework.ide.eclipse.beans.ui.refactoring.jdt.BeansMethodRenameRefactoringParticipant"
			id="org.springframework.ide.eclipse.beans.ui.refactoring.beanMethodRenameParticipant"
			name="%beanMethodRenameParticipant.name">
			<enablement>
				<with variable="element">
					<instanceof value="org.eclipse.jdt.core.IMethod">
					</instanceof>
				</with>
			</enablement>
		</renameParticipant>
		<renameParticipant
			class="org.springframework.ide.eclipse.beans.ui.refactoring.jdt.BeansPackageRenameRefactoringParticipant"
			id="org.springframework.ide.eclipse.beans.ui.refactoring.beanPackageRenameParticipant"
			name="%beanPackageRenameParticipant.name">
			<enablement>
				<with variable="element">
					<instanceof
						value="org.eclipse.jdt.core.IPackageFragment">
					</instanceof>
				</with>
			</enablement>
		</renameParticipant>
		<renameParticipant
			class="org.springframework.ide.eclipse.beans.ui.refactoring.jdt.ConstructorArgumentRenameRefactoringParticipant"
			id="org.springframework.ide.eclipse.beans.ui.refactoring.constructorArgumentRenameParticipant"
			name="%constructorArgumentRenameParticipant.name">
			<enablement>
				<with variable="element">
					<instanceof
						value="org.eclipse.jdt.core.ILocalVariable">
					</instanceof>
				</with>
			</enablement>
		</renameParticipant>
	</extension>

	<extension
		point="org.eclipse.jdt.core.manipulation.changeMethodSignatureParticipants">
		<changeMethodSignatureParticipant
			class="org.springframework.ide.eclipse.beans.ui.refactoring.jdt.BeansChangeMethodSignatureParticipant"
			id="org.springframework.ide.eclipse.beans.ui.refactoring.beanChangeMethodSignatureParticipant"
			name="%beanMethodRenameParticipant.name">
			<enablement>
				<with variable="element">
					<instanceof value="org.eclipse.jdt.core.IMethod">
					</instanceof>
				</with>
			</enablement>
		</changeMethodSignatureParticipant>
	</extension>

	<extension
		point="org.eclipse.ltk.core.refactoring.moveParticipants">
		<moveParticipant
			class="org.springframework.ide.eclipse.beans.ui.refactoring.jdt.BeansTypeMoveRefactoringParticipant"
			id="org.springframework.ide.eclipse.beans.ui.refactoring.beanTypeMoveParticipant"
			name="%beanTypeMoveParticipant.name">
			<enablement>
				<with variable="element">
					<instanceof value="org.eclipse.jdt.core.IType">
					</instanceof>
				</with>
			</enablement>
		</moveParticipant>
		<moveParticipant
			class="org.springframework.ide.eclipse.beans.ui.refactoring.model.BeansConfigMoveRefactoringParticipant"
			id="org.springframework.ide.eclipse.beans.ui.refactoring.beansConfigMoveRefactoringParticipant"
			name="%beansConfigMoveParticipant.name">
			<enablement>
				<with variable="element">
					<instanceof value="org.eclipse.core.resources.IFile">
					</instanceof>
				</with>
			</enablement>
		</moveParticipant>
		<moveParticipant
			class="org.springframework.ide.eclipse.beans.ui.refactoring.model.BeansJavaConfigMoveTypeRefactoringParticipant"
			id="org.springframework.ide.eclipse.beans.ui.refactoring.beansJavaConfigMoveRefactoringParticipant"
			name="%beansJavaConfigMoveParticipant.name">
			<enablement>
				<with variable="element">
					<instanceof value="org.eclipse.jdt.core.IType">
					</instanceof>
				</with>
			</enablement>
		</moveParticipant>
	</extension>
<!--
	<extension point="org.eclipse.ui.editorActions">
		<editorContribution
			id="org.springframework.ide.eclipse.beans.ui.refactoring.actions"
			targetID="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorPart">
			<menu label="%refactorMenu.label" path="sourceMenuId"
				id="org.springframework.ide.eclipse.beans.ui.refactoring.menu">
				<groupMarker name="sourceGroup"></groupMarker>
			</menu>
			<action
				id="org.springframework.ide.eclipse.beans.ui.refactoring.refactorBeanClassAction"
				label="%renameBeanElement.label"
				definitionId="org.springframework.ide.eclipse.beans.ui.refactoring.commands.refactorBeanClassAction"
				menubarPath="org.springframework.ide.eclipse.beans.ui.refactoring.menu/sourceGroup"
				class="org.springframework.ide.eclipse.beans.ui.refactoring.actions.BeansRenameRefactorAction">
			</action>
			<action
				id="org.springframework.ide.eclipse.beans.ui.refactoring.moveBeanClassAction"
				label="%moveBeanElement.label"
				definitionId="org.springframework.ide.eclipse.beans.ui.refactoring.commands.moveBeanClassAction"
				menubarPath="org.springframework.ide.eclipse.beans.ui.refactoring.menu/sourceGroup"
				class="org.springframework.ide.eclipse.beans.ui.refactoring.actions.BeansMoveRefactorAction">
			</action>
			<action
				id="org.springframework.ide.eclipse.beans.ui.editor.actions.refactorPropertyElementAction"
				label="%refactorPropertyElement.label"
				menubarPath="org.springframework.ide.eclipse.beans.ui.refactoring.menu/sourceGroup"
				class="org.springframework.ide.eclipse.beans.ui.refactoring.actions.RefactorPropertyElementAction">
			</action>
		</editorContribution>
	</extension>

	<extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
			targetID="org.springframework.ide.eclipse.beans.ui.editor.beansConfig.source.EditorContext"
			id="org.springframework.ide.eclipse.beans.ui.editor.actions.context">
			<menu label="%refactorMenu.label" path="sourcePopupMenuId"
				id="org.springframework.ide.eclipse.beans.ui.editor.actions.rector.menu">
			</menu>
			<action
				class="org.springframework.ide.eclipse.beans.ui.refactoring.actions.BeansRenameRefactorAction"
				id="org.springframework.ide.eclipse.beans.ui.refactoring.context.refactorBeanClassAction"
				label="%renameBeanElement.label"
				menubarPath="org.springframework.ide.eclipse.beans.ui.editor.actions.rector.menu/group1">
			</action>
			<action
				class="org.springframework.ide.eclipse.beans.ui.refactoring.actions.BeansMoveRefactorAction"
				id="org.springframework.ide.eclipse.beans.ui.refactoring.context.moveBeanClassAction"
				label="%moveBeanElement.label"
				menubarPath="org.springframework.ide.eclipse.beans.ui.editor.actions.rector.menu/group1">
			</action>
			<action
				class="org.springframework.ide.eclipse.beans.ui.refactoring.actions.RefactorPropertyElementAction"
				id="org.springframework.ide.eclipse.beans.ui.editor.actions.refactorPropertyElementAction"
				label="%refactorPropertyElement.label"
				menubarPath="org.springframework.ide.eclipse.beans.ui.editor.actions.rector.menu/group1">
			</action>
		</viewerContribution>
	</extension>
-->
<!--
	<extension point="org.eclipse.ui.commands">
		<command
			id="org.springframework.ide.eclipse.beans.ui.refactoring.context.refactorBeanClassAction"
			name="%renameBeanElement.label"
			defaultHandler="org.springframework.ide.eclipse.beans.ui.refactoring.actions.BeansRenameRefactorAction"
			categoryId="org.eclipse.jdt.ui.category.refactoring"/>
		<command
			id="org.springframework.ide.eclipse.beans.ui.refactoring.commands.refactorBeanClassAction"
			name="Rename Bean Java Elements"
			categoryId="org.eclipse.jdt.ui.category.refactoring"/>
		<command
			id="org.springframework.ide.eclipse.beans.ui.refactoring.commands.moveBeanClassAction"
			name="Move Bean Class"
			categoryId="org.eclipse.jdt.ui.category.refactoring"/>
		<command
			id="org.springframework.ide.eclipse.beans.ui.editor.actions.refactorPropertyElementAction"
			name="Refactor Property Element"
			categoryId="org.eclipse.jdt.ui.category.refactoring"/>
	</extension>

	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:org.eclipse.wst.sse.ui.StructuredTextEditor.EditorContext?before=additions">
			<command commandId="org.springframework.ide.eclipse.beans.ui.refactoring.context.refactorBeanClassAction" />
		</menuContribution>
	</extension>
-->
<!--
	<extension point="org.eclipse.ui.bindings">
		<key sequence="M2+M3+R"
			commandId="org.springframework.ide.eclipse.beans.ui.refactoring.commands.refactorBeanClassAction"
			contextId="org.eclipse.wst.sse.ui.structuredTextEditorScope"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
		<key platform="carbon" sequence="M2+M3+R" commandId=""
			contextId="org.eclipse.wst.sse.ui.structuredTextEditorScope"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
		<key platform="carbon" sequence="COMMAND+ALT+R"
			commandId="org.springframework.ide.eclipse.beans.ui.refactoring.commands.refactorBeanClassAction"
			contextId="org.eclipse.wst.sse.ui.structuredTextEditorScope"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />

		<key sequence="M2+M3+V"
			commandId="org.springframework.ide.eclipse.beans.ui.refactoring.commands.moveBeanClassAction"
			contextId="org.eclipse.wst.sse.ui.structuredTextEditorScope"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
		<key platform="carbon" sequence="M2+M3+V" commandId=""
			contextId="org.eclipse.wst.sse.ui.structuredTextEditorScope"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
		<key platform="carbon" sequence="COMMAND+ALT+V"
			commandId="org.springframework.ide.eclipse.beans.ui.refactoring.commands.moveBeanClassAction"
			contextId="org.eclipse.wst.sse.ui.structuredTextEditorScope"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />

	</extension>
-->

</plugin>
