<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/*******************************************************************************
 * Copyright (c) 2005, 2009 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>

	<extension-point id="aspectdefinitionbuilder" name="%extensionAspectDefinitionBuilder.name"
		schema="schema/aspectdefinitionbuilder.exsd" />

	<extension 
		point="org.springframework.ide.eclipse.core.builders">
		<builder
	        class="org.springframework.ide.eclipse.aop.core.builder.AopReferenceModelProjectBuilder"
	        description="%aopBuilder.description"
	        enabledByDefault="true"
	        icon="icons/full/obj16/aspect_obj.gif"
	        id="aopreferencemodelbuilder"
	        name="%aopBuilder.name">
		</builder>
	</extension>

	<extension id="marker" name="%marker.name"
		point="org.eclipse.core.resources.markers">
		<persistent value="false" />
		<super type="org.eclipse.core.resources.textmarker" />
	</extension>
	 
	<extension id="problemmarker" name="%problemMarker.name"
		point="org.eclipse.core.resources.markers">
		<persistent value="true" />
		<super type="org.eclipse.core.resources.textmarker" />
		<super type="org.eclipse.core.resources.problemmarker" />
	</extension>

	<extension point="org.eclipse.ui.ide.markerSupport">
		<markerTypeCategory name="%markerCategory.name">
			<markerTypeReference id="org.springframework.ide.eclipse.aop.core.aopproblemmarker"/>
		</markerTypeCategory>
	</extension>

	<extension id="sourcebeforeadvicemarker"
		name="%beforeAdviceMarker.name"
		point="org.eclipse.core.resources.markers">
		<super
			type="org.springframework.ide.eclipse.aop.core.marker">
		</super>
	</extension>
	
	<extension id="sourceafteradvicemarker"
		name="%afterAdviceMarker.name"
		point="org.eclipse.core.resources.markers">
		<super
			type="org.springframework.ide.eclipse.aop.core.marker">
		</super>
	</extension>
	
	<extension id="sourcearoundadvicemarker"
		name="%aroundAdviceMarker.name"
		point="org.eclipse.core.resources.markers">
		<super
			type="org.springframework.ide.eclipse.aop.core.marker">
		</super>
	</extension>
	
	<extension id="sourceintroductionmarker"
		name="%introductionMarker.name"
		point="org.eclipse.core.resources.markers">
		<super
			type="org.springframework.ide.eclipse.aop.core.marker">
		</super>
	</extension>

	<extension id="beforeadvicemarker" name="%beforeAdviceMarker.name"
		point="org.eclipse.core.resources.markers">
		<super
			type="org.springframework.ide.eclipse.aop.core.marker">
		</super>
	</extension>
	
	<extension id="afteradvicemarker" name="%afterAdviceMarker.name"
		point="org.eclipse.core.resources.markers">
		<super
			type="org.springframework.ide.eclipse.aop.core.marker">
		</super>
	</extension>
	
	<extension id="aroundadvicemarker" name="%aroundAdviceMarker.name"
		point="org.eclipse.core.resources.markers">
		<super
			type="org.springframework.ide.eclipse.aop.core.marker">
		</super>
	</extension>
	
	<extension id="introductionmarker" name="%introductionMarker.name"
		point="org.eclipse.core.resources.markers">
		<super
			type="org.springframework.ide.eclipse.aop.core.marker">
		</super>
	</extension>

	<extension point="org.eclipse.ui.editors.annotationTypes">
		<type
			name="org.springframework.ide.eclipse.aop.core.aopannotation"
			markerType="org.springframework.ide.eclipse.aop.core.marker">
		</type>
		<type
			super="org.springframework.ide.eclipse.aop.core.aopannotation"
			markerType="org.springframework.ide.eclipse.aop.core.beforeadvicemarker"
			name="org.springframework.ide.eclipse.aop.core.beforeAdviceAnnotation" />
		<type
			super="org.springframework.ide.eclipse.aop.core.aopannotation"
			markerType="org.springframework.ide.eclipse.aop.core.afteradvicemarker"
			name="org.springframework.ide.eclipse.aop.core.afterAdviceAnnotation" />
		<type
			super="org.springframework.ide.eclipse.aop.core.aopannotation"
			markerType="org.springframework.ide.eclipse.aop.core.aroundadvicemarker"
			name="org.springframework.ide.eclipse.aop.core.aroundAdviceAnnotation" />
		<type
			super="org.springframework.ide.eclipse.aop.core.aopannotation"
			markerType="org.springframework.ide.eclipse.aop.core.introductionmarker"
			name="org.springframework.ide.eclipse.aop.core.introductionAnnotation" />
		<type
			super="org.springframework.ide.eclipse.aop.core.aopannotation"
			markerType="org.springframework.ide.eclipse.aop.core.sourcebeforeadvicemarker"
			name="org.springframework.ide.eclipse.aop.core.sourceBeforeAdviceAnnotation" />
		<type
			super="org.springframework.ide.eclipse.aop.core.aopannotation"
			markerType="org.springframework.ide.eclipse.aop.core.sourceafteradvicemarker"
			name="org.springframework.ide.eclipse.aop.core.sourceAfterAdviceAnnotation" />
		<type
			super="org.springframework.ide.eclipse.aop.core.aopannotation"
			markerType="org.springframework.ide.eclipse.aop.core.sourcearoundadvicemarker"
			name="org.springframework.ide.eclipse.aop.core.sourceAroundAdviceAnnotation" />
		<type
			super="org.springframework.ide.eclipse.aop.core.aopannotation"
			markerType="org.springframework.ide.eclipse.aop.core.sourceintroductionmarker"
			name="org.springframework.ide.eclipse.aop.core.sourceIntroductionAnnotation" />
	</extension>

	<extension
		point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification
			annotationType="org.springframework.ide.eclipse.aop.core.aopannotation"
			label="%advice.label" icon="icons/markers/advice.gif"
			textPreferenceKey="adviceIndication" textPreferenceValue="true"
			overviewRulerPreferenceKey="adviceIndicationInOverviewRuler"
			overviewRulerPreferenceValue="true"
			verticalRulerPreferenceKey="adviceIndicationInVerticalRuler"
			verticalRulerPreferenceValue="true"
			colorPreferenceKey="adviceIndicationColor"
			colorPreferenceValue="222,109,33" presentationLayer="4">
		</specification>
		<specification
			annotationType="org.springframework.ide.eclipse.aop.core.sourceBeforeAdviceAnnotation"
			icon="icons/markers/source_before_advice.gif">
		</specification>
		<specification
			annotationType="org.springframework.ide.eclipse.aop.core.sourceAfterAdviceAnnotation"
			icon="icons/markers/source_after_advice.gif">
		</specification>
		<specification
			annotationType="org.springframework.ide.eclipse.aop.core.sourceAroundAdviceAnnotation"
			icon="icons/markers/source_around_advice.gif">
		</specification>
		<specification
			annotationType="org.springframework.ide.eclipse.aop.core.sourceIntroductionAnnotation"
			icon="icons/markers/source_itd.gif">
		</specification>
		<specification
			annotationType="org.springframework.ide.eclipse.aop.core.beforeAdviceAnnotation"
			icon="icons/markers/before_advice.gif">
		</specification>
		<specification
			annotationType="org.springframework.ide.eclipse.aop.core.afterAdviceAnnotation"
			icon="icons/markers/after_advice.gif">
		</specification>
		<specification
			annotationType="org.springframework.ide.eclipse.aop.core.aroundAdviceAnnotation"
			icon="icons/markers/around_advice.gif">
		</specification>
		<specification
			annotationType="org.springframework.ide.eclipse.aop.core.introductionAnnotation"
			icon="icons/markers/itd.gif">
		</specification>
	</extension>
	
	<extension
       point="org.springframework.ide.eclipse.aop.core.aspectdefinitionbuilder">
    	<aspectDefinitionBuilder
        	class="org.springframework.ide.eclipse.aop.core.internal.model.builder.XmlAspectDefinitionBuilder">
    	</aspectDefinitionBuilder>
    	<aspectDefinitionBuilder
          	class="org.springframework.ide.eclipse.aop.core.internal.model.builder.AnnotationAspectDefinitionBuilder">
    	</aspectDefinitionBuilder>
    	<aspectDefinitionBuilder
          	class="org.springframework.ide.eclipse.aop.core.internal.model.builder.TransactionalXmlAspectDefinitionBuilder">
    	</aspectDefinitionBuilder>
 	</extension>

</plugin>
