<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension id="aopvalidator" name="%aopValidator.name"
		point="org.springframework.ide.eclipse.core.builders">
		<run
			class="org.springframework.ide.eclipse.aop.core.builder.AopReferenceModelProjectBuilder">
		</run>
	</extension>

	<extension id="aopmarker" name="%aopMarker.name"
		point="org.eclipse.core.resources.markers">
		<persistent value="false" />
		<super type="org.eclipse.core.resources.textmarker" />
	</extension>
	
	<extension id="aopproblemmarker" name="%aopProblemMarker.name"
		point="org.eclipse.core.resources.markers">
		<persistent value="false" />
		<super type="org.eclipse.core.resources.textmarker" />
		<super type="org.eclipse.core.resources.problemmarker" />
		<!--super type="org.springframework.ide.eclipse.aop.core.aopmarker" /-->
	</extension>
	
	<extension id="sourcebeforeadvicemarker"
		name="%beforeAdviceMarker.name"
		point="org.eclipse.core.resources.markers">
		<super
			type="org.springframework.ide.eclipse.aop.core.aopmarker">
		</super>
	</extension>
	
	<extension id="sourceafteradvicemarker"
		name="%afterAdviceMarker.name"
		point="org.eclipse.core.resources.markers">
		<super
			type="org.springframework.ide.eclipse.aop.core.aopmarker">
		</super>
	</extension>
	
	<extension id="sourcearoundadvicemarker"
		name="%aroundAdviceMarker.name"
		point="org.eclipse.core.resources.markers">
		<super
			type="org.springframework.ide.eclipse.aop.core.aopmarker">
		</super>
	</extension>
	
	<extension id="sourceintroductionmarker"
		name="%introductionMarker.name"
		point="org.eclipse.core.resources.markers">
		<super
			type="org.springframework.ide.eclipse.aop.core.aopmarker">
		</super>
	</extension>

	<extension id="beforeadvicemarker" name="%beforeAdviceMarker.name"
		point="org.eclipse.core.resources.markers">
		<super
			type="org.springframework.ide.eclipse.aop.core.aopmarker">
		</super>
	</extension>
	
	<extension id="afteradvicemarker" name="%afterAdviceMarker.name"
		point="org.eclipse.core.resources.markers">
		<super
			type="org.springframework.ide.eclipse.aop.core.aopmarker">
		</super>
	</extension>
	
	<extension id="aroundadvicemarker" name="%aroundAdviceMarker.name"
		point="org.eclipse.core.resources.markers">
		<super
			type="org.springframework.ide.eclipse.aop.core.aopmarker">
		</super>
	</extension>
	
	<extension id="introductionmarker" name="%introductionMarker.name"
		point="org.eclipse.core.resources.markers">
		<super
			type="org.springframework.ide.eclipse.aop.core.aopmarker">
		</super>
	</extension>

	<extension point="org.eclipse.ui.editors.annotationTypes">
		<type
			name="org.springframework.ide.eclipse.aop.core.aopannotation"
			markerType="org.springframework.ide.eclipse.aop.core.aopmarker">
		</type>
		<type
			super="org.springframework.ide.eclipse.aop.core.aopannotation"
			markerType="org.springframework.ide.eclipse.aop.core.beforeadvicemarker"
			name="org.springframework.ide.eclipse.aop.core.beforeAdviceAnnotation" />
		<type
			super="org.springframework.ide.eclipse.aop.core.aopannotation"
			markerType="org.springframework.ide.eclipse.aop.core.afteradvicemarker"
			name="org.springframework.ide.eclipse.aop.core.afterAdviceAnnotation" />
		<type
			super="org.springframework.ide.eclipse.aop.core.aopannotation"
			markerType="org.springframework.ide.eclipse.aop.core.aroundadvicemarker"
			name="org.springframework.ide.eclipse.aop.core.aroundAdviceAnnotation" />
		<type
			super="org.springframework.ide.eclipse.aop.core.aopannotation"
			markerType="org.springframework.ide.eclipse.aop.core.introductionmarker"
			name="org.springframework.ide.eclipse.aop.core.introductionAnnotation" />
		<type
			super="org.springframework.ide.eclipse.aop.core.aopannotation"
			markerType="org.springframework.ide.eclipse.aop.core.sourcebeforeadvicemarker"
			name="org.springframework.ide.eclipse.aop.core.sourceBeforeAdviceAnnotation" />
		<type
			super="org.springframework.ide.eclipse.aop.core.aopannotation"
			markerType="org.springframework.ide.eclipse.aop.core.sourceafteradvicemarker"
			name="org.springframework.ide.eclipse.aop.core.sourceAfterAdviceAnnotation" />
		<type
			super="org.springframework.ide.eclipse.aop.core.aopannotation"
			markerType="org.springframework.ide.eclipse.aop.core.sourcearoundadvicemarker"
			name="org.springframework.ide.eclipse.aop.core.sourceAroundAdviceAnnotation" />
		<type
			super="org.springframework.ide.eclipse.aop.core.aopannotation"
			markerType="org.springframework.ide.eclipse.aop.core.sourceintroductionmarker"
			name="org.springframework.ide.eclipse.aop.core.sourceIntroductionAnnotation" />
	</extension>

	<extension
		point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification
			annotationType="org.springframework.ide.eclipse.aop.core.aopannotation"
			label="%advice.label" icon="icons/markers/advice.gif"
			textPreferenceKey="adviceIndication" textPreferenceValue="true"
			overviewRulerPreferenceKey="adviceIndicationInOverviewRuler"
			overviewRulerPreferenceValue="true"
			verticalRulerPreferenceKey="adviceIndicationInVerticalRuler"
			verticalRulerPreferenceValue="true"
			colorPreferenceKey="adviceIndicationColor"
			colorPreferenceValue="222,109,33" presentationLayer="4">
		</specification>
		<specification
			annotationType="org.springframework.ide.eclipse.aop.core.sourceBeforeAdviceAnnotation"
			icon="icons/markers/source_before_advice.gif">
		</specification>
		<specification
			annotationType="org.springframework.ide.eclipse.aop.core.sourceAfterAdviceAnnotation"
			icon="icons/markers/source_after_advice.gif">
		</specification>
		<specification
			annotationType="org.springframework.ide.eclipse.aop.core.sourceAroundAdviceAnnotation"
			icon="icons/markers/source_around_advice.gif">
		</specification>
		<specification
			annotationType="org.springframework.ide.eclipse.aop.core.sourceIntroductionAnnotation"
			icon="icons/markers/source_itd.gif">
		</specification>
		<specification
			annotationType="org.springframework.ide.eclipse.aop.core.beforeAdviceAnnotation"
			icon="icons/markers/before_advice.gif">
		</specification>
		<specification
			annotationType="org.springframework.ide.eclipse.aop.core.afterAdviceAnnotation"
			icon="icons/markers/after_advice.gif">
		</specification>
		<specification
			annotationType="org.springframework.ide.eclipse.aop.core.aroundAdviceAnnotation"
			icon="icons/markers/around_advice.gif">
		</specification>
		<specification
			annotationType="org.springframework.ide.eclipse.aop.core.introductionAnnotation"
			icon="icons/markers/itd.gif">
		</specification>
	</extension>

</plugin>
