<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="builders" name="%buildersName" schema="schema/builders.exsd"/>
   <extension-point id="validators" name="%validatorsName" schema="schema/validators.exsd"/>

   <extension
         id="springnature"
         name="%springNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.springframework.ide.eclipse.core.internal.project.SpringProjectNature"/>
      </runtime>
      <builder id="org.springframework.ide.eclipse.core.springbuilder"/>
   </extension>

   <extension point="org.eclipse.core.resources.builders"
         id="springbuilder"
         name="%springBuilder">
      <builder hasNature="true">
         <run class="org.springframework.ide.eclipse.core.internal.project.SpringProjectContributionManager"/>
      </builder>
   </extension>

   <extension point="org.eclipse.core.resources.markers"
         id="problemmarker"
         name="%springProblemMarker">
      <super type="org.eclipse.core.resources.problemmarker"/>
	  <super type="org.eclipse.core.resources.textmarker"/>
   </extension>
</plugin>
