<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="builders" name="&amp;buildersName" schema="schema/builders.exsd"/>

   <extension
         id="springnature"
         name="%springNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.springframework.ide.eclipse.core.internal.project.SpringProjectNature">
         </run>
      </runtime>
      <builder
            id="org.springframework.ide.eclipse.core.springbuilder">
      </builder>
   </extension>

   <extension
         id="springbuilder"
         name="%springBuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.springframework.ide.eclipse.core.internal.project.SpringProjectBuilder">
         </run>
      </builder>
   </extension>

   <extension
         id="problemmarker"
         name="%springProblemMarker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
	  <super type="org.eclipse.core.resources.textmarker"/>
   </extension>
</plugin>
