<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ltk.core.refactoring.refactoringContributions">
      <contribution
            class="org.eclipse.refactoring.IntroduceIndirectionRefactoringContribution"
            id="org.eclipse.introduce.indirection"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Action set containing Refactoring Actions Contributed by STS"
            id="org.springframework.ide.eclipse.refactoring.actionSet"
            label="STS Refactorings"
            visible="true">
         <menu
               label="Refactor"
               path="edit"
               id="org.eclipse.jdt.ui.refactoring.menu">
            <separator name="undoRedoGroup"/>
            <separator name="reorgGroup"/>
            <separator name="codingGroup"/>
            <separator name="reorgGroup2"/>
            <separator name="typeGroup"/>
            <separator name="typeGroup2"/>
            <separator name="codingGroup2"/>
            <separator name="typeGroup3"/>
            <separator name="scriptGroup"/>
         </menu>
         <action
               class="org.springframework.ide.eclipse.refactoring.rename.RenameSimilarTypesAction"
               definitionId="org.springframework.ide.eclipse.refactoring.RenameSimilarTypesAction"
               enablesFor="1"
               id="org.springframework.ide.eclipse.refactoring.RenameSimilarTypesAction"
               label="Rename Similar Types..."
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/reorgGroup"
               style="push"
               tooltip="Rename several types with similar names"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="STS Refactoring Actions"
            id="org.springframework.ide.eclipse.refactoring.category"
            name="STS Refactorings"/>
      <command
            categoryId="org.springframework.ide.eclipse.refactoring.category"
            description="Rename multiple types with similar names"
            id="org.springframework.ide.eclipse.refactoring.RenameSimilarTypesAction"
            name="Rename Similar Types..."/>
   </extension>
   
  <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           adaptable="false"
           id="org.eclipse.ajdt.ui.object.refactorings"
           objectClass="org.eclipse.jdt.core.IType">
        <action
              class="org.springframework.ide.eclipse.refactoring.rename.RenameSimilarTypesAction"
              definitionId="org.springframework.ide.eclipse.refactoring.RenameSimilarTypesAction"
              id="org.springframework.ide.eclipse.refactoring.RenameSimilarTypesAction"
              label="Rename Similar Types..."
              menubarPath="org.eclipse.jdt.ui.refactoring.menu/reorgGroup"
              style="push"
              tooltip="Rename several types with similar names">
        </action>
     </objectContribution>
   </extension>

</plugin>
