<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.springframework.ide.eclipse.boot.commands.category"
            defaultHandler="org.springframework.ide.eclipse.boot.refactoring.ConvertPropertiesToYamlHandler"
            id="org.springframework.ide.eclipse.boot.properties.editor.convertPropertiesToYaml"
            name="Convert .properties to .yaml">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
          locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <command
                  icon="icons/boot-icon.png"
                  commandId="org.springframework.ide.eclipse.boot.properties.editor.convertPropertiesToYaml">
                <visibleWhen
                       checkEnabled="false">
                   <and>
                       <count
                             value="1">
                       </count>
                       <or>
                         <with variable="activeEditorId">
                           <equals value="SpringBootPropertyEditor"/>
                         </with>
                         <with variable="activeMenuSelection">
                          <iterate
                               ifEmpty="false">
                             <adapt type="org.eclipse.core.resources.IResource">
                                  <test property="org.eclipse.core.resources.extension" value="properties" />
                             </adapt>
                          </iterate>
                         </with>
                       </or>
                   </and>
                </visibleWhen>
            </command>
            
      </menuContribution>
   </extension>

</plugin>
