<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Boot Dashboard"
            icon="platform:/plugin/org.springframework.ide.eclipse.boot/resources/icons/boot-icon.png"
            category="org.springframework.ide.eclipse.ui.views"
            class="org.springframework.ide.eclipse.boot.dash.views.BootDashView"
            id="org.springframework.ide.eclipse.boot.dash.views.BootDashView">
      </view>
   </extension>
   
   <!-- TODO: integrate view into spring perspecitive? 
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.springsource.sts.ide.perspective">
         <view
               ratio="0.66"
               relative="org.eclipse.jdt.ui.PackageExplorer"
               relationship="bottom"
               id="org.springframework.ide.eclipse.boot.dash.views.BootDashView">
         </view>
      </perspectiveExtension>
   </extension> -->
</plugin>
