<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
<!--      <view
            name="Boot Dashboard Old"
            icon="platform:/plugin/org.springframework.ide.eclipse.boot/resources/icons/boot-icon.png"
            category="org.springframework.ide.eclipse.ui.views"
            class="org.springframework.ide.eclipse.boot.dash.views.BootDashView"
            id="org.springframework.ide.eclipse.boot.dash.views.OldBootDashView">
      </view> -->
      <view
            name="Boot Dashboard"
            icon="platform:/plugin/org.springframework.ide.eclipse.boot/resources/icons/boot-icon.png"
            category="org.springframework.ide.eclipse.ui.views"
            class="org.springframework.ide.eclipse.boot.dash.views.BootDashTreeView"
            id="org.springframework.ide.eclipse.boot.dash.views.BootDashView">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.springsource.sts.ide.perspective">
         <view
               ratio="0.66"
               relative="org.eclipse.wst.server.ui.ServersView"
               relationship="stack"
               id="org.springframework.ide.eclipse.boot.dash.views.BootDashView">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.springframework.ide.eclipse.boot.dash.propertyContributor"
            labelProvider="org.springframework.ide.eclipse.boot.dash.views.properties.PropertiesTitleLabelProvider">
         <propertyCategory
               category="org.springframework.ide.eclipse.boot.dash"></propertyCategory>
      </propertyContributor>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.springframework.ide.eclipse.boot.dash.propertyContributor">
         <propertyTab
               category="org.springframework.ide.eclipse.boot.dash"
               id="org.springframework.ide.eclipse.boot.dash.tab.General"
               label="General">
         </propertyTab>
         <propertyTab
               afterTab="org.springframework.ide.eclipse.boot.dash.tab.General"
               category="org.springframework.ide.eclipse.boot.dash"
               id="org.springframework.ide.eclipse.boot.dash.tab.RequestMappings"
               label="Request Mappings">
         </propertyTab>
      </propertyTabs>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.springframework.ide.eclipse.boot.dash.propertyContributor">
         <propertySection
               afterSection="org.springframework.ide.eclipse.boot.dash.section.LocalGeneral, org.springframework.ide.eclipse.boot.dash.section.CloudFoundryGeneral"
               class="org.springframework.ide.eclipse.boot.dash.views.properties.RequestMappingPropertiesSection"
               id="org.springframework.ide.eclipse.boot.dash.section.RequestMappingsSection"
               tab="org.springframework.ide.eclipse.boot.dash.tab.RequestMappings">
            <input
                  type="org.springframework.ide.eclipse.boot.dash.model.LaunchConfDashElement">
            </input>
            <input
                  type="org.springframework.ide.eclipse.boot.dash.model.BootProjectDashElement">
            </input>
            <input
                  type="org.springframework.ide.eclipse.boot.dash.cloudfoundry.CloudAppDashElement">
            </input>
         </propertySection>
         <propertySection
               class="org.springframework.ide.eclipse.boot.dash.views.properties.LocalGeneralPropertiesSection"
               id="org.springframework.ide.eclipse.boot.dash.section.LocalGeneral"
               tab="org.springframework.ide.eclipse.boot.dash.tab.General">
            <input
                  type="org.springframework.ide.eclipse.boot.dash.model.LaunchConfDashElement">
            </input>
            <input
                  type="org.springframework.ide.eclipse.boot.dash.model.BootProjectDashElement">
            </input>
         </propertySection>
         <propertySection
               class="org.springframework.ide.eclipse.boot.dash.views.properties.CloudFoundryAppPropertiesSection"
               id="org.springframework.ide.eclipse.boot.dash.section.CloudFoundryGeneral"
               tab="org.springframework.ide.eclipse.boot.dash.tab.General">
            <input
                  type="org.springframework.ide.eclipse.boot.dash.cloudfoundry.CloudAppDashElement">
            </input>
         </propertySection>
         <propertySection
               class="org.springframework.ide.eclipse.boot.dash.views.properties.CloudServiceGeneralPropertiesSection"
               id="org.springframework.ide.eclipse.boot.dash.section.CloudServiceSection"
               tab="org.springframework.ide.eclipse.boot.dash.tab.General">
            <input
                  type="org.springframework.ide.eclipse.boot.dash.cloudfoundry.CloudServiceInstanceDashElement">
            </input>
         </propertySection>
         <propertySection
               class="org.springframework.ide.eclipse.boot.dash.views.properties.LocalCloudServiceGeneralPropertiesSection"
               id="org.springframework.ide.eclipse.boot.dash.section.LocalCloudServiceGeneral"
               tab="org.springframework.ide.eclipse.boot.dash.tab.General">
            <input
                  type="org.springframework.ide.eclipse.boot.dash.model.LocalCloudServiceDashElement">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Show Boot Dashboard view"
            id="org.springframework.ide.eclipse.boot.dash.ShowBootDashboard"
            name="Boot Dashboard">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.springframework.ide.eclipse.boot.dash.views.ShowBootDashboardHandler"
            commandId="org.springframework.ide.eclipse.boot.dash.ShowBootDashboard">
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.springframework.ide.eclipse.boot.dash.toolbar1"
               label="Boot Dashboard">
            <command
                  commandId="org.springframework.ide.eclipse.boot.dash.ShowBootDashboard"
                  icon="platform:/plugin/org.springframework.ide.eclipse.boot/resources/icons/boot-icon.png"
                  label="Boot Dashboard"
                  style="push"
                  tooltip="Boot Dashboard">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   
    <extension point="org.eclipse.ui.preferencePages">
	 	<page
         category="org.springsource.ide.eclipse.commons.preferencePage"
         class="org.springframework.ide.eclipse.boot.dash.ngrok.NGROKInstallPreferencePage"
         id="org.springframework.ide.eclipse.boot.dash.ngrok.NGROKInstallPreferencePage"
         name="ngrok">
   		</page>
   	</extension>
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
	    <launchConfigurationType
	          id="org.springframework.ide.eclipse.boot.dash.ssh.tunnel.launch"
	          name="Boot Dash SSH Debug Tunnel"
	          delegate="org.springframework.ide.eclipse.boot.dash.cloudfoundry.debug.ssh.SshDebugLaunchConfigurationDelegate"
	          modes="debug"
	          sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
	          sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
	    </launchConfigurationType>
     <launchConfigurationType
           id="org.springsource.ide.eclipse.gradle.launch"
           modes="run"
           name="name">
     </launchConfigurationType>
	</extension>

    <extension
          point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	    <launchConfigurationTypeImage
	        icon="platform:/plugin/org.springframework.ide.eclipse.boot/resources/icons/boot-devtools-icon.png"
	        configTypeID="org.springframework.ide.eclipse.boot.dash.ssh.tunnel.launch"
	        id="org.springframework.ide.eclipse.boot.dash.ssh.tunnel.launch.image">
	    </launchConfigurationTypeImage>
    </extension>

<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="org.springframework.ide.eclipse.boot.dash.ssh.tunnel.launch"
        class="org.springframework.ide.eclipse.boot.dash.cloudfoundry.debug.ssh.SshDebugLaunchConfigurationTabGroup"
        id="org.springframework.ide.eclipse.boot.dash.cloudfoundry.debug.ssh.SshDebugLaunchConfigurationTabGroup">
    </launchConfigurationTabGroup>
</extension>
<extension
      point="org.eclipse.compare.contentMergeViewers">
   <contentTypeBinding
         contentMergeViewerId="org.springframework.ide.eclipse.boot.dash.yamlMergeViewer"
         contentTypeId="org.dadacoalition.yedit.yamlsource">
   </contentTypeBinding>
   <viewer
         class="org.springframework.ide.eclipse.boot.dash.cloudfoundry.deployment.YamlMergeViewerCreator"
         extensions="yml"
         id="org.springframework.ide.eclipse.boot.dash.yamlMergeViewer"
         label="YAML Text Merge">
   </viewer>
</extension>

</plugin>
