<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension-point id="namespaces" name="%extensionNamespaces.name"
		schema="schema/namespaces.exsd" />

	<extension-point id="postprocessors" name="%extensionPostProcessors.name"
		schema="schema/postprocessors.exsd" />

	<extension point="org.eclipse.core.resources.markers"
			id="problemmarker"
			name="%beansProblemMarker">
		<super type="org.springframework.ide.eclipse.core.problemmarker" />
		<attribute name="ruleId"/>
		<attribute name="errorId"/>
		<persistent value="true" />
	</extension>

<!--
	<extension point="org.springframework.ide.eclipse.core.builders">
		<builder 
			id="beansvalidator" 
			name="%beansValidator.name"
			enabledByDefault="true"
			description="%beansValidator.description"
			class="org.springframework.ide.eclipse.beans.core.internal.project.BeansProjectValidator">
		</builder>
	</extension>
-->
	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
			class="org.springframework.ide.eclipse.beans.core.internal.model.BeansModelPropertyTester"
			id="org.springframework.ide.eclipse.beans.core.beansModelTester"
			namespace="org.springframework.ide.eclipse.beans.core.model"
			properties="isBeansConfig" 
			type="org.eclipse.core.resources.IFile" />
	</extension>
	
	<extension point="org.eclipse.ui.elementFactories">
		<factory id="org.springframework.ide.eclipse.beans.core.factoryId"
			class="org.springframework.ide.eclipse.beans.core.internal.model.BeansModelElementFactory" />      
	</extension>
 
	 <extension
	       point="org.springframework.ide.eclipse.core.validators">
	    <validator id="beansvalidator"
	          class="org.springframework.ide.eclipse.beans.core.internal.model.validation.BeansConfigValidator"
	          name="%beansValidator.name"
	          description="%beansValidator.description"
			  icon="icons/full/obj16/bean_obj.gif"
			  markerId="problemmarker"
			  enabledByDefault="true"/>
	    <rules validatorId="org.springframework.ide.eclipse.beans.core.beansvalidator">
		    <rule id="beanDefinitionHolder"
		            class="org.springframework.ide.eclipse.beans.core.internal.model.validation.rules.BeanDefinitionHolderRule"
		            name="%beansValidator.rule.beanDefinitionHolder.name"
		            description="%beansValidator.rule.beanDefinitionHolder.description"/>
		    <rule id="beanDefinition"
		            class="org.springframework.ide.eclipse.beans.core.internal.model.validation.rules.BeanDefinitionRule"
		            name="%beansValidator.rule.beanDefinition.name"
		            description="%beansValidator.rule.beanDefinition.description"/>
		    <rule id="beanClass"
		            class="org.springframework.ide.eclipse.beans.core.internal.model.validation.rules.BeanClassRule"
		            name="%beansValidator.rule.beanClass.name"
		            description="%beansValidator.rule.beanClass.description"/>
		    <rule id="beanConstructorArguments"
		            class="org.springframework.ide.eclipse.beans.core.internal.model.validation.rules.BeanConstructorArgumentsRule"
		            name="%beansValidator.rule.beanConstructorArguments.name"
		            description="%beansValidator.rule.beanConstructorArguments.description"/>
		    <rule id="beanInitDestroyMethod"
		            class="org.springframework.ide.eclipse.beans.core.internal.model.validation.rules.BeanInitDestroyMethodRule"
		            name="%beansValidator.rule.beanInitDestroyMethod.name"
		            description="%beansValidator.rule.beanInitDestroyMethod.description"/>
		    <rule id="beanFactory"
		            class="org.springframework.ide.eclipse.beans.core.internal.model.validation.rules.BeanFactoryRule"
		            name="%beansValidator.rule.beanFactory.name"
		            description="%beansValidator.rule.beanFactory.description"/>
	    </rules>
	</extension>
</plugin>
