<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<!--
/*******************************************************************************
 * Copyright (c) 2016 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>
   <extension-point id="org.springframework.ide.eclipse.wizard.import.strategy" name="org.springframework.ide.eclipse.wizard.import.strategy" schema="schema/org.springframework.ide.eclipse.wizard.import.strategy.exsd"/>

 <extension
       point="org.eclipse.ui.newWizards">
   <wizard
         category="org.springframework.ide.eclipse.beans.ui.wizards.category"
         icon="icons/full/etool16/new_template_project_obj.png"
         class="org.springframework.ide.eclipse.boot.wizard.NewSpringBootWizard"
         hasPages="true"
         id="org.springsource.ide.eclipse.commons.gettingstarted.wizard.boot.NewSpringBootWizard"
         name="Spring Starter Project"
         project="true">
       <description>Create new Spring Starter Project via the Spring Initializr Web Service</description>
   </wizard>
      
      <!-- an 'alias' for the GS import wizard that shows up in the File >> New menu -->
      <wizard
            category="org.springframework.ide.eclipse.beans.ui.wizards.category"
            class="org.springframework.ide.eclipse.boot.wizard.guides.GSImportWizard"
            icon="icons/full/etool16/new_template_project_obj.png"
            id="org.springsource.ide.eclipse.gettingstarted.wizards.import.generic.newalias"
            name="Import Spring Getting Started Content"
            project="true"> 
         <description> 
            An import wizards that imports code associated with a Spring Getting Started Guide
         </description> 
         <selection class="org.eclipse.core.resources.IResource"/> 
      </wizard>
      
      <wizard
            category="org.springsource.ide.eclipse.gettingstarted.wizards.import.category"
            class="org.springframework.ide.eclipse.boot.wizard.guides.GSImportWizard"
            id="org.springsource.ide.eclipse.gettingstarted.wizards.import.generic"
            icon="icons/full/etool16/new_template_project_obj.png"
            name="Spring Getting Started Content"> 
         <description> 
            An import wizards that imports code associated with a Spring Getting Started Guide
         </description> 
         <selection class="org.eclipse.core.resources.IResource"/> 
      </wizard>
      
      <category
            id="org.springsource.ide.eclipse.gettingstarted.wizards.import.category"
            name="Spring">
      </category> 

 </extension>
 
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.eclipse.jdt.ui.JavaPerspective">
       <newWizardShortcut
             id="org.springsource.ide.eclipse.commons.gettingstarted.wizard.boot.NewSpringBootWizard">
       </newWizardShortcut>
       <newWizardShortcut
             id="org.springsource.ide.eclipse.gettingstarted.wizards.import.generic.newalias">
       </newWizardShortcut>
    </perspectiveExtension>
    <perspectiveExtension 
          targetID="org.eclipse.ui.resourcePerspective">
       <newWizardShortcut
             id="org.springsource.ide.eclipse.commons.gettingstarted.wizard.boot.NewSpringBootWizard">
       </newWizardShortcut>
       <newWizardShortcut
             id="org.springsource.ide.eclipse.gettingstarted.wizards.import.generic.newalias">
       </newWizardShortcut>
    </perspectiveExtension>
    <perspectiveExtension
          targetID="org.eclipse.jst.j2ee.J2EEPerspective">
       <newWizardShortcut
             id="org.springsource.ide.eclipse.commons.gettingstarted.wizard.boot.NewSpringBootWizard">
       </newWizardShortcut>
       <newWizardShortcut
             id="org.springsource.ide.eclipse.gettingstarted.wizards.import.generic.newalias">
       </newWizardShortcut>
    </perspectiveExtension>
    <perspectiveExtension
          targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
       <newWizardShortcut
             id="org.springsource.ide.eclipse.commons.gettingstarted.wizard.boot.NewSpringBootWizard">
       </newWizardShortcut>
       <newWizardShortcut
             id="org.springsource.ide.eclipse.gettingstarted.wizards.import.generic.newalias">
       </newWizardShortcut>
    </perspectiveExtension>
    <perspectiveExtension
          targetID="org.eclipse.jdt.ui.JavaHierarchyPerspective">
       <newWizardShortcut
             id="org.springsource.ide.eclipse.commons.gettingstarted.wizard.boot.NewSpringBootWizard">
       </newWizardShortcut>
       <newWizardShortcut
             id="org.springsource.ide.eclipse.gettingstarted.wizards.import.generic.newalias">
       </newWizardShortcut>
    </perspectiveExtension>
 </extension>
    
    <extension
          point="org.springsource.ide.browser.function.browserToEclipse">
       <function
             class="org.springframework.ide.eclipse.boot.wizard.guides.ext.OpenGSFunction"
             id="org.springframework.openGuideWizard"
             urlExpression=".*\.html">
       </function>
    </extension>

    <extension
          point="org.springsource.ide.browser.function.eclipseToBrowser">
       <provider
             class="org.springframework.ide.eclipse.boot.wizard.guides.ext.OpenGSWizardButtonProvider"
             functionName="addHtml"
             invokeOnLoad="true"
             urlExpression=".*org\.springsource\.ide\.eclipse\.commons\.gettingstarted.*/index.html">
          <argument
                dynamic="false"
                id="divId"
                literal="gettingStarted">
          </argument>
          <argument
                dynamic="true"
                id="html">
          </argument>
       </provider>
    </extension>
</plugin>
