<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/*******************************************************************************
 * Copyright (c) 2005, 2009 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>

	<extension point="org.eclipse.ui.decorators">
		<decorator lightweight="true" label="%advisesDecorator.label"
			class="org.springframework.ide.eclipse.aop.ui.decorator.AopReferenceModelImageDecorator"
			state="true" adaptable="true"
			id="org.springframework.ide.eclipse.aop.ui.decorator.advicedecorator">
			<description>%advisesDecorator.description</description>
			<enablement>
				<objectClass name="java.lang.Object"></objectClass>
			</enablement>
		</decorator>
	</extension>

	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent
			id="org.springframework.ide.eclipse.aop.ui.navigator.projectExplorerContent"
			name="%beansCrossReferenceView.content"
			contentProvider="org.springframework.ide.eclipse.aop.ui.navigator.AopReferenceModelNavigatorContentProvider"
			labelProvider="org.springframework.ide.eclipse.aop.ui.navigator.AopReferenceModelNavigatorLabelProvider"
			icon="icons/full/obj16/xref_obj.gif" activeByDefault="true"
			priority="high">
			<triggerPoints>
				<or>
					<instanceof
						value="org.eclipse.core.resources.IWorkspaceRoot" />
					<adapt type="org.eclipse.core.resources.IProject">
						<test
							property="org.eclipse.core.resources.projectNature"
							value="org.springframework.ide.eclipse.core.springnature" />
					</adapt>
					<and>
						<instanceof
							value="org.eclipse.core.resources.IFile" />
						<test
							property="org.springframework.ide.eclipse.beans.core.model.isBeansConfig" />
					</and>
				</or>
			</triggerPoints>
			<possibleChildren>
				<or>
					<instanceof
						value="org.springframework.ide.eclipse.aop.ui.navigator.model.IReferenceNode" />
					<instanceof
						value="org.eclipse.core.resources.IWorkspaceRoot" />
				</or>
			</possibleChildren>
			<commonSorter
				id="org.springframework.ide.eclipse.aop.ui.navigator.projectExplorerContent"
				class="org.springframework.ide.eclipse.aop.ui.navigator.util.AopReferenceModelNavigatorSorter" />
		</navigatorContent>

		<actionProvider
			id="org.springframework.ide.eclipse.aop.ui.navigator.actions"
			class="org.springframework.ide.eclipse.aop.ui.navigator.action.AopReferenceModelNavigatorActionProvider">
			<enablement>
				<instanceof
					value="org.springframework.ide.eclipse.aop.ui.navigator.model.IRevealableReferenceNode" />
			</enablement>
		</actionProvider>

		<commonFilter
			id="org.springframework.ide.eclipse.aop.ui.navigator.filters.hideAspectDeclarations"
			name="%filter.aspectDeclarations.label"
			description="%filter.aspectDeclarations.description"
			activeByDefault="false">
			<filterExpression>
				<instanceof
					value="org.springframework.ide.eclipse.aop.ui.navigator.model.AdvisedDeclareParentAopReferenceNode" />
			</filterExpression>
		</commonFilter>

		<commonFilter
			id="org.springframework.ide.eclipse.aop.ui.navigator.filters.hideDeclareParents"
			name="%filter.declaredOn.label"
			description="%filter.declaredOn.description"
			activeByDefault="false">
			<filterExpression>
				<or>
					<instanceof
						value="org.springframework.ide.eclipse.aop.ui.navigator.model.AdviceDeclareParentAopSourceFieldNode" />
					<instanceof
						value="org.springframework.ide.eclipse.aop.ui.navigator.model.AdviceDeclareParentAopSourceNode" />
				</or>
			</filterExpression>
		</commonFilter>

		<commonFilter
			id="org.springframework.ide.eclipse.aop.ui.navigator.filters.hideAdvises"
			name="%filter.advises.label"
			description="%filter.advises.description" activeByDefault="false">
			<filterExpression>
				<instanceof
					value="org.springframework.ide.eclipse.aop.ui.navigator.model.AdviceAopTargetNode" />
			</filterExpression>
		</commonFilter>

		<commonFilter
			id="org.springframework.ide.eclipse.aop.ui.navigator.filters.hideAdvisedBy"
			name="%filter.advisedBy.label"
			description="%filter.advisedBy.description"
			activeByDefault="false">
			<filterExpression>
				<or>
					<instanceof
						value="org.springframework.ide.eclipse.aop.ui.navigator.model.AdvisedAopTargetBeanNode" />
					<instanceof
						value="org.springframework.ide.eclipse.aop.ui.navigator.model.AdvisedAopReferenceNode" />
				</or>
			</filterExpression>
		</commonFilter>

		<commonFilter
			id="org.springframework.ide.eclipse.aop.ui.navigator.filters.innerBeans"
			name="%filter.innerBeans.label"
			description="%filter.innerBeans.description"
			activeByDefault="false">
			<filterExpression>
				<or>
					<instanceof
						value="org.springframework.ide.eclipse.aop.ui.navigator.model.InnerBeansReferenceNode" />
				</or>
			</filterExpression>
		</commonFilter>

		<commonFilter
			id="org.springframework.ide.eclipse.aop.ui.navigator.filters.classOf"
			name="%filter.classOf.label"
			description="%filter.classOf.description" activeByDefault="false">
			<filterExpression>
				<or>
					<instanceof
						value="org.springframework.ide.eclipse.aop.ui.navigator.model.ClassBeanReferenceNode" />
				</or>
			</filterExpression>
		</commonFilter>

	</extension>

	<extension point="org.eclipse.ui.navigator.linkHelper">
		<linkHelper
			id="org.springframework.ide.eclipse.aop.ui.navigator.linkHelper"
			class="org.springframework.ide.eclipse.aop.ui.navigator.util.AopReferenceModelNavigatorLinkHelper">
			<selectionEnablement>
				<instanceof
					value="org.springframework.ide.eclipse.aop.ui.navigator.model.IRevealableReferenceNode" />
			</selectionEnablement>
			<editorInputEnablement>
				<instanceof value="org.eclipse.ui.IFileEditorInput" />
			</editorInputEnablement>
		</linkHelper>
	</extension>

	<extension point="org.eclipse.ui.views">
		<view name="%beansCrossReferenceView.label"
			icon="icons/full/obj16/xref_obj.gif"
			category="org.springframework.ide.eclipse.ui.views"
			class="org.springframework.ide.eclipse.aop.ui.navigator.AopReferenceModelNavigator"
			id="org.springframework.ide.eclipse.aop.ui.navigator.aopReferenceModelNavigator">
		</view>
	</extension>

	<extension point="org.eclipse.ui.navigator.viewer">
		<viewer
			viewerId="org.springframework.ide.eclipse.aop.ui.navigator.aopReferenceModelNavigator" />
		<viewerContentBinding
			viewerId="org.springframework.ide.eclipse.aop.ui.navigator.aopReferenceModelNavigator">
			<includes>
				<contentExtension isRoot="true"
					pattern="org.springframework.ide.eclipse.aop.ui.navigator.projectExplorerContent" />
				<contentExtension
					pattern="org.springframework.ide.eclipse.aop.ui.navigator.linkHelper" />
				<contentExtension
					pattern="org.springframework.ide.eclipse.aop.ui.navigator.filters.*" />
			</includes>
		</viewerContentBinding>
		<viewerActionBinding
			viewerId="org.springframework.ide.eclipse.aop.ui.navigator.aopReferenceModelNavigator">
			<includes>
				<actionExtension
					pattern="org.springframework.ide.eclipse.aop.ui.navigator.actions" />
			</includes>
		</viewerActionBinding>
	</extension>

	<extension point="org.eclipse.ui.actionSets">
		<actionSet label="%beansCrossReferenceNavigation.label"
			description="beansCrossReferenceNavigation.content" visible="true"
			id="org.springframework.ide.eclipse.aop.ui.ActionSet">
			<action
				definitionId="org.springframework.ide.eclipse.aop.ui.inplace.show"
				label="%beansCrossReferenceViewInplace.label"
				class="org.springframework.ide.eclipse.aop.ui.inplace.OpenAopModelReferenceInplaceDialogAction"
				menubarPath="navigate/showIn" id="openInplace">
				<enablement>
					<or>
						<or>
							<objectClass name="org.w3c.dom.Node" />
							<and>
								<objectClass
									name="org.eclipse.jdt.core.IJavaElement" />
								<not>
									<or>
										<objectClass
											name="org.eclipse.jdt.core.ICompilationUnit" />
										<objectClass
											name="org.eclipse.jdt.core.IJavaProject" />
										<objectClass
											name="org.eclipse.jdt.core.IPackageFragmentRoot" />
										<objectClass
											name="org.eclipse.jdt.core.IPackageFragment" />
									</or>
								</not>
							</and>
						</or>
						<objectClass
							name="org.eclipse.jface.text.TextSelection" />
					</or>
				</enablement>
			</action>

		</actionSet>
	</extension>

	<extension point="org.eclipse.ui.commands">
		<command name="%beansCrossReferenceViewInplace.label"
			description="%beansCrossReferenceViewInplace.content"
			categoryId="org.eclipse.ui.category.navigate"
			id="org.springframework.ide.eclipse.aop.ui.inplace.show">
		</command>
	</extension>

	<extension point="org.eclipse.ui.bindings">
		<!-- Key binding for the inplace view (Alt+Shift+G)-->
		<key sequence="M3+M2+G"
			contextId="org.eclipse.ui.textEditorScope"
			commandId="org.springframework.ide.eclipse.aop.ui.inplace.show"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
		</key>
	</extension>

	<!-- Event trace view -->
	<extension point="org.eclipse.ui.views">
		<view name="AOP Event Trace"
			icon="icons/full/obj16/console_view.gif"
			category="org.springframework.ide.eclipse.ui.views"
			class="org.springframework.ide.eclipse.aop.ui.tracing.EventTraceView"
			id="org.springframework.ide.eclipse.aop.ui.tracing.eventTraceView">
		</view>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
	 	<page id="org.springframework.ide.eclipse.aop.ui.preferencePage"
  	      	name="AOP Support"
	      	class="org.springframework.ide.eclipse.aop.ui.preferences.AopPreferencePage"
	      	category="org.springsource.ide.eclipse.commons.preferencePage">
	      	<keywordReference
            	id="org.springframework.ide.eclipse.aop.ui.keywords">
      		</keywordReference>
   		</page>
	</extension>
	
    <extension point="org.eclipse.ui.keywords">
      <keyword  id="org.springframework.ide.eclipse.aop.ui.keywords"
            label="%preferenceKeywords.label"/>
    </extension>

	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="org.eclipse.jdt.ui.JavaPerspective">
			<viewShortcut
				id="org.springframework.ide.eclipse.aop.ui.navigator.aopReferenceModelNavigator" />
			<viewShortcut
				id="org.springframework.ide.eclipse.aop.ui.tracing.eventTraceView" />
			<view 
				closeable="true"
				id="org.springframework.ide.eclipse.aop.ui.navigator.aopReferenceModelNavigator"
				minimized="false" 
				moveable="true" 
				ratio="0.5" 
				relationship="bottom"
				relative="org.eclipse.ui.views.ContentOutline" 
				visible="false" />
		</perspectiveExtension>
	</extension>

</plugin>
