<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.springframework.ide.eclipse.web.flow.core"
   name="%pluginName"
   version="0.0.1"
   provider-name="%providerName"
   class="org.springframework.ide.eclipse.web.flow.core.WebFlowCorePlugin">

   <runtime>
      <library name="webflow-core.jar">
         <export name="*"/>
      </library>
      <library name="ognl.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.springframework.ide.eclipse.core"/>
      <import plugin="org.springframework.ide.eclipse.beans.core"/>
   </requires>
   <extension-point id="validators" name="&amp;validatorsName" schema="schema/validators.exsd"/>

   <extension
         id="problemmarker"
         name="%webflowProblemMarker"
         point="org.eclipse.core.resources.markers">
      <super type="org.springframework.ide.eclipse.core.problemmarker"/>
      <persistent value="true"/>
      <attribute name="errorCode"/>
      <attribute name="beanID"/>
      <attribute name="errorData"/>
   </extension>

   <extension
	     id="webflowvalidator"
         name="%webflowValidator"
         point="org.springframework.ide.eclipse.core.builders">
      <run class="org.springframework.ide.eclipse.web.flow.core.validation.WebFlowProjectValidator"/>
   </extension>
   <extension
         id="test"
         name="test"
         point="org.springframework.ide.eclipse.web.flow.core.validators">
      <run class="org.springframework.ide.eclipse.web.flow.core.validation.SubFlowReferenceValidator"/>
      <run class="org.springframework.ide.eclipse.web.flow.core.validation.BeanReferenceValidator"/>
      <run class="org.springframework.ide.eclipse.web.flow.core.validation.ActionTypeValidator"/>
   </extension>
</plugin>
