<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<!--
/*******************************************************************************
 * Copyright (c) 2012 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>
	
	<extension point="org.springframework.ide.eclipse.core.builders">
		<builder
			class="org.springframework.ide.eclipse.osgi.runtime.builder.OsgiBundleUpdateBuilder"
			enabledByDefault="false" 
			icon="icons/full/obj16/spring_osgi_obj.gif"
			id="osgibundleupdater" 
			name="%osgibundleupdater.name"
			description="%osgibundleupdater.description" >
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.variables.dynamicVariables">
		<variable 
			description="description" 
			name="osgi.console.port"
			resolver="org.springframework.ide.eclipse.osgi.runtime.ConsolePortVariableResolver"
			supportsArgument="false">
		</variable>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page 
			id="com.springsource.sts.ide.osgi.ui.preferencePage" 
			name="%preferencePage.name"
			class="org.springframework.ide.eclipse.osgi.runtime.ui.OSGiRuntimePreferencePage"
			category="org.springsource.ide.eclipse.commons.preferencePage">
     <keywordReference
           id="com.springsource.sts.ide.osgi.ui.keywords">
     </keywordReference>
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.keywords">
      <keyword id="com.springsource.sts.ide.osgi.ui.keywords"
            label="%propertyKeywords.label"/>
    </extension>
	
</plugin>
