<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="org.springframework.ide.eclipse.boot.launch.livebean.OpenLiveBeanGraphHandler"
             commandId="org.springframework.ide.eclipse.boot.launch.livebean.OpenLiveBeanGraph">
          <enabledWhen>
             <and>
                <count
                      value="1">
                </count>
                <iterate>
                   <or>
                      <adapt
                            type="org.eclipse.core.resources.IProject">
                         <test
                               forcePluginActivation="true"
                               property="org.springsource.ide.eclipse.boot.isBootProject">
                         </test>
                      </adapt>
                      <and>
                         <instanceof
                               value="org.eclipse.jdt.core.IJavaProject">
                         </instanceof>
                         <test
                               forcePluginActivation="true"
                               property="org.springsource.ide.eclipse.boot.javaelement.isBootProject">
                         </test>
                      </and>
                   </or>
                </iterate>
             </and>
          </enabledWhen>
       </handler>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             allPopups="false"
             locationURI="popup:org.springframework.ide.eclipse.ui.tools?after=boot">
          <command
                commandId="org.springframework.ide.eclipse.boot.launch.livebean.OpenLiveBeanGraph"
                icon="platform:/plugin/org.springframework.ide.eclipse.beans.ui.livegraph/icons/live-beans-graph.png"
                id="org.springframework.ide.eclipse.boot.launch.livebean.OpenLiveBeanGraph"
                label="Open Live Beans Graph"
                mnemonic="G"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <and>
                   <count
                         value="1">
                   </count>
                   <iterate>
                      <or>
                         <adapt
                               type="org.eclipse.core.resources.IProject">
                            <test
                                  forcePluginActivation="true"
                                  property="org.springsource.ide.eclipse.boot.isBootProject">
                            </test>
                         </adapt>
                         <and>
                            <instanceof
                                  value="org.eclipse.jdt.core.IJavaProject">
                            </instanceof>
                            <test
                                  forcePluginActivation="true"
                                  property="org.springsource.ide.eclipse.boot.javaelement.isBootProject">
                            </test>
                         </and>
                      </or>
                   </iterate>
                </and>
             </visibleWhen>
          </command>
       </menuContribution>
    </extension>
</plugin>
