<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/*******************************************************************************
 * Copyright (c) 2005, 2009 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>

	<extension
		point="org.springframework.ide.eclipse.beans.ui.namespaces">
		<namespace
			labelProvider="org.springframework.ide.eclipse.osgi.ui.namespaces.OsgiNamespaceLabelProvider"
			uri="http://www.springframework.org/schema/osgi"/>
		<namespace
			labelProvider="org.springframework.ide.eclipse.osgi.ui.namespaces.OsgiNamespaceLabelProvider"
			uri="http://www.springframework.org/schema/osgi-compendium" />
		<!-- OSGi blueprint namespace -->
		<namespace
			labelProvider="org.springframework.ide.eclipse.blueprint.ui.namespaces.BlueprintNamespaceLabelProvider"
			uri="http://www.osgi.org/xmlns/blueprint/v1.0.0" /> 
	</extension>
	
	<extension
		point="org.springframework.ide.eclipse.beans.ui.editor.namespaces">
		<namespace
			contentAssistProcessor="org.springframework.ide.eclipse.osgi.ui.editor.contentassist.osgi.OsgiContentAssistProcessor"
			elementLocator="org.springframework.ide.eclipse.beans.ui.editor.namespaces.DefaultReferenceableElementsLocator"
			hyperLinkDetector="org.springframework.ide.eclipse.osgi.ui.editor.hyperlink.osgi.OsgiHyperlinkDetector"
			labelProvider="org.springframework.ide.eclipse.osgi.ui.editor.outline.osgi.OsgiOutlineLabelProvider"
			name="Spring Dynamic Modules"
			uri="http://www.springframework.org/schema/osgi" />
		<namespace
			contentAssistProcessor="org.springframework.ide.eclipse.osgi.ui.editor.contentassist.osgi.OsgiContentAssistProcessor"
			elementLocator="org.springframework.ide.eclipse.beans.ui.editor.namespaces.DefaultReferenceableElementsLocator"
			hyperLinkDetector="org.springframework.ide.eclipse.osgi.ui.editor.hyperlink.osgi.OsgiHyperlinkDetector"
			labelProvider="org.springframework.ide.eclipse.osgi.ui.editor.outline.osgi.OsgiOutlineLabelProvider"
			name="Spring Dynamic Modules Compendium"
			uri="http://www.springframework.org/schema/osgi-compendium" />
		<!-- OSGi blueprint namespace -->
		<namespace
			contentAssistProcessor="org.springframework.ide.eclipse.osgi.ui.editor.contentassist.blueprint.BlueprintContentAssistProcessor"
			elementLocator="org.springframework.ide.eclipse.beans.ui.editor.namespaces.DefaultReferenceableElementsLocator"
			hyperLinkDetector="org.springframework.ide.eclipse.osgi.ui.editor.hyperlink.blueprint.BlueprintHyperlinkDetector"
			labelProvider="org.springframework.ide.eclipse.osgi.ui.editor.outline.blueprint.BlueprintOutlineLabelProvider"
			name="OSGi Blueprint Services"
			uri="http://www.osgi.org/xmlns/blueprint/v1.0.0" />
	</extension>

</plugin>
