<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
/*******************************************************************************
 * Copyright (c) 2012 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>
   <extension-point id="com.springsource.sts.config.ui.formPages" name="%formPagesExtensionName" schema="schema/formPages.exsd"/>
   <extension-point id="com.springsource.sts.config.ui.commonActions" name="%commonActionsExtensionName" schema="schema/commonActions.exsd"/>
   <extension-point id="com.springsource.sts.config.ui.pageAdapters" name="%pageAdaptersExtensionName" schema="schema/pageAdapters.exsd"/>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.springframework.ide.eclipse.config.ui.editors.SpringConfigEditor"
            contributorClass="org.springframework.ide.eclipse.config.ui.editors.SpringConfigEditorContributor"
            default="true"
            icon="icons/bean-config.png"
            id="com.springsource.sts.config.ui.editors.SpringConfigEditor"
            name="%configEditorName"
            symbolicFontName="org.eclipse.wst.sse.ui.textfont">
         <contentTypeBinding
               contentTypeId="com.springsource.sts.config.ui.beanConfigFile">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            id="com.springsource.sts.config.ui.beanConfigFile"
            name="%configEditorContentTypeName"
            priority="high">
         <describer
               class="org.springframework.ide.eclipse.config.ui.contenttype.SpringElementContentDescriber">
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.mylyn.java.actionSet">
         <part
               id="com.springsource.sts.config.ui.editors.SpringConfigEditor">
         </part>
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="org.eclipse.ui.edit.text.actionSet.annotationNavigation">
         <part
               id="com.springsource.sts.config.ui.editors.SpringConfigEditor">
         </part>
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="org.eclipse.ui.NavigateActionSet">
         <part
               id="com.springsource.sts.config.ui.editors.SpringConfigEditor">
         </part>
      </actionSetPartAssociation>
   </extension>

   <extension
         point="org.eclipse.wst.sse.ui.editorConfiguration">
      <sourceViewerConfiguration
            class="org.springframework.ide.eclipse.beans.ui.editor.BeansStructuredTextViewerConfiguration"
            target="com.springsource.sts.config.ui.beanConfigFile">
      </sourceViewerConfiguration>
      <contentOutlineConfiguration
            class="org.springframework.ide.eclipse.beans.ui.editor.outline.BeansContentOutlineConfiguration"
            target="com.springsource.sts.config.ui.beanConfigFile">
      </contentOutlineConfiguration>
      <!-- The following extension definition should enable all XML contexts for all config files,
      	   according to the documentation at http://wiki.eclipse.org/Table_of_WTP_IDs. For some 
      	   reason this isn't working and so I've left it but commented it out.
      <provisionalDefinition
            target="com.springsource.sts.config.ui.configFile"
            type="activecontexts"
            value="org.eclipse.core.runtime.xml, org.eclipse.wst.xml.navigation, org.eclipse.wst.xml.cleanup, org.eclipse.wst.xml.comments, org.eclipse.wst.xml.selection, org.eclipse.wst.xml.dependencies, org.eclipse.wst.xml.grammar, org.eclipse.wst.xml.expand, org.eclipse.wst.xml.occurrences">
      </provisionalDefinition>
      -->
   </extension>
   <extension
         point="com.springsource.sts.config.ui.formPages">
      <formPage
            class="org.springframework.ide.eclipse.config.ui.editors.beans.BeansFormPage"
            id="com.springsource.sts.config.ui.editors.beans"
            name="%beansPageName"
            namespacePrefix="beans"
            namespaceUri="http://www.springframework.org/schema/beans">
      </formPage>
      <formPage
            class="org.springframework.ide.eclipse.config.ui.editors.aop.AopFormPage"
            id="com.springsource.sts.config.ui.editors.aop"
            name="%aopPageName"
            namespacePrefix="aop"
            namespaceUri="http://www.springframework.org/schema/aop">
      </formPage>
      <formPage
            class="org.springframework.ide.eclipse.config.ui.editors.context.ContextFormPage"
            id="com.springsource.sts.config.ui.editors.context"
            name="%contextPageName"
            namespacePrefix="context"
            namespaceUri="http://www.springframework.org/schema/context">
      </formPage>
      <formPage
            class="org.springframework.ide.eclipse.config.ui.editors.jee.JeeFormPage"
            id="com.springsource.sts.config.ui.editors.jee"
            name="%jeePageName"
            namespacePrefix="jee"
            namespaceUri="http://www.springframework.org/schema/jee">
      </formPage>
      <formPage
            class="org.springframework.ide.eclipse.config.ui.editors.jms.JmsFormPage"
            id="com.springsource.sts.config.ui.editors.jms"
            name="%jmsPageName"
            namespacePrefix="jms"
            namespaceUri="http://www.springframework.org/schema/jms">
      </formPage>
      <formPage
            class="org.springframework.ide.eclipse.config.ui.editors.lang.LangFormPage"
            id="com.springsource.sts.config.ui.editors.lang"
            name="%langPageName"
            namespacePrefix="lang"
            namespaceUri="http://www.springframework.org/schema/lang">
      </formPage>
      <formPage
            class="org.springframework.ide.eclipse.config.ui.editors.security.SecurityFormPage"
            id="com.springsource.sts.config.ui.editors.security"
            name="%secPageName"
            namespacePrefix="sec"
            namespaceUri="http://www.springframework.org/schema/security">
      </formPage>
      <formPage
            class="org.springframework.ide.eclipse.config.ui.editors.tx.TxFormPage"
            id="com.springsource.sts.config.ui.editors.tx"
            name="%txPageName"
            namespacePrefix="tx"
            namespaceUri="http://www.springframework.org/schema/tx">
      </formPage>
      <formPage
            class="org.springframework.ide.eclipse.config.ui.editors.util.UtilFormPage"
            id="com.springsource.sts.config.ui.editors.util"
            name="%utilPageName"
            namespacePrefix="util"
            namespaceUri="http://www.springframework.org/schema/util">
      </formPage>
      <formPage
            class="org.springframework.ide.eclipse.config.ui.editors.integration.IntegrationFormPage"
            graph="org.springframework.ide.eclipse.config.ui.editors.integration.graph.IntegrationGraphicalEditor"
            id="com.springsource.sts.config.ui.editors.integration"
            name="%integrationPageName"
            namespacePrefix="integration"
            namespaceUri="http://www.springframework.org/schema/integration">
      </formPage>
      <formPage
            class="org.springframework.ide.eclipse.config.ui.editors.flex.FlexFormPage"
            id="com.springsource.sts.config.ui.editors.flex"
            name="%flexPageName"
            namespacePrefix="flex"
            namespaceUri="http://www.springframework.org/schema/flex">
      </formPage>
      <formPage
            class="org.springframework.ide.eclipse.config.ui.editors.jdbc.JdbcFormPage"
            id="com.springsource.sts.config.ui.editors.jdbc"
            name="%jdbcPageName"
            namespacePrefix="jdbc"
            namespaceUri="http://www.springframework.org/schema/jdbc">
      </formPage>
      <formPage
            class="org.springframework.ide.eclipse.config.ui.editors.mvc.MvcFormPage"
            id="com.springsource.sts.config.ui.editors.mvc"
            name="%mvcPageName"
            namespacePrefix="mvc"
            namespaceUri="http://www.springframework.org/schema/mvc">
      </formPage>
      <formPage
            class="org.springframework.ide.eclipse.config.ui.editors.oxm.OxmFormPage"
            id="com.springsource.sts.config.ui.editors.oxm"
            name="%oxmPageName"
            namespacePrefix="oxm"
            namespaceUri="http://www.springframework.org/schema/oxm">
      </formPage>
      <formPage
            class="org.springframework.ide.eclipse.config.ui.editors.task.TaskFormPage"
            id="com.springsource.sts.config.ui.editors.task"
            name="%taskPageName"
            namespacePrefix="task"
            namespaceUri="http://www.springframework.org/schema/task">
      </formPage>
   </extension>
   <extension
         point="com.springsource.sts.config.ui.commonActions">
      <wizard
            class="org.springframework.ide.eclipse.config.ui.wizards.OsgiServiceWizard"
            description="%osgiServiceWizardDesc"
            id="com.springsource.sts.config.ui.wizards.osgiService"
            namespaceUri="http://www.springframework.org/schema/osgi">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.springframework.ide.eclipse.beans.ui.preferencePage"
            class="org.springframework.ide.eclipse.config.ui.preferences.SpringConfigPreferencePage"
            id="com.springsource.sts.config.ui.preferencePage"
            name="%prefsName">
      </page>
   </extension>
   <extension
         point="org.springframework.ide.eclipse.core.listeners">
      <listener
            class="org.springframework.ide.eclipse.config.ui.editors.BeansModelLoadListener">
      </listener>
   </extension>
   <extension
         point="com.springsource.sts.config.ui.pageAdapters">
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            editpartFactory="org.springframework.ide.eclipse.config.ui.editors.integration.amqp.graph.parts.IntAmqpEditPartFactory"
            id="com.springsource.sts.config.ui.editors.integration.amqp"
            label="amqp"
            modelFactory="org.springframework.ide.eclipse.config.ui.editors.integration.amqp.graph.model.IntAmqpModelFactory"
            namespaceUri="http://www.springframework.org/schema/integration/amqp"
            paletteFactory="org.springframework.ide.eclipse.config.ui.editors.integration.amqp.graph.parts.IntAmqpPaletteFactory"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            editpartFactory="org.springframework.ide.eclipse.config.ui.editors.integration.event.graph.parts.IntEventEditPartFactory"
            id="com.springsource.sts.config.ui.editors.integration.event"
            label="event"
            modelFactory="org.springframework.ide.eclipse.config.ui.editors.integration.event.graph.model.IntEventModelFactory"
            namespaceUri="http://www.springframework.org/schema/integration/event"
            paletteFactory="org.springframework.ide.eclipse.config.ui.editors.integration.event.graph.parts.IntEventPaletteFactory"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            editpartFactory="org.springframework.ide.eclipse.config.ui.editors.integration.feed.graph.parts.IntFeedEditPartFactory"
            id="com.springsource.sts.config.ui.editors.integration.feed"
            label="feed"
            modelFactory="org.springframework.ide.eclipse.config.ui.editors.integration.feed.graph.model.IntFeedModelFactory"
            namespaceUri="http://www.springframework.org/schema/integration/feed"
            paletteFactory="org.springframework.ide.eclipse.config.ui.editors.integration.feed.graph.parts.IntFeedPaletteFactory"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            editpartFactory="org.springframework.ide.eclipse.config.ui.editors.integration.file.graph.parts.IntFileEditPartFactory"
            id="com.springsource.sts.config.ui.editors.integration.file"
            modelFactory="org.springframework.ide.eclipse.config.ui.editors.integration.file.graph.model.IntFileModelFactory"
            label="file"
            namespaceUri="http://www.springframework.org/schema/integration/file"
            paletteFactory="org.springframework.ide.eclipse.config.ui.editors.integration.file.graph.parts.IntFilePaletteFactory"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            editpartFactory="org.springframework.ide.eclipse.config.ui.editors.integration.ftp.graph.parts.IntFtpEditPartFactory"
            id="com.springsource.sts.config.ui.editors.integration.ftp"
            label="ftp"
            modelFactory="org.springframework.ide.eclipse.config.ui.editors.integration.ftp.graph.model.IntFtpModelFactory"
            namespaceUri="http://www.springframework.org/schema/integration/ftp"
            paletteFactory="org.springframework.ide.eclipse.config.ui.editors.integration.ftp.graph.parts.IntFtpPaletteFactory"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            editpartFactory="org.springframework.ide.eclipse.config.ui.editors.integration.gemfire.graph.parts.IntGemfireEditPartFactory"
            id="com.springsource.sts.config.ui.editors.integration.gemfire"
            label="gemfire"
            modelFactory="org.springframework.ide.eclipse.config.ui.editors.integration.gemfire.graph.model.IntGemfireModelFactory"
            namespaceUri="http://www.springframework.org/schema/integration/gemfire"
            paletteFactory="org.springframework.ide.eclipse.config.ui.editors.integration.gemfire.graph.parts.IntGemfirePaletteFactory"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            editpartFactory="org.springframework.ide.eclipse.config.ui.editors.integration.groovy.graph.parts.IntGroovyEditPartFactory"
            id="com.springsource.sts.config.ui.editors.integration.groovy"
            label="groovy"
            modelFactory="org.springframework.ide.eclipse.config.ui.editors.integration.groovy.graph.model.IntGroovyModelFactory"
            namespaceUri="http://www.springframework.org/schema/integration/groovy"
            paletteFactory="org.springframework.ide.eclipse.config.ui.editors.integration.groovy.graph.parts.IntGroovyPaletteFactory"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            editpartFactory="org.springframework.ide.eclipse.config.ui.editors.integration.http.graph.parts.IntHttpEditPartFactory"
            id="com.springsource.sts.config.ui.editors.integration.http"
            modelFactory="org.springframework.ide.eclipse.config.ui.editors.integration.http.graph.model.IntHttpModelFactory"
            label="http"
            namespaceUri="http://www.springframework.org/schema/integration/http"
            paletteFactory="org.springframework.ide.eclipse.config.ui.editors.integration.http.graph.parts.IntHttpPaletteFactory"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            editpartFactory="org.springframework.ide.eclipse.config.ui.editors.integration.httpinvoker.graph.parts.IntHttpInvokerEditPartFactory"
            id="com.springsource.sts.config.ui.editors.integration.httpinvoker"
            modelFactory="org.springframework.ide.eclipse.config.ui.editors.integration.httpinvoker.graph.model.IntHttpInvokerModelFactory"
            label="httpinvoker"
            namespaceUri="http://www.springframework.org/schema/integration/httpinvoker"
            paletteFactory="org.springframework.ide.eclipse.config.ui.editors.integration.httpinvoker.graph.parts.IntHttpInvokerPaletteFactory"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            editpartFactory="org.springframework.ide.eclipse.config.ui.editors.integration.ip.graph.parts.IntIpEditPartFactory"
            id="com.springsource.sts.config.ui.editors.integration.ip"
            modelFactory="org.springframework.ide.eclipse.config.ui.editors.integration.ip.graph.model.IntIpModelFactory"
            label="ip"
            namespaceUri="http://www.springframework.org/schema/integration/ip"
            paletteFactory="org.springframework.ide.eclipse.config.ui.editors.integration.ip.graph.parts.IntIpPaletteFactory"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            editpartFactory="org.springframework.ide.eclipse.config.ui.editors.integration.jdbc.graph.parts.IntJdbcEditPartFactory"
            id="com.springsource.sts.config.ui.editors.integration.jdbc"
            modelFactory="org.springframework.ide.eclipse.config.ui.editors.integration.jdbc.graph.model.IntJdbcModelFactory"
            label="jdbc"
            namespaceUri="http://www.springframework.org/schema/integration/jdbc"
            paletteFactory="org.springframework.ide.eclipse.config.ui.editors.integration.jdbc.graph.parts.IntJdbcPaletteFactory"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            editpartFactory="org.springframework.ide.eclipse.config.ui.editors.integration.jms.graph.parts.IntJmsEditPartFactory"
            id="com.springsource.sts.config.ui.editors.integration.jms"
            modelFactory="org.springframework.ide.eclipse.config.ui.editors.integration.jms.graph.model.IntJmsModelFactory"
            label="jms"
            namespaceUri="http://www.springframework.org/schema/integration/jms"
            paletteFactory="org.springframework.ide.eclipse.config.ui.editors.integration.jms.graph.parts.IntJmsPaletteFactory"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            editpartFactory="org.springframework.ide.eclipse.config.ui.editors.integration.jmx.graph.parts.IntJmxEditPartFactory"
            id="com.springsource.sts.config.ui.editors.integration.jmx"
            modelFactory="org.springframework.ide.eclipse.config.ui.editors.integration.jmx.graph.model.IntJmxModelFactory"
            label="jmx"
            namespaceUri="http://www.springframework.org/schema/integration/jmx"
            paletteFactory="org.springframework.ide.eclipse.config.ui.editors.integration.jmx.graph.parts.IntJmxPaletteFactory"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            editpartFactory="org.springframework.ide.eclipse.config.ui.editors.integration.jpa.graph.parts.IntJpaEditPartFactory"
            id="org.springframework.ide.eclipse.config.ui.editors.integration.jpa"
            label="jpa"
            modelFactory="org.springframework.ide.eclipse.config.ui.editors.integration.jpa.graph.model.IntJpaModelFactory"
            namespaceUri="http://www.springframework.org/schema/integration/jpa"
            paletteFactory="org.springframework.ide.eclipse.config.ui.editors.integration.jpa.graph.parts.IntJpaPaletteFactory"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            editpartFactory="org.springframework.ide.eclipse.config.ui.editors.integration.mail.graph.parts.IntMailEditPartFactory"
            id="com.springsource.sts.config.ui.editors.integration.mail"
            modelFactory="org.springframework.ide.eclipse.config.ui.editors.integration.mail.graph.model.IntMailModelFactory"
            label="mail"
            namespaceUri="http://www.springframework.org/schema/integration/mail"
            paletteFactory="org.springframework.ide.eclipse.config.ui.editors.integration.mail.graph.parts.IntMailPaletteFactory"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            editpartFactory="org.springframework.ide.eclipse.config.ui.editors.integration.mongodb.graph.parts.IntMongoDbEditPartFactory"
            id="org.springframework.ide.eclipse.config.ui.editors.integration.mongodb"
            label="mongodb"
            modelFactory="org.springframework.ide.eclipse.config.ui.editors.integration.mongodb.graph.model.IntMongoDbModelFactory"
            namespaceUri="http://www.springframework.org/schema/integration/mongodb"
            paletteFactory="org.springframework.ide.eclipse.config.ui.editors.integration.mongodb.graph.parts.IntMongoDbPaletteFactory"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            editpartFactory="org.springframework.ide.eclipse.config.ui.editors.integration.redis.graph.parts.IntRedisEditPartFactory"
            id="com.springsource.sts.config.ui.editors.integration.redis"
            label="redis"
            modelFactory="org.springframework.ide.eclipse.config.ui.editors.integration.redis.graph.model.IntRedisModelFactory"
            namespaceUri="http://www.springframework.org/schema/integration/redis"
            paletteFactory="org.springframework.ide.eclipse.config.ui.editors.integration.redis.graph.parts.IntRedisPaletteFactory"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            editpartFactory="org.springframework.ide.eclipse.config.ui.editors.integration.rmi.graph.parts.IntRmiEditPartFactory"
            id="com.springsource.sts.config.ui.editors.integration.rmi"
            modelFactory="org.springframework.ide.eclipse.config.ui.editors.integration.rmi.graph.model.IntRmiModelFactory"
            label="rmi"
            namespaceUri="http://www.springframework.org/schema/integration/rmi"
            paletteFactory="org.springframework.ide.eclipse.config.ui.editors.integration.rmi.graph.parts.IntRmiPaletteFactory"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            id="com.springsource.sts.config.ui.editors.integration.scripting"
            label="scripting"
            namespaceUri="http://www.springframework.org/schema/integration/scripting"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            id="com.springsource.sts.config.ui.editors.integration.security"
            label="security"
            namespaceUri="http://www.springframework.org/schema/integration/security"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            editpartFactory="org.springframework.ide.eclipse.config.ui.editors.integration.sftp.graph.parts.IntSftpEditPartFactory"
            id="com.springsource.sts.config.ui.editors.integration.sftp"
            label="sftp"
            modelFactory="org.springframework.ide.eclipse.config.ui.editors.integration.sftp.graph.model.IntSftpModelFactory"
            namespaceUri="http://www.springframework.org/schema/integration/sftp"
            paletteFactory="org.springframework.ide.eclipse.config.ui.editors.integration.sftp.graph.parts.IntSftpPaletteFactory"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            editpartFactory="org.springframework.ide.eclipse.config.ui.editors.integration.stream.graph.parts.IntStreamEditPartFactory"
            id="com.springsource.sts.config.ui.editors.integration.stream"
            modelFactory="org.springframework.ide.eclipse.config.ui.editors.integration.stream.graph.model.IntStreamModelFactory"
            label="stream"
            namespaceUri="http://www.springframework.org/schema/integration/stream"
            paletteFactory="org.springframework.ide.eclipse.config.ui.editors.integration.stream.graph.parts.IntStreamPaletteFactory"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            editpartFactory="org.springframework.ide.eclipse.config.ui.editors.integration.twitter.graph.parts.IntTwitterEditPartFactory"
            id="com.springsource.sts.config.ui.editors.integration.twitter"
            modelFactory="org.springframework.ide.eclipse.config.ui.editors.integration.twitter.graph.model.IntTwitterModelFactory"
            label="twitter"
            namespaceUri="http://www.springframework.org/schema/integration/twitter"
            paletteFactory="org.springframework.ide.eclipse.config.ui.editors.integration.twitter.graph.parts.IntTwitterPaletteFactory"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            editpartFactory="org.springframework.ide.eclipse.config.ui.editors.integration.ws.graph.parts.IntWsEditPartFactory"
            id="com.springsource.sts.config.ui.editors.integration.ws"
            modelFactory="org.springframework.ide.eclipse.config.ui.editors.integration.ws.graph.model.IntWsModelFactory"
            label="ws"
            namespaceUri="http://www.springframework.org/schema/integration/ws"
            paletteFactory="org.springframework.ide.eclipse.config.ui.editors.integration.ws.graph.parts.IntWsPaletteFactory"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            editpartFactory="org.springframework.ide.eclipse.config.ui.editors.integration.xml.graph.parts.IntXmlEditPartFactory"
            id="com.springsource.sts.config.ui.editors.integration.xml"
            modelFactory="org.springframework.ide.eclipse.config.ui.editors.integration.xml.graph.model.IntXmlModelFactory"
            label="xml"
            namespaceUri="http://www.springframework.org/schema/integration/xml"
            paletteFactory="org.springframework.ide.eclipse.config.ui.editors.integration.xml.graph.parts.IntXmlPaletteFactory"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
      <adapter
            detailsFactory="org.springframework.ide.eclipse.config.ui.editors.integration.IntAdapterMasterDetailsBlock"
            editpartFactory="org.springframework.ide.eclipse.config.ui.editors.integration.xmpp.graph.parts.IntXmppEditPartFactory"
            id="com.springsource.sts.config.ui.editors.integration.xmpp"
            label="xmpp"
            modelFactory="org.springframework.ide.eclipse.config.ui.editors.integration.xmpp.graph.model.IntXmppModelFactory"
            namespaceUri="http://www.springframework.org/schema/integration/xmpp"
            paletteFactory="org.springframework.ide.eclipse.config.ui.editors.integration.xmpp.graph.parts.IntXmppPaletteFactory"
            parentUri="http://www.springframework.org/schema/integration">
      </adapter>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.springsource.sts.config.ui.editors.AbstractConfigEditor"
            typeMapper="org.springframework.ide.eclipse.config.ui.properties.SpringConfigPropertyTypeMapper">
         <propertyCategory
               category="properties"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.springsource.sts.config.ui.editors.AbstractConfigEditor">
         <propertyTab
               category="properties"
               id="properties.details"
               label="Details">
         </propertyTab>
         <propertyTab
               afterTab="properties.details"
               category="properties"
               id="properties.documentation"
               label="Documentation">
         </propertyTab>
         <propertyTab
               afterTab="properties.documentation"
               category="properties"
               id="properties.advanced"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.springsource.sts.config.ui.editors.AbstractConfigEditor">
         <propertySection
               class="org.springframework.ide.eclipse.config.ui.properties.SpringConfigDetailsPropertySection"
               id="properties.section.details"
               tab="properties.details">
            <input
                  type="org.eclipse.wst.xml.core.internal.provisional.document.IDOMElement">
            </input>
         </propertySection>
         <propertySection
               class="org.springframework.ide.eclipse.config.ui.properties.SpringConfigDocumentationPropertySection"
               id="properties.section.documentation"
               tab="properties.documentation">
            <input
                  type="org.eclipse.wst.xml.core.internal.provisional.document.IDOMElement">
            </input>
         </propertySection>
         <propertySection
               class="org.springframework.ide.eclipse.config.ui.properties.SpringConfigAdvancedPropertySection"
               id="properties.section.advanced"
               tab="properties.advanced">
            <input
                  type="org.eclipse.wst.xml.core.internal.provisional.document.IDOMElement">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.springframework.ide.eclipse.config.ui.navigator.StsSpringExplorerActionProvider"
            id="com.springsource.sts.config.ui.navigator.graph.springExplorerActions"
            overrides="org.springframework.ide.eclipse.ui.graph.navigator.springExplorerActions">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <test
                        property="org.springframework.ide.eclipse.beans.core.model.isBeansConfig">
                  </test>
               </and>
               <instanceof
                     value="org.springframework.ide.eclipse.core.io.ZipEntryStorage">
               </instanceof>
               <instanceof
                     value="org.springframework.ide.eclipse.core.model.IModelElement">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.springframework.ide.eclipse.ui.navigator.springExplorer">
         <includes>
            <actionExtension
                  pattern="com.springsource.sts.config.ui.navigator.graph.springExplorerActions">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="com.springsource.sts.config.ui.navigator.graph.springExplorerActions">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   
   	<extension point="org.eclipse.ui.commands">
		<command id="com.springsource.sts.ide.ui.configure.namespaces"
			defaultHandler="org.springframework.ide.eclipse.config.ui.actions.OpenNamespaceConfigWizardCommandHandler"
			name="Configure Namespaces..." description="Configure namespaces" />
      <command
         defaultHandler="org.springframework.ide.eclipse.beans.ui.refactoring.actions.BeansRenameRefactorAction"
         id="org.springframework.ide.eclipse.beans.ui.refactoring.command.refactorBeanClass"
         name="%renameBeanElement.label">
      </command>
      <command
         defaultHandler="org.springframework.ide.eclipse.beans.ui.refactoring.actions.BeansMoveRefactorAction"
         id="org.springframework.ide.eclipse.beans.ui.refactoring.command.moveBeanClass"
         name="%moveBeanElement.label">
      </command>
      <command
         defaultHandler="org.springframework.ide.eclipse.beans.ui.refactoring.actions.RefactorPropertyElementAction"
         id="org.springframework.ide.eclipse.beans.ui.refactoring.command.refactorPropertyElement"
         name="%refactorPropertyElement.label">
      </command>
	</extension>

	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:org.eclipse.wst.sse.ui.StructuredTextEditor.EditorContext?before=additions">
			<command commandId="com.springsource.sts.ide.ui.configure.namespaces" />
		</menuContribution>
      <menuContribution
         allPopups="false"
         locationURI="popup:refactorPopupMenuId">
         <command
            commandId="org.springframework.ide.eclipse.beans.ui.refactoring.command.refactorPropertyElement">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.springframework.ide.eclipse.config.ui.definition.activeSpringConfigEditor">
               </reference>
            </visibleWhen>
         </command>
         <command
            commandId="org.springframework.ide.eclipse.beans.ui.refactoring.command.moveBeanClass">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.springframework.ide.eclipse.config.ui.definition.activeSpringConfigEditor">
               </reference>
            </visibleWhen>
         </command>
         <command
            commandId="org.springframework.ide.eclipse.beans.ui.refactoring.command.refactorBeanClass">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.springframework.ide.eclipse.config.ui.definition.activeSpringConfigEditor">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=sourceMenuId">
         <menu
               label="%refactorMenu.label">
            <command
                  commandId="org.springframework.ide.eclipse.beans.ui.refactoring.command.refactorPropertyElement">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.springframework.ide.eclipse.config.ui.definition.activeSpringConfigEditor">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.springframework.ide.eclipse.beans.ui.refactoring.command.moveBeanClass">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.springframework.ide.eclipse.config.ui.definition.activeSpringConfigEditor">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.springframework.ide.eclipse.beans.ui.refactoring.command.refactorBeanClass">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.springframework.ide.eclipse.config.ui.definition.activeSpringConfigEditor">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition id="org.springframework.ide.eclipse.config.ui.definition.activeSpringConfigEditor">
         <with variable="activePartId">
            <equals
               value="com.springsource.sts.config.ui.editors.SpringConfigEditor">
            </equals>
         </with>
      </definition>
	</extension>
</plugin>
