<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<!--
/*******************************************************************************
 * Copyright (c) 2012 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>
	<!--extension point="org.eclipse.ui.newWizards">
		<wizard
			id="org.springframework.ide.eclipse.beans.ui.wizards.newBeanDefinition"
            name="New Bean Definition"
            class="com.springsource.sts.wizard.NewBeanWizard"
            category="org.springframework.ide.eclipse.beans.ui.wizards.category"
            icon="icons/full/etool16/newconfig_wiz.gif">
			<description>
				Create a new Bean Definition
			</description>
			<selection
				class="org.eclipse.core.resources.IResource">
			</selection>
		</wizard>
	</extension-->

	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
        id="com.springsource.sts.wizard.resource"
        nameFilter="*.xml"
        objectClass="org.eclipse.core.resources.IResource">
            <action
				class="org.springframework.ide.eclipse.wizard.actions.CreateNewBeanDefAction"
				enablesFor="*" 
				icon="icons/full/etool16/newconfig_wiz.gif"
				id="com.springsource.sts.wizard.createNewBeanDef"
				label="New bean definition..."
				tooltip="Create new bean definition">
			</action>
		</objectContribution>
  		<objectContribution
        id="com.springsource.sts.wizard.resource"
        objectClass="org.springframework.ide.eclipse.beans.core.model.IBean">
            <action
                  class="org.springframework.ide.eclipse.wizard.actions.ModifyBeanDefAction"
 	              enablesFor="*" 
                  icon="icons/full/etool16/newconfig_wiz.gif"
                  id="com.springsource.sts.wizard.modifyBeanDef"
                  label="Modify bean definition..."
                  tooltip="Modify bean definition">
            </action> 
        </objectContribution>
	</extension>
 <extension
       point="org.eclipse.ui.newWizards">
    <wizard
          category="org.springframework.ide.eclipse.beans.ui.wizards.category"
          class="org.springframework.ide.eclipse.wizard.template.NewSpringProjectWizard"
          finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
          hasPages="true"
          icon="icons/full/etool16/new_template_project_obj.png"
          id="com.springsource.sts.wizard.template"
          name="Spring Project"
          preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.jdt.ui.JavaBrowsingPerspective,org.eclipse.jdt.ui.JavaHierarchyPerspective"
          project="true">
    </wizard>
   <wizard
         category="org.springframework.ide.eclipse.beans.ui.wizards.category"
         icon="icons/full/etool16/new_template_project_obj.png"
         class="org.springframework.ide.eclipse.wizard.gettingstarted.boot.NewSpringBootWizard"
         hasPages="true"
         id="org.springsource.ide.eclipse.commons.gettingstarted.wizard.boot.NewSpringBootWizard"
         name="Spring Starter Project"
         project="true">
       <description>Create new Spring Starter Project via the Spring Initializr Web Service</description>
   </wizard>
      
      <!-- an 'alias' for the GS import wizard that shows up in the File >> New menu -->
      <wizard
            category="org.springframework.ide.eclipse.beans.ui.wizards.category"
            class="org.springframework.ide.eclipse.wizard.gettingstarted.guides.GSImportWizard"
            icon="icons/full/etool16/new_template_project_obj.png"
            id="org.springsource.ide.eclipse.gettingstarted.wizards.import.generic.newalias"
            name="Import Spring Getting Started Content"
            project="true"> 
         <description> 
            An import wizards that imports code associated with a Spring Getting Started Guide
         </description> 
         <selection class="org.eclipse.core.resources.IResource"/> 
      </wizard>
      
      <category
            id="org.springsource.ide.eclipse.gettingstarted.wizards.import.category"
            name="Spring">
      </category> 
    
    <wizard
          category="org.springframework.ide.eclipse.beans.ui.wizards.category"
          class="org.springframework.ide.eclipse.wizard.ui.BeanWizard"
          icon="icons/full/obj16/bean_obj.gif"
          id="com.springsource.sts.wizard.bean"
          name="Spring Bean Definition">
    </wizard>
    
 </extension>
 
<extension 
     point="org.eclipse.ui.importWizards"> 
      <wizard
            category="org.springsource.ide.eclipse.gettingstarted.wizards.import.category"
            class="org.springframework.ide.eclipse.wizard.gettingstarted.guides.GSImportWizard"
            id="org.springsource.ide.eclipse.gettingstarted.wizards.import.generic"
            icon="icons/full/etool16/new_template_project_obj.png"
            name="Spring Getting Started Content"> 
         <description> 
            An import wizards that imports code associated with a Spring Getting Started Guide
         </description> 
         <selection class="org.eclipse.core.resources.IResource"/> 
      </wizard>
      
      <category
            id="org.springsource.ide.eclipse.gettingstarted.wizards.import.category"
            name="Spring">
      </category> 
</extension>


 
 
<extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
          activeByDefault="true"
          contentProvider="org.springframework.ide.eclipse.wizard.dnd.SpringContentProvider"
          id="com.springsource.sts.wizard.navigatorContent"
          labelProvider="org.springframework.ide.eclipse.wizard.dnd.SpringLabelProvider"
          name="Spring Content">
       <dropAssistant
             class="org.springframework.ide.eclipse.wizard.dnd.BeanWizardDropAdapter"
             id="com.springsource.sts.wizard.beanWizardDropAdapter">
          <possibleDropTargets>
             <or>
                <instanceof
                      value="java.lang.Object">
                </instanceof>
             </or>
          </possibleDropTargets>
       </dropAssistant>
       <triggerPoints>
          <or>
             <instanceof
                   value="org.eclipse.jdt.core.ICompilationUnit">
             </instanceof>
             <instanceof
                   value="org.eclipse.jdt.core.IType">
             </instanceof></or>
       </triggerPoints>
    </navigatorContent>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.viewer">
    <viewerContentBinding
          viewerId="org.springframework.ide.eclipse.ui.navigator.springExplorer">
       <includes>
          <contentExtension
                pattern="com.springsource.sts.wizard.navigatorContent">
          </contentExtension>
          <contentExtension
                pattern="java.lang.Object">
          </contentExtension>
       </includes>
    </viewerContentBinding>
 </extension>
 
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.eclipse.jdt.ui.JavaPerspective">
       <newWizardShortcut
             id="com.springsource.sts.wizard.template">
       </newWizardShortcut>
       <newWizardShortcut
             id="org.springsource.ide.eclipse.commons.gettingstarted.wizard.boot.NewSpringBootWizard">
       </newWizardShortcut>
       <newWizardShortcut
             id="org.springsource.ide.eclipse.gettingstarted.wizards.import.generic.newalias">
       </newWizardShortcut>
    </perspectiveExtension>
    <perspectiveExtension 
          targetID="org.eclipse.ui.resourcePerspective">
	   <newWizardShortcut
             id="com.springsource.sts.wizard.template">
       </newWizardShortcut>
       <newWizardShortcut
             id="org.springsource.ide.eclipse.commons.gettingstarted.wizard.boot.NewSpringBootWizard">
       </newWizardShortcut>
       <newWizardShortcut
             id="org.springsource.ide.eclipse.gettingstarted.wizards.import.generic.newalias">
       </newWizardShortcut>
    </perspectiveExtension>
    <perspectiveExtension
          targetID="org.eclipse.jst.j2ee.J2EEPerspective">
       <newWizardShortcut
             id="com.springsource.sts.wizard.template">
       </newWizardShortcut>
       <newWizardShortcut
             id="org.springsource.ide.eclipse.commons.gettingstarted.wizard.boot.NewSpringBootWizard">
       </newWizardShortcut>
       <newWizardShortcut
             id="org.springsource.ide.eclipse.gettingstarted.wizards.import.generic.newalias">
       </newWizardShortcut>
    </perspectiveExtension>
    <perspectiveExtension
          targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
       <newWizardShortcut
             id="com.springsource.sts.wizard.template">
       </newWizardShortcut>
       <newWizardShortcut
             id="org.springsource.ide.eclipse.commons.gettingstarted.wizard.boot.NewSpringBootWizard">
       </newWizardShortcut>
       <newWizardShortcut
             id="org.springsource.ide.eclipse.gettingstarted.wizards.import.generic.newalias">
       </newWizardShortcut>
    </perspectiveExtension>
    <perspectiveExtension
          targetID="org.eclipse.jdt.ui.JavaHierarchyPerspective">
       <newWizardShortcut
             id="com.springsource.sts.wizard.template">
       </newWizardShortcut>
       <newWizardShortcut
             id="org.springsource.ide.eclipse.commons.gettingstarted.wizard.boot.NewSpringBootWizard">
       </newWizardShortcut>
       <newWizardShortcut
             id="org.springsource.ide.eclipse.gettingstarted.wizards.import.generic.newalias">
       </newWizardShortcut>
    </perspectiveExtension>
 </extension>
    
    <extension
         point="org.eclipse.ui.preferencePages">
      <!--
      <page
            category="org.springframework.ide.eclipse.ui.preferencePage"
            class="org.springframework.ide.eclipse.wizard.template.util.ExampleProjectsPreferencePage"
            id="com.springsource.sts.help.ui.examplepreferencepage"
            name="Example Projects">
      </page>
      -->
      <page
            category="org.springframework.ide.eclipse.ui.preferencePage"
            class="org.springframework.ide.eclipse.wizard.template.util.TemplatesPreferencePage"
            id="com.springsource.sts.help.ui.templatepreferencepage"
            name="Template Projects">
      </page>
      </extension>
    <extension
          point="org.springsource.ide.browser.function.browserToEclipse">
       <function
             class="org.springframework.ide.eclipse.wizard.gettingstarted.guides.ext.OpenGSFunction"
             id="org.springframework.openGuideWizard"
             urlExpression=".*\.html">
       </function>
    </extension>
    <extension
          point="org.springsource.ide.browser.function.eclipseToBrowser">
       <provider
             class="org.springframework.ide.eclipse.wizard.gettingstarted.guides.ext.OpenGSWizardButtonProvider"
             functionName="addHtml"
             invokeOnLoad="true"
             urlExpression=".*org\.springsource\.ide\.eclipse\.commons\.gettingstarted.*/index.html">
          <argument
                dynamic="false"
                id="divId"
                literal="gettingStarted">
          </argument>
          <argument
                dynamic="true"
                id="html">
          </argument>
       </provider>
    </extension>
    <extension
          point="org.springsource.ide.eclipse.gradle.core.projectConfigurators">
       <configurator
             class="org.springframework.ide.eclipse.wizard.gettingstarted.importing.SpringProjectConfigurator"
             id="org.springframework.ide.eclipse.springproject"
             name="Spring">
       </configurator>
    </extension>
      
</plugin>
