<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/*******************************************************************************
 * Copyright (c) 2005, 2009 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>
	
	
   <extension-point id="graphContentExtender"
         name="%extensionGraphContentExtender.name"
         schema="schema/graphContentExtender.exsd"/>
         
   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="org.springframework.ide.eclipse.beans.ui.graph.editor"
            name="%graphEditor.name"
            icon="icons/full/obj16/beans_graph_obj.gif"
            contributorClass="org.springframework.ide.eclipse.beans.ui.graph.actions.GraphActionBarContributor"
            class="org.springframework.ide.eclipse.beans.ui.graph.editor.GraphEditor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.springframework.ide.eclipse.beans.ui.graph.editor.GraphEditorInputFactory"
            id="org.springframework.ide.eclipse.beans.ui.graph.editor.inputfactory"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer viewerId="org.springframework.ide.eclipse.ui.navigator.springExplorer"/>
      <viewerActionBinding viewerId="org.springframework.ide.eclipse.ui.navigator.springExplorer">
         <includes>
            <actionExtension pattern="org.springframework.ide.eclipse.ui.graph.navigator.springExplorerActions"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer viewerId="org.eclipse.ui.navigator.ProjectExplorer"/>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.springframework.ide.eclipse.ui.graph.navigator.springExplorerActions"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            id="org.springframework.ide.eclipse.ui.graph.navigator.springExplorerActions"
            class="org.springframework.ide.eclipse.beans.ui.graph.internal.navigator.SpringExplorerActionProvider">
         <enablement>
			<or>
				<and>
					<instanceof value="org.eclipse.core.resources.IFile"/>
					<test property="org.springframework.ide.eclipse.beans.core.model.isBeansConfig"/>
				</and>
				<instanceof value="org.springframework.ide.eclipse.core.io.ZipEntryStorage"/>
            	<instanceof value="org.springframework.ide.eclipse.core.model.IModelElement"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
  	
</plugin>
