<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/*******************************************************************************
 * Copyright (c) 2005, 2009 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>
	
	<extension point="org.eclipse.ui.viewActions"> 
    	<viewContribution 
	    	id="org.springframework.ide.eclipse.aop.mylyn.ui.filter" 
   		    targetID="org.springframework.ide.eclipse.aop.ui.navigator.aopReferenceModelNavigator">
	    	<action
	           label="%filterAopReferenceModelNavigatorAction.label"
	           tooltip="%filterAopReferenceModelNavigatorAction.tooltip"
	           menubarPath="mylyn"
	           toolbarPath="mylyn"
	           id="org.springframework.ide.eclipse.beans.mylyn.ui.actions.filterSpringExplorerAction"
	           class="org.springframework.ide.eclipse.aop.mylyn.ui.actions.FocusAopReferenceModelNavigatorAction"
	           style="toggle"
	           icon="icons/elcl16/interest-filtering.gif"
	           enablesFor="*" >
	         <enablement>
	         	<systemProperty
	                name="org.eclipse.mylyn.context.core.context.active"
	                value="true">
	         	</systemProperty>
	         </enablement>
      		</action>
	  	</viewContribution> 
	</extension>
 <extension
       point="org.eclipse.mylyn.context.ui.startup">
    <startup
          class="org.springframework.ide.eclipse.aop.mylyn.ui.AopReferenceModelNavigatorStartup">
    </startup>
 </extension>
	
</plugin>
