<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            natureId="org.springframework.ide.eclipse.core.springnature"
            icon="icons/full/ovr16/spring_ovr.gif"
            id="org.springframework.ide.eclipse.ui.springnatureimage"/>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.springframework.ide.eclipse.ui.actions.nonSpringProject">
         <visibility>
            <and>
               <and>
                  <not>
                     <objectState
                           name="nature"
                           value="org.springframework.ide.eclipse.core.springnature">
                     </objectState>
                  </not>
                  <not>
                     <objectState
                           name="nature"
                           value="org.springframework.ide.eclipse.beans.core.beansnature">
                     </objectState>
                  </not>
               </and>
               <not>
                  <objectState
                        name="nature"
                        value="org.springframework.eclipse.core.springnature">
                  </objectState>
               </not>
            </and>
         </visibility>
         <action
               label="%popupMenus.addNature.label"
               class="org.springframework.ide.eclipse.ui.internal.actions.AddRemoveNature"
               enablesFor="+"
               id="org.springframework.ide.eclipse.ui.actions.addNature">
         </action>
      </objectContribution>

      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.springframework.ide.eclipse.beans.ui.actions.springProject">
         <visibility>
            <objectState
                  name="nature"
                  value="org.springframework.ide.eclipse.core.springnature">
            </objectState>
         </visibility>
         <action
               label="%popupMenus.removeNature.label"
               class="org.springframework.ide.eclipse.ui.internal.actions.AddRemoveNature"
               enablesFor="+"
               id="org.springframework.ide.eclipse.ui.actions.removeNature">
         </action>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="org.springframework.ide.eclipse.ui.projectPropertyPage"
            name="%projectPropertyPage"
            class="org.springframework.ide.eclipse.ui.dialogs.ProjectBuilderPropertyPage"
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="nature"
               value="org.springframework.ide.eclipse.core.springnature">
         </filter>
      </page>
   </extension>

</plugin>
