<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/*******************************************************************************
 * Copyright (c) 2005, 2011 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>

   <extension-point id="namespaces"
         name="%extensionNamespaces.name"
         schema="schema/namespaces.exsd"/>

   <extension-point id="metadataproviders"
         name="%extensionMetadataproviders.name"
         schema="schema/metadataproviders.exsd"/>

   <extension
         point="org.springframework.ide.eclipse.beans.ui.namespaces">
      <namespace
            uri="http://www.springframework.org/schema/beans"
            labelProvider="org.springframework.ide.eclipse.beans.ui.namespaces.BeansNamespaceLabelProvider" />
      <namespace
            uri="http://www.springframework.org/schema/aop"
            labelProvider="org.springframework.ide.eclipse.beans.ui.namespaces.AopNamespaceLabelProvider" />
      <namespace
            uri="http://www.springframework.org/schema/tx"
            labelProvider="org.springframework.ide.eclipse.beans.ui.namespaces.TxNamespaceLabelProvider" />
      <namespace
            uri="http://www.springframework.org/schema/jee"
            labelProvider="org.springframework.ide.eclipse.beans.ui.namespaces.JeeNamespaceLabelProvider" />
      <namespace
            uri="http://www.springframework.org/schema/util"
            labelProvider="org.springframework.ide.eclipse.beans.ui.namespaces.UtilNamespaceLabelProvider" />
      <namespace
            uri="http://www.springframework.org/schema/lang"
            labelProvider="org.springframework.ide.eclipse.beans.ui.namespaces.LangNamespaceLabelProvider" />
      <namespace
            uri="http://www.springframework.org/schema/jms"
            labelProvider="org.springframework.ide.eclipse.beans.ui.namespaces.JmsNamespaceLabelProvider" />
      <namespace
            uri="http://www.springframework.org/schema/context"
            labelProvider="org.springframework.ide.eclipse.beans.ui.namespaces.ContextNamespaceLabelProvider" />
      <namespace
            name="p Namespace"
            uri="http://www.springframework.org/schema/p"
            prefix="p"
            icon="icons/full/obj16/property_obj.gif">
      </namespace>                  
   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="org.springframework.ide.eclipse.beans.ui.properties.ProjectPropertyPage"
            name="%configurationPropertyPage"
            class="org.springframework.ide.eclipse.beans.ui.properties.ProjectPropertyPage"
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            category="org.springframework.ide.eclipse.ui.projectPropertyPage">
         <filter
               name="nature"
               value="org.springframework.ide.eclipse.core.springnature">
         </filter>
         <keywordReference
               id="org.springframework.ide.eclipse.beans.ui.propertykeywords">
      	 </keywordReference>
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            adaptable="false"
            location="TOP_RIGHT"
            label="%decorator.label"
            state="true"
            class="org.springframework.ide.eclipse.beans.ui.model.BeansModelLabelDecorator"
            id="org.springframework.ide.eclipse.beans.ui.model.beansModelLabelDecorator">
         <description>
            %decorator.description
         </description>
         <enablement>
            <or>
               <objectClass name="org.eclipse.core.resources.IFolder"/>
               <objectClass name="org.eclipse.core.resources.IFile"/>
               <objectClass name="org.eclipse.jdt.core.IJavaElement"/>
               <objectClass name="org.springframework.ide.eclipse.beans.core.model.IBeansModelElement"/>
            </or>
         </enablement>
      </decorator>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.springframework.ide.eclipse.beans.ui.wizards.category"
            name="%wizards.category"/>
      <wizard
            id="org.springframework.ide.eclipse.beans.ui.wizards.newBeansConfig"
            name="%wizards.newConfig.name"
            class="org.springframework.ide.eclipse.beans.ui.wizards.NewBeansConfigWizard"
            category="org.springframework.ide.eclipse.beans.ui.wizards.category"
            icon="icons/full/etool16/newconfig_wiz.gif">
         <description>
            %wizards.newConfig.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
 
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%actionSet.label"
            visible="true"
            id="org.springframework.ide.eclipse.beans.ui.actionSet">
         <action
               id="org.springframework.ide.eclipse.beans.ui.openBeanAction"
               toolbarPath="org.eclipse.search.searchActionSet/Search"
               class="org.springframework.ide.eclipse.beans.ui.actions.OpenBeanSelectionDialogAction"
               definitionId="org.springframework.ide.eclipse.beans.ui.commands.openBean"
               icon="icons/full/etool16/open_bean_obj.gif"
               label="%action.openBean.label"
               menubarPath="navigate/open.ext2"
               tooltip="%action.openBean.tooltip">
         </action>
      </actionSet>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.springframework.ide.eclipse.beans.ui.commands.openBean"
            name="%command.openBean.name"
            categoryId="org.eclipse.ui.category.navigate"/>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            sequence="M3+M2+B"
            contextId="org.eclipse.ui.globalScope"
            commandId="org.springframework.ide.eclipse.beans.ui.commands.openBean"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer viewerId="org.springframework.ide.eclipse.ui.navigator.springExplorer"/>
      <viewerContentBinding viewerId="org.springframework.ide.eclipse.ui.navigator.springExplorer">
         <includes>
            <contentExtension pattern="org.springframework.ide.eclipse.beans.ui.navigator.springExplorerContent"/>
            <contentExtension pattern="org.springframework.ide.eclipse.beans.ui.navigator.filters.hideBeansConfigSets"/>
            <contentExtension pattern="org.springframework.ide.eclipse.beans.ui.navigator.filters.hideInfrastructureBean"/>
            <contentExtension pattern="org.springframework.ide.eclipse.beans.ui.navigator.filters.hideNonMatchingProfiles"/>
            <contentExtension pattern="org.springframework.ide.eclipse.beans.ui.navigator.linkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.springframework.ide.eclipse.ui.navigator.springExplorer">
         <includes>
            <actionExtension pattern="org.springframework.ide.eclipse.beans.ui.navigator.springExplorerActions"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer viewerId="org.eclipse.ui.navigator.ProjectExplorer"/>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.springframework.ide.eclipse.beans.ui.navigator.projectExplorerContent"/>
            <contentExtension pattern="org.springframework.ide.eclipse.beans.ui.navigator.filters.*"/>
            <contentExtension pattern="org.springframework.ide.eclipse.beans.ui.navigator.linkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.springframework.ide.eclipse.beans.ui.navigator.projectExplorerActions"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            id="org.springframework.ide.eclipse.beans.ui.navigator.springExplorerContent"
            name="%navigatorContentName"
            contentProvider="org.springframework.ide.eclipse.beans.ui.navigator.BeansNavigatorContentProvider"
            labelProvider="org.springframework.ide.eclipse.beans.ui.navigator.BeansNavigatorLabelProvider"
            icon="icons/full/obj16/bean_obj.gif"
            activeByDefault="true">
		 <triggerPoints>
			<or>
				<and>
					<instanceof value="org.eclipse.core.resources.IFile"/>
					<test property="org.springframework.ide.eclipse.beans.core.model.isBeansConfig"/>
				</and>
				<instanceof value="org.springframework.ide.eclipse.core.model.ISpringProject"/>
				<instanceof value="org.springframework.ide.eclipse.core.io.ZipEntryStorage"/>
				<instanceof value="org.springframework.ide.eclipse.beans.core.model.IBeansModelElement"/>
			</or>
		 </triggerPoints>
         <possibleChildren>
			<or>
				<instanceof value="org.eclipse.core.resources.IResource"/>
				<instanceof value="org.springframework.ide.eclipse.beans.core.model.IBeansModelElement"/>
				<instanceof value="org.eclipse.jdt.core.IJavaElement"/>
				<instanceof value="org.springframework.ide.eclipse.beans.ui.model.metadata.BeanMetadataNode"/>
				<instanceof value="org.springframework.ide.eclipse.beans.ui.model.metadata.BeanMetadataReference" />
				<instanceof value="org.springframework.ide.eclipse.beans.core.model.metadata.IBeanMetadata"/>
			</or>
         </possibleChildren>
         <commonSorter
               id="org.springframework.ide.eclipse.beans.ui.navigator.springExplorerSorter"
               class="org.springframework.ide.eclipse.beans.ui.navigator.BeansNavigatorSorter"/>
         <actionProvider
             id="org.springframework.ide.eclipse.beans.ui.navigator.springExplorerActions"
             class="org.springframework.ide.eclipse.beans.ui.navigator.BeansNavigatorActionProvider">
	         <enablement>
				<or>
					<and>
						<instanceof value="org.eclipse.core.resources.IFile"/>
						<test property="org.springframework.ide.eclipse.beans.core.model.isBeansConfig"/>
					</and>
					<instanceof value="org.springframework.ide.eclipse.core.io.ZipEntryStorage"/>
					<instanceof value="org.springframework.ide.eclipse.beans.core.model.IBeansModelElement"/>
					<instanceof value="org.springframework.ide.eclipse.beans.ui.model.metadata.BeanMetadataNode"/>
					<instanceof value="org.springframework.ide.eclipse.beans.core.model.metadata.IBeanMetadata"/>
					<instanceof value="org.springframework.ide.eclipse.beans.ui.model.metadata.BeanMetadataReference" />
	            </or>
	         </enablement>
         </actionProvider>
         <dropAssistant
               class="org.springframework.ide.eclipse.beans.ui.navigator.BeansNavigatorDropAdapter"
               id="org.springframework.ide.eclipse.beans.ui.navigator.springExplorerContent.dropAssistent">
            <possibleDropTargets>
            	<or>
            		<!-- drop to config sets -> node: '<config set name>' -->
					<instanceof value="org.springframework.ide.eclipse.beans.core.model.IBeansConfigSet"/>
            		<!-- drop to beans project -> node: 'beans' -->
					<instanceof value="org.springframework.ide.eclipse.beans.core.model.IBeansProject"/>
            		<!-- drop to spring config -> node: '<project name>' -->
					<instanceof value="org.springframework.ide.eclipse.core.model.ISpringProject"/>
            		<!-- drop to empty space -->
					<instanceof value="org.eclipse.core.resources.IWorkspaceRoot"/>
				</or>
            </possibleDropTargets>
         </dropAssistant>
      </navigatorContent>

      <navigatorContent
            id="org.springframework.ide.eclipse.beans.ui.navigator.projectExplorerContent"
            name="%navigatorContentName"
            contentProvider="org.springframework.ide.eclipse.beans.ui.navigator.BeansNavigatorContentProvider"
            labelProvider="org.springframework.ide.eclipse.beans.ui.navigator.BeansNavigatorLabelProvider"
            icon="icons/full/obj16/bean_obj.gif"
            activeByDefault="true"
            priority="highest">	<!-- we need to outrule the other navigators here to get the IFiles labeled -->
		<triggerPoints>
			<or>
				<!--<and>
					<instanceof value="org.eclipse.core.resources.IFile"/>
					<test property="org.springframework.ide.eclipse.beans.core.model.isBeansConfig"/>
				</and>-->
				<instanceof value="org.springframework.ide.eclipse.core.model.ISpringProject"/>
				<instanceof value="org.springframework.ide.eclipse.core.io.ZipEntryStorage"/>
				<instanceof value="org.springframework.ide.eclipse.beans.core.model.IBeansModelElement"/>
				<instanceof value="org.eclipse.jdt.core.IType"/>
				<instanceof value="org.springframework.ide.eclipse.beans.ui.model.metadata.BeanMetadataNode"/>
				<instanceof value="org.springframework.ide.eclipse.beans.core.model.metadata.IBeanMetadata"/>
			</or>
		 </triggerPoints>
         <possibleChildren>
			<or>
				<and>
					<instanceof value="org.eclipse.core.resources.IFile"/>
					<test property="org.springframework.ide.eclipse.beans.core.model.isBeansConfig"/>
				</and>
				<instanceof value="org.springframework.ide.eclipse.beans.core.model.IBeansModelElement"/>
				<instanceof value="org.springframework.ide.eclipse.beans.ui.model.metadata.BeanMetadataNode"/>
				<instanceof value="org.springframework.ide.eclipse.beans.core.model.metadata.IBeanMetadata"/>
			</or>
         </possibleChildren>
         <commonSorter
               id="org.springframework.ide.eclipse.beans.ui.navigator.sorter.projectExplorerSorter"
               class="org.springframework.ide.eclipse.beans.ui.navigator.BeansNavigatorSorter"/>
         <actionProvider
             id="org.springframework.ide.eclipse.beans.ui.navigator.projectExplorerActions"
             class="org.springframework.ide.eclipse.beans.ui.navigator.BeansNavigatorActionProvider">
	         <enablement>
				<or>
					<and>
						<instanceof value="org.eclipse.core.resources.IFile"/>
						<test property="org.springframework.ide.eclipse.beans.core.model.isBeansConfig"/>
					</and>
					<instanceof value="org.springframework.ide.eclipse.core.io.ZipEntryStorage"/>
					<instanceof value="org.springframework.ide.eclipse.beans.core.model.IBeansModelElement"/>
					<instanceof value="org.springframework.ide.eclipse.beans.ui.model.metadata.BeanMetadataNode"/>
					<instanceof value="org.springframework.ide.eclipse.beans.core.model.metadata.IBeanMetadata"/>
	            </or>
	         </enablement>
         </actionProvider>
      </navigatorContent>

      <commonFilter
            id="org.springframework.ide.eclipse.beans.ui.navigator.filters.hideNonSpringProjects"
            name="%navigatorfilterHideNonSpringProjectsName"
            description="%navigatorfilterHideNonSpringProjectsDescription"
            class="org.springframework.ide.eclipse.beans.ui.navigator.filters.NonSpringProjectFilter"
            activeByDefault="false"/>
      <commonFilter
            id="org.springframework.ide.eclipse.beans.ui.navigator.filters.hideBeanClassReferences"
            name="%navigatorfilterHideBeanClassReferencesName"
            description="%navigatorfilterHideBeanClassReferencesDescription"
            activeByDefault="false">
				<filterExpression>
					<instanceof value="org.springframework.ide.eclipse.beans.core.internal.model.BeanClassReferences"/>
				</filterExpression>
      </commonFilter>
      <commonFilter
            id="org.springframework.ide.eclipse.beans.ui.navigator.filters.hideBeansConfigSets"
            name="%navigatorfilterHideBeansConfigSetsName"
            description="%navigatorfilterHideBeansConfigSetsDescription"
            activeByDefault="false">
				<filterExpression>
					<instanceof value="org.springframework.ide.eclipse.beans.core.model.IBeansConfigSet"/>
				</filterExpression>
      </commonFilter>
      <commonFilter
            id="org.springframework.ide.eclipse.beans.ui.navigator.filters.hideInfrastructureBean"
            name="%navigatorfilterHideInfrstructureBeanName"
            description="%navigatorfilterHideInfrstructureBeanDescription"
            activeByDefault="true">
				<filterExpression>
					<and>
						<instanceof value="org.springframework.ide.eclipse.beans.core.model.IBean"/>
						<test property="org.springframework.ide.eclipse.beans.core.model.isInfrstructureBean"/>
					</and>
				</filterExpression>
      </commonFilter>
      <commonFilter
            id="org.springframework.ide.eclipse.beans.ui.navigator.filters.hideNonMatchingProfiles"
            name="%navigatorfilterNonMatchingProfilesName"
            description="%navigatorfilterNonMatchingProfilesDescription"
            class="org.springframework.ide.eclipse.beans.ui.navigator.filters.NonMatchingProfilesFilter"
            activeByDefault="true"/>
   </extension>

   <extension
          point="org.eclipse.ui.navigator.linkHelper">
       <linkHelper
             id="org.springframework.ide.eclipse.beans.ui.navigator.linkHelper"
             class="org.springframework.ide.eclipse.beans.ui.navigator.BeansNavigatorLinkHelper">
          <selectionEnablement>
			 <or>
				<and>
					<instanceof value="org.eclipse.core.resources.IFile"/>
					<test property="org.springframework.ide.eclipse.beans.core.model.isBeansConfig"/>
				</and>
				<instanceof value="org.springframework.ide.eclipse.core.io.ZipEntryStorage"/>
				<instanceof value="org.springframework.ide.eclipse.beans.core.model.IBeansModelElement"/>
				<instanceof value="org.w3c.dom.Element"/>
	         </or>
          </selectionEnablement>
          <editorInputEnablement>
             <instanceof value="org.eclipse.ui.IFileEditorInput"/>
          </editorInputEnablement>
       </linkHelper>
   </extension>

   <extension
         point="org.springframework.ide.eclipse.ui.projectExplorer">
      <filter class="org.springframework.ide.eclipse.beans.ui.navigator.filters.NonSpringArtefactsFilter"/>
   </extension>
   
   <extension
         point="org.springframework.ide.eclipse.ui.contentContribution">
      <contentContribution
            contentProvider="org.springframework.ide.eclipse.beans.ui.workingsets.BeansWorkingSetContentProvider"
            labelProvider="org.springframework.ide.eclipse.beans.ui.workingsets.BeansWorkingSetLabelProvider"
            viewerFilter="org.springframework.ide.eclipse.beans.ui.workingsets.BeansWorkingSetViewerFilter"/>
   </extension>
   
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
       	  <newWizardShortcut
             id="org.springframework.ide.eclipse.beans.ui.wizards.newBeansConfig">
          </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
          <newWizardShortcut
             id="org.springframework.ide.eclipse.beans.ui.wizards.newBeansConfig">
          </newWizardShortcut>
      </perspectiveExtension>
    </extension>
	
	<extension point="org.eclipse.ui.preferencePages">
	 	<page id="org.springframework.ide.eclipse.beans.ui.preferencePage"
  	      	name="%beansSupportPreferencePage.name"
	      	class="org.springframework.ide.eclipse.beans.ui.preferences.BeansPreferencePage"
	      	category="org.springsource.ide.eclipse.commons.preferencePage">
      		<keywordReference
            	id="org.springframework.ide.eclipse.beans.ui.keywords">
      		</keywordReference>
   		</page>
	</extension>
	
    <extension point="org.eclipse.ui.keywords">
      <keyword  id="org.springframework.ide.eclipse.beans.ui.keywords"
            label="%preferenceKeywords.label"/>
    </extension>

    <extension point="org.eclipse.ui.keywords">
      <keyword  id="org.springframework.ide.eclipse.beans.ui.propertykeywords"
            label="%propertyKeywords.label"/>
    </extension>
	
	<extension point="org.eclipse.ui.menus">
	    <menuContribution locationURI="menu:navigate?after=showIn">
	       <command
	             commandId="org.springframework.ide.eclipse.beans.ui.inplace.show"
	             label="%beansViewInplace.label"
	             style="push">
	          <visibleWhen>
	          	<with variable="activeContexts">
		            <iterate operator="or">
		               <equals
		                     value="org.eclipse.wst.sse.ui.structuredTextEditorScope"/>
		            </iterate>
	         	</with>
	          </visibleWhen>
	       </command>
	    </menuContribution>
	</extension>
	
	<extension point="org.eclipse.ui.commands">
		<command
        categoryId="org.eclipse.ui.category.navigate"
        defaultHandler="org.springframework.ide.eclipse.beans.ui.inplace.OpenBeansInplaceOutlineDialogHandler"
        description="%beansViewInplace.content"
        id="org.springframework.ide.eclipse.beans.ui.inplace.show"
        name="%beansViewInplace.label">
		</command>
	</extension>

	<extension point="org.eclipse.ui.bindings">
		<key sequence="M1+M2+O"
			commandId="org.springframework.ide.eclipse.beans.ui.inplace.show"
			contextId="org.eclipse.wst.sse.ui.structuredTextEditorScope"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
	</extension>
	
	<extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="org.springframework.ide.eclipse.beans.ui.namespaces.projectPropertyPage"
            name="%namespaceProjectPropertyPage.label"
            class="org.springframework.ide.eclipse.beans.ui.preferences.NamespaceVersionPreferencePage"
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            category="org.springframework.ide.eclipse.beans.ui.properties.ProjectPropertyPage">
         <filter
               name="nature"
               value="org.springframework.ide.eclipse.core.springnature">
         </filter>
         <keywordReference
               id="org.springframework.ide.eclipse.beans.ui.namespaces.keywords">
         </keywordReference>
      </page>
   </extension>
   
     <extension point="org.eclipse.ui.keywords">
         <keyword id="org.springframework.ide.eclipse.beans.ui.namespaces.keywords"
            label="%namespacePreferenceKeywords.label"/>
    </extension>
   
    <extension point="org.eclipse.ui.preferencePages">
	 	<page id="org.springframework.ide.eclipse.beans.ui.namespaces.preferencePage"
 			name="%namespaceProjectPropertyPage.label"
    		class="org.springframework.ide.eclipse.beans.ui.preferences.NamespaceVersionPreferencePage"
    		category="org.springframework.ide.eclipse.beans.ui.preferencePage">
   		</page>
   	</extension>
    <extension
          point="org.eclipse.ui.commands">
       <command
             defaultHandler="org.springframework.ide.eclipse.beans.ui.actions.AddAsBeanConfigAction"
             id="org.springframework.ide.eclipse.beans.ui.addAsBeanConfig"
             name="%addAsBeanConfigurationCommand.name">
       </command>
       <command
             defaultHandler="org.springframework.ide.eclipse.beans.ui.actions.RemoveAsBeanConfigAction"
             id="org.springframework.ide.eclipse.beans.ui.removeAsBeanConfig"
             name="%removeAsBeanConfigurationCommand.name">
       </command>
       <command
             defaultHandler="org.springframework.ide.eclipse.beans.ui.actions.AddToNewConfigSetAction"
             id="org.springframework.ide.eclipse.beans.ui.addToNewConfigSet"
             name="%addToNewConfigSetCommand.name">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             allPopups="false"
             locationURI="popup:org.eclipse.ui.popup.any?after=additions">
          <menu
                id="org.springframework.ide.eclipse.ui.tools"
                label="%springToolsMenu.label">
             <command
                   commandId="org.springframework.ide.eclipse.beans.ui.addAsBeanConfig"
                   style="push">
                <visibleWhen
                      checkEnabled="true">
                </visibleWhen>
             </command>
             <command
                   commandId="org.springframework.ide.eclipse.beans.ui.removeAsBeanConfig"
                   style="push">
                <visibleWhen
                      checkEnabled="true">
                </visibleWhen>
             </command>
             <command
                   commandId="org.springframework.ide.eclipse.beans.ui.addToNewConfigSet"
                   style="push">
                <visibleWhen
                      checkEnabled="true">
                </visibleWhen>
             </command>
             <menu
                   label="%addToConfigSetMenu.label">
                <visibleWhen
                      checkEnabled="false">
                   <iterate
                         ifEmpty="false">
                      <test
                            property="org.springframework.ide.eclipse.beans.core.model.canAddToConfigSet"
                            value="true">
                      </test>
                   </iterate>
                </visibleWhen>
                <dynamic
                      class="org.springframework.ide.eclipse.beans.ui.actions.AddToConfigSetAction"
                      id="org.springframework.ide.eclipse.beans.ui.addToConfigSetDynamicAction">
                </dynamic>
             </menu>
             <menu
                   label="%removeFromConfigSetMenu.label">
                <visibleWhen
                      checkEnabled="false">
                   <iterate
                         ifEmpty="false">
                      <test
                            property="org.springframework.ide.eclipse.beans.core.model.isEmptyConfigSet"
                            value="false">
                      </test>
                   </iterate>
                </visibleWhen>
                <dynamic
                      class="org.springframework.ide.eclipse.beans.ui.actions.RemoveFromConfigSetAction"
                      id="org.springframework.ide.eclipse.beans.ui.removeFromConfigSetDynamicAction">
                </dynamic>
             </menu>
          </menu>
       </menuContribution>
    </extension>
	
</plugin>
