<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.springframework.ide.eclipse.boot.dash.injections">
      <injection class="org.springframework.ide.eclipse.boot.dash.cf.BootDashInjections"/>
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.springframework.ide.eclipse.boot.dash.propertyContributor">
         <propertySection
               class="org.springframework.ide.eclipse.boot.dash.cf.properties.CloudFoundryAppPropertiesSection"
               id="org.springframework.ide.eclipse.boot.dash.section.CloudFoundryGeneral"
               tab="org.springframework.ide.eclipse.boot.dash.tab.General">
            <input
                  type="org.springframework.ide.eclipse.boot.dash.cloudfoundry.CloudAppDashElement">
            </input>
         </propertySection>
         <propertySection
               class="org.springframework.ide.eclipse.boot.dash.cf.properties.CloudServiceGeneralPropertiesSection"
               id="org.springframework.ide.eclipse.boot.dash.section.CloudServiceSection"
               tab="org.springframework.ide.eclipse.boot.dash.tab.General">
            <input
                  type="org.springframework.ide.eclipse.boot.dash.cloudfoundry.CloudServiceInstanceDashElement">
            </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
