<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.springframework.ide.eclipse.boot.dash.runtargettype">
      <factory
            class="org.springframework.ide.eclipse.boot.dash.cf.runtarget.CloudFoundryRunTargetType$Factory">
      </factory>
   </extension>
   <extension
         point="org.springframework.ide.eclipse.boot.dash.injections">
      <injection
            class="org.springframework.ide.eclipse.boot.dash.cf.BootDashInjections">
      </injection>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.springframework.ide.eclipse.boot.dash.views.BootDashView?after=additions">
         <command
               commandId="org.springframework.ide.eclipse.boot.dash.cf.updatePassword"
               label="Update Password..."
               style="push">
             <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <instanceof
                           value="org.springframework.ide.eclipse.boot.dash.cloudfoundry.CloudFoundryBootDashModel">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.springframework.ide.eclipse.boot.dash.cf.ui.UpdatePasswordHandler"
            commandId="org.springframework.ide.eclipse.boot.dash.cf.updatePassword">
      </handler>
   </extension>

</plugin>
