<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/*******************************************************************************
 * Copyright (c) 2005, 2009 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>


	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
			class="org.springframework.ide.eclipse.webflow.core.internal.model.WebflowModelPropertyTester"
			id="org.springframework.ide.eclipse.webflow.core.webflowModelTester"
			namespace="org.springframework.ide.eclipse.webflow.core.model"
			properties="isWebflowConfig" type="org.eclipse.core.resources.IFile" />
	</extension>

	<extension point="org.eclipse.core.resources.markers"
			id="problemmarker"
			name="%webflowProblemMarker">
		<super type="org.springframework.ide.eclipse.core.problemmarker" />
		<attribute name="ruleId"/>
		<attribute name="errorId"/>
		<persistent value="true" />
	</extension>

	<extension point="org.eclipse.ui.ide.markerSupport">
		<markerTypeCategory name="%markerCategory.name">
			<markerTypeReference id="org.springframework.ide.eclipse.webflow.core.problemmarker"/>
		</markerTypeCategory>
	</extension>

	<extension point="org.eclipse.ui.elementFactories">
		<factory
			id="org.springframework.ide.eclipse.webflow.core.factoryId"
			class="org.springframework.ide.eclipse.webflow.core.internal.model.WebflowModelElementFactory" />
	</extension>
	
	<extension point="org.springframework.ide.eclipse.core.validators">
		<validator id="validator"
			name="%webflowvalidator.name"
			icon="icons/full/obj16/spring_webflow_obj.gif"
			class="org.springframework.ide.eclipse.webflow.core.internal.model.validation.WebflowValidator"
			markerId="problemmarker"
			description="%webflowvalidator.description"
			enabledByDefault="true"
			order="30" />
	  <rules validatorId="org.springframework.ide.eclipse.webflow.core.validator">
	     <rule
	           class="org.springframework.ide.eclipse.webflow.core.internal.model.validation.rules.ActionStateValidationRule"
	           id="validation.actionstate"
	           name="Action State Rule"/>
	     <rule
	           class="org.springframework.ide.eclipse.webflow.core.internal.model.validation.rules.ActionValidationRule"
	           id="validation.action"
	           name="Action Rule"/>
	     <rule
	           class="org.springframework.ide.eclipse.webflow.core.internal.model.validation.rules.AttributeMapperValidationRule"
	           id="validation.attributemapper"
	           name="Attribute Mapper Rule"/>
	     <rule
	           class="org.springframework.ide.eclipse.webflow.core.internal.model.validation.rules.AttributeValidationRule"
	           id="validation.attribute"
	           name="Attribute Rule"/>
	     <rule
	           class="org.springframework.ide.eclipse.webflow.core.internal.model.validation.rules.BeanActionValidationRule"
	           id="validation.beanaction"
	           name="Bean Action Rule"/>
	     <rule
	           class="org.springframework.ide.eclipse.webflow.core.internal.model.validation.rules.EvaluationActionValidationRule"
	           id="validation.evaluationaction"
	           name="Evaluation Action Rule"/>
	     <rule
	           class="org.springframework.ide.eclipse.webflow.core.internal.model.validation.rules.EvaluationResultValidationRule"
	           id="validation.evaluationresult"
	           name="Evaluation Result Rule"/>
	     <rule
	           class="org.springframework.ide.eclipse.webflow.core.internal.model.validation.rules.ExceptionHandlerValidationRule"
	           id="validation.exceptionhandler"
	           name="Exception Handler Rule"/>
	     <rule
	           class="org.springframework.ide.eclipse.webflow.core.internal.model.validation.rules.ImportValidationRule"
	           id="validation.import"
	           name="Import Rule"/>
	     <rule
	           class="org.springframework.ide.eclipse.webflow.core.internal.model.validation.rules.InputAttributeValidationRule"
	           id="validation.inputattribute"
	           name="Input Attribute Rule"/>
	     <rule
	           class="org.springframework.ide.eclipse.webflow.core.internal.model.validation.rules.MappingValidationRule"
	           id="validation.mapping"
	           name="Mapping Rule"/>
	     <rule
	           class="org.springframework.ide.eclipse.webflow.core.internal.model.validation.rules.OutputAttributeValidationRule"
	           id="validation.set"
	           name="Set Rule"/>
	     <rule
	           class="org.springframework.ide.eclipse.webflow.core.internal.model.validation.rules.SetValidationRule"
	           id="validation.outputattribute"
	           name="Output Attribute Rule"/>
	     <rule
	           class="org.springframework.ide.eclipse.webflow.core.internal.model.validation.rules.StateValidationRule"
	           id="validation.state"
	           name="State Rule"/>
	     <rule
	           class="org.springframework.ide.eclipse.webflow.core.internal.model.validation.rules.SubflowStateValidationRule"
	           id="validation.subflowstate"
	           name="Sub Flow State Rule"/>
	     <rule
	           class="org.springframework.ide.eclipse.webflow.core.internal.model.validation.rules.TransitionValidationRule"
	           id="validation.transition"
	           name="Transition Rule"/>
	     <rule
	           class="org.springframework.ide.eclipse.webflow.core.internal.model.validation.rules.VariableValidationRule"
	           id="validation.variable"
	           name="Variable Rule"/>
	     <rule
	           class="org.springframework.ide.eclipse.webflow.core.internal.model.validation.rules.WebflowStateValidationRule"
	           id="validation.webflowstate"
	           name="Web Flow Rule"/>
	  </rules>
	</extension>

</plugin>
