<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

 	<extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="org.springframework.ide.eclipse.web.flow.ui.properties.ConfigurationPropertyPage"
            class="org.springframework.ide.eclipse.webflow.ui.properties.WebflowPropertyPage"
            name="%configurationPropertyPage"
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            category="org.springframework.ide.eclipse.ui.projectPropertyPage">
         <filter
               name="nature"
               value="org.springframework.ide.eclipse.core.springnature">
         </filter>
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer viewerId="org.springframework.ide.eclipse.ui.navigator.springExplorer"/>
      <viewerContentBinding viewerId="org.springframework.ide.eclipse.ui.navigator.springExplorer">
         <includes>
            <contentExtension pattern="org.springframework.ide.eclipse.webflow.ui.navigator.springExplorerContent"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.springframework.ide.eclipse.ui.navigator.springExplorer">
         <includes>
            <actionExtension pattern="org.springframework.ide.eclipse.webflow.ui.navigator.springExplorerActions"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer viewerId="org.eclipse.ui.navigator.ProjectExplorer"/>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.springframework.ide.eclipse.webflow.ui.navigator.projectExplorerContent"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.springframework.ide.eclipse.webflow.ui.navigator.projectExplorerActions"/>
         </includes>
      </viewerActionBinding>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            id="org.springframework.ide.eclipse.webflow.ui.navigator.springExplorerContent"
            name="%navigatorContentName"
            contentProvider="org.springframework.ide.eclipse.webflow.ui.navigator.WebflowNavigatorContentProvider"
            labelProvider="org.springframework.ide.eclipse.webflow.ui.navigator.WebflowNavigatorLabelProvider"
            icon="icons/full/obj16/spring_webflow_obj.gif"
            activeByDefault="true"
            providesSaveables="false">
		 <triggerPoints>
			<or>
				<instanceof value="org.springframework.ide.eclipse.core.model.ISpringProject"/>
				<and>
					<instanceof value="org.eclipse.core.resources.IFile"/>
					<test property="org.springframework.ide.eclipse.webflow.core.model.isWebflowConfig"/>
				</and>
				<instanceof value="org.springframework.ide.eclipse.webflow.core.model.IWebflowProject"/>
				<instanceof value="org.springframework.ide.eclipse.webflow.core.model.IWebflowModelElement"/>
			</or>
		 </triggerPoints>
         <possibleChildren>
			<or>
				<instanceof value="org.springframework.ide.eclipse.webflow.core.model.IWebflowProject"/>
				<instanceof value="org.springframework.ide.eclipse.webflow.core.model.IWebflowModelElement"/>
			</or>
         </possibleChildren>
         <commonSorter
				id="org.springframework.ide.eclipse.webflow.ui.navigator.springExplorerSorter"
				class="org.springframework.ide.eclipse.webflow.ui.navigator.WebflowModelNavigatorSorter" />
      </navigatorContent>

      <actionProvider
            id="org.springframework.ide.eclipse.webflow.ui.navigator.springExplorerActions"
            class="org.springframework.ide.eclipse.webflow.ui.navigator.actions.WebflowNavigatorActionProvider">
         <enablement>
			<or>
				<instanceof value="org.springframework.ide.eclipse.webflow.core.model.IWebflowProject"/>
				<and>
					<instanceof value="org.eclipse.core.resources.IFile"/>
					<test property="org.springframework.ide.eclipse.webflow.core.model.isWebflowConfig"/>
				</and>
				<instanceof value="org.springframework.ide.eclipse.webflow.core.model.IWebflowModelElement"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            id="org.springframework.ide.eclipse.webflow.ui.navigator.projectExplorerContent"
            name="%navigatorContentName"
            contentProvider="org.springframework.ide.eclipse.webflow.ui.navigator.WebflowNavigatorContentProvider"
            labelProvider="org.springframework.ide.eclipse.webflow.ui.navigator.WebflowNavigatorLabelProvider"
            icon="icons/full/obj16/spring_webflow_obj.gif"
            activeByDefault="true"
            providesSaveables="false">
		 <triggerPoints>
			<or>
				<instanceof value="org.springframework.ide.eclipse.core.model.ISpringProject"/>
				<and>
					<instanceof value="org.eclipse.core.resources.IFile"/>
					<test property="org.springframework.ide.eclipse.webflow.core.model.isWebflowConfig"/>
				</and>
				<instanceof value="org.springframework.ide.eclipse.webflow.core.model.IWebflowProject"/>
				<instanceof value="org.springframework.ide.eclipse.webflow.core.model.IWebflowModelElement"/>
			</or>
		 </triggerPoints>
         <possibleChildren>
         	<or>
				<instanceof value="org.springframework.ide.eclipse.webflow.core.model.IWebflowProject"/>
				<instanceof value="org.springframework.ide.eclipse.webflow.core.model.IWebflowModelElement"/>
			</or>
         </possibleChildren>
         <commonSorter
				id="org.springframework.ide.eclipse.webflow.ui.navigator.projectExplorerSorter"
				class="org.springframework.ide.eclipse.webflow.ui.navigator.WebflowModelNavigatorSorter"/>
      </navigatorContent>

      <actionProvider
            id="org.springframework.ide.eclipse.webflow.ui.navigator.projectExplorerActions"
            class="org.springframework.ide.eclipse.webflow.ui.navigator.actions.WebflowNavigatorActionProvider">
	     <enablement>
	     	<or>
				<instanceof value="org.springframework.ide.eclipse.webflow.core.model.IWebflowProject"/>
				<and>
					<instanceof value="org.eclipse.core.resources.IFile"/>
					<test property="org.springframework.ide.eclipse.webflow.core.model.isWebflowConfig"/>
				</and>
				<instanceof value="org.springframework.ide.eclipse.webflow.core.model.IWebflowModelElement"/>
			</or>
         </enablement>
      </actionProvider>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            id="org.springframework.ide.eclipse.webflow.ui.wizard.newWebflowConfigWizard"
            name="%wizards.newConfig.name"
            class="org.springframework.ide.eclipse.webflow.ui.wizards.NewWebflowConfigWizard"
            category="org.springframework.ide.eclipse.beans.ui.wizards.category"
            icon="icons/full/obj16/spring_webflow_obj.gif">
         <description>
            %wizards.newConfig.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            adaptable="false"
            location="TOP_RIGHT"
            label="%decorator.label"
            state="true"
            class="org.springframework.ide.eclipse.webflow.ui.model.WebflowModelLabelDecorator"
            id="org.springframework.ide.eclipse.webflow.ui.model.webflowModelLabelDecorator">
         <description>
            %decorator.description
         </description>
         <enablement>
            <or>
               <objectClass name="org.eclipse.core.resources.IFolder"/>
               <objectClass name="org.eclipse.core.resources.IFile"/>
            </or>
         </enablement>
      </decorator>
   </extension>

   <extension
         point="org.springframework.ide.eclipse.ui.projectExplorer">
      <filter class="org.springframework.ide.eclipse.webflow.ui.navigator.filters.NonSpringArtefactsFilter"/>
   </extension>
   
</plugin>
