<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%graphEditor.name"
            icon="icons/full/obj16/spring_obj.gif"
            contributorClass="org.springframework.ide.eclipse.beans.ui.graph.actions.GraphActionBarContributor"
            class="org.springframework.ide.eclipse.beans.ui.graph.editor.GraphEditor"
            id="org.springframework.ide.eclipse.beans.ui.graph.editor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.springframework.ide.eclipse.beans.ui.graph.editor.GraphEditorInputFactory"
            id="org.springframework.ide.eclipse.beans.ui.graph.editor.inputfactory"/>
   </extension>

</plugin>
