<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/*******************************************************************************
 * Copyright (c) 2005, 2012 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin
   id="org.springframework.ide.eclipse.test"
   name="Test Plug-in"
   version="1.0.0"
   provider-name="">

   <runtime>
      <library name="test.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.springframework.ide.eclipse.core"/>
      <import plugin="org.springframework.ide.eclipse.beans.core"/>
      <import plugin="org.springsource.ide.eclipse.commons.tests.util"/>
      <import plugin="org.springframework.core"/>
      <import plugin="org.springframework.context"/>
      <import plugin="org.springframework.beans"/>
      <import plugin="org.springframework.web"/>
      <import plugin="org.springframework.ide.eclipse.beans.core.metadata"/>
   </requires>

</plugin>
