<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/*******************************************************************************
 * Copyright (c) 2005, 2009 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>
	
	<extension
		id="org.springframework.ide.eclipse.aop.ui.visualiser.providers"
		name="%visualiserProviders"
		point="org.eclipse.contribution.visualiser.providers">
		<provider
			markupProviderClass="org.springframework.ide.eclipse.ajdt.ui.visualiser.AopReferenceModelMarkupProvider"
			name="%provider.name" priority="5"
			description="%provider.description" emptyMessage="%provider.empty"
			contentProviderClass="org.eclipse.contribution.visualiser.jdtImpl.JDTContentProvider"
			id="org.springframework.ide.eclipse.aop.ui.visualiser.providers.beansaopprovider">
		</provider>
	</extension>
	
</plugin>
