<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	
	<extension point="org.eclipse.mylyn.context.core.bridges">
		<structureBridge
			class="org.springframework.ide.eclipse.webflow.mylyn.core.WebflowContextStructureBridge"
			id="org.springframework.ide.eclipse.webflow.mylyn.context.core.webflow"
			name="%webflowContextStructureBridge.name" 
			parentContentType="resource" />
	</extension>

</plugin>
