<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
/*******************************************************************************
 * Copyright (c) 2012 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.springframework.ide.html5.editor.Html5ContentEditor"
            default="false"
            extensions="xml"
            filenames="integration.xml"
            icon="icons/integration16/spring-integration.gif"
            id="org.springframework.ide.html5.editor"
            name="Integrations Editor">
      </editor>
   </extension>

</plugin>
