<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.jdt.core.javaProperties"
            default-charset="ISO-8859-1"
            id="org.springframework.ide.eclipse.applicationProperties"
            name="Spring Properties File"
            priority="high">
      </content-type>
      <file-association
            content-type="org.springframework.ide.eclipse.applicationProperties"
            file-names="application.properties,application-dev.properties">
      </file-association>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.springframework.ide.eclipse.boot.properties.editor.SpringPropertiesFileEditor"
            contributorClass="org.eclipse.jdt.internal.ui.propertiesfileeditor.PropertiesFileEditorActionContributor"
            icon="icons/spring_obj.gif"
            id="org.springframework.ide.eclipse.PropertiesFileEditor"
            name="Spring Properties Editor"
            symbolicFontName="org.eclipse.jdt.ui.PropertiesFileEditor.textfont">
            <contentTypeBinding
               contentTypeId="org.springframework.ide.eclipse.applicationProperties"
            /> 
            <contentTypeBinding
               contentTypeId="org.eclipse.jdt.core.javaProperties"
            />
      </editor>
   </extension>
   
     <extension point="org.eclipse.m2e.core.lifecycleMappingMetadataSource" />
     <extension
           point="org.eclipse.m2e.core.projectConfigurators">
        <configurator
              class="org.springframework.ide.eclipse.boot.properties.editor.maven.EnableJdtAptM2EProjectConfigurator"
              id="org.springframework.ide.eclipse.boot.properties.editor.maven.EnableJdtAptM2EProjectConfigurator"
              name="Configure JDT Apt for spring-boot-configuration-processor"
              secondaryTo="org.eclipse.m2e.jdt.javaConfigurator">
        </configurator>
     </extension>
             
  <extension
	      point="org.eclipse.ui.preferencePages">
	   <page
	         name="Configuration Metadata Processing"
	         category="org.springframework.ide.eclipse.boot.ui.preferences.BootPreferencePage"
	         class="org.springframework.ide.eclipse.boot.properties.editor.preferences.AnotationProcessingPreferencesPage"
	            id="org.springframework.ide.eclipse.boot.properties.editor.preferences.AnotationProcessingPreferencesPage">
	   </page>
	   <page
	         name="Properties Editor"
	         category="org.springframework.ide.eclipse.boot.ui.preferences.BootPreferencePage"
	         class="org.springframework.ide.eclipse.boot.properties.editor.preferences.SpringPropertiesEditorPreferencesPage"
	            id="org.springframework.ide.eclipse.boot.properties.editor.preferences.SpringPropertiesEditorPreferencesPage">
	   </page>
	   <page
	         name="Yaml Editor"
	         category="org.springframework.ide.eclipse.boot.ui.preferences.BootPreferencePage"
	         class="org.springframework.ide.eclipse.boot.properties.editor.preferences.SpringYamlEditorPreferencesPage"
	            id="org.springframework.ide.eclipse.boot.properties.editor.preferences.SpringYamlEditorPreferencesPage">
	   </page>
	   
   </extension>  

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="org.springframework.ide.eclipse.boot.properties.editor.preferences.SpringPropertiesEditorProjectPropertyPage"
            name="Boot Properties Editor"
            class="org.springframework.ide.eclipse.boot.properties.editor.preferences.SpringPropertiesEditorPreferencesPage"
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            category="org.springframework.ide.eclipse.ui.projectPropertyPage">
         <filter
               name="nature"
               value="org.springframework.ide.eclipse.core.springnature">
         </filter>
         <keywordReference
               id="org.springframework.ide.eclipse.ui.keywords">
         </keywordReference>
      </page>
      <page
            id="org.springframework.ide.eclipse.boot.properties.editor.preferences.SpringYamlEditorProjectPropertyPage"
            name="Boot Yaml Properties Editor"
            class="org.springframework.ide.eclipse.boot.properties.editor.preferences.SpringYamlEditorPreferencesPage"
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            category="org.springframework.ide.eclipse.ui.projectPropertyPage">
         <filter
               name="nature"
               value="org.springframework.ide.eclipse.core.springnature">
         </filter>
         <keywordReference
               id="org.springframework.ide.eclipse.ui.keywords">
         </keywordReference>
      </page>
   </extension>
   
<extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.springframework.ide.eclipse.boot.properties.editor.preferences.PreferenceInitializer">
      </initializer>
  </extension>
<extension
      point="org.eclipse.ui.commands">
</extension>

</plugin>
