<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
       point="com.springsource.sts.ide.ui.dashboard">
    <part
          class="org.springframework.ide.eclipse.gettingstarted.guides.GettingStartedGuidesDashboardPart"
          id="com.springsource.sts.ide.help.dashboard.part.guides"
          page="com.springsource.sts.ide.ui.dashboard.page.overview"
          path="com.springsource.sts.ide.ui.dashboard.doc">
    </part>
    <!-- 
        Example of pointing to a random web page to show content 
        Issue: navigation. User can navigate away from the page by clicking links. There's no obvious
        way to get back to the landing page. Content should be designed so that this isn't a problem...
        or we have to solve this issue by intercepting all the navigation events to handle them
        without loosing dashboard content. 
     -->
    <page
          class="org.springframework.ide.eclipse.gettingstarted.dashboard.WebDashboardPage:http://springsource.org"
          id="org.springframework.ide.eclipse.gettingstarted.springhome"
          label="Spring Home Page"
          path="additions">
    </page>
    
    
    <page
          class="org.springframework.ide.eclipse.gettingstarted.dashboard.GuidesDashboardPage:https://github.com/springframework-meta"
          id="org.springframework.ide.eclipse.gettingstarted.guides"
          label="Guides"
          path="additions">
    </page>
<!--    <page
          id="org.springframework.ide.eclipse.gettingstarted.guides"
          label="Guides (JS)"
          path="additions">
         <class class="org.springframework.ide.eclipse.gettingstarted.dashboard.GuidesDashboardPage">
	         <parameter name="url" value="file:///home/kdvolder/commandline-dev/spring-ide/plugins/org.springframework.ide.eclipse.gettingstarted/resources/dashboard.html"/>
	         <parameter name="useJavaScript" value="true"/>
	     </class>
    </page> -->
    <page
          id="org.springframework.ide.eclipse.gettingstarted.guides"
          label="Guides (JS)"
          path="additions">
         <class class="org.springframework.ide.eclipse.gettingstarted.dashboard.GeneratedGuidesDashboardPage">
	     </class>
    </page>
 </extension>
 
<extension 
     point="org.eclipse.ui.importWizards"> 
      <wizard
            category="org.springsource.ide.eclipse.gettingstarted.wizards.import.category"
            class="org.springframework.ide.eclipse.gettingstarted.wizard.GSImportWizard"
            icon="icons/guide-import.png"
            id="org.springsource.ide.eclipse.gettingstarted.wizards.import.generic"
            name="Getting Started Content"> 
         <description> 
            An import wizards that imports code associated with a Spring Getting Started Guide
         </description> 
         <selection class="org.eclipse.core.resources.IResource"/> 
      </wizard>
      <wizard
            category="org.springsource.ide.eclipse.gettingstarted.wizards.import.category"
            class="org.springframework.ide.eclipse.gettingstarted.guides.wizard.GuideImportWizard"
            icon="icons/guide-import.png"
            id="org.springsource.ide.eclipse.gettingstarted.wizards.import.guide"
            name="Getting Started Guide"> 
         <description> 
            An import wizards that imports code associated with a Spring Getting Started Guide
         </description> 
         <selection class="org.eclipse.core.resources.IResource"/> 
      </wizard>
      <category
            id="org.springsource.ide.eclipse.gettingstarted.wizards.import.category"
            name="Spring">
      </category> 
</extension>
 
</plugin>
