<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension 
     point="org.eclipse.ui.importWizards"> 
      <wizard
            category="org.springsource.ide.eclipse.gettingstarted.wizards.import.category"
            class="org.springframework.ide.eclipse.gettingstarted.wizard.GSImportWizard"
            icon="resources/icons/guide-import.png"
            id="org.springsource.ide.eclipse.gettingstarted.wizards.import.generic"
            name="Getting Started Content"> 
         <description> 
            An import wizards that imports code associated with a Spring Getting Started Guide
         </description> 
         <selection class="org.eclipse.core.resources.IResource"/> 
      </wizard>
<!--  This wizard is obsolete, subsumed by more general GSImportWizard above.
      <wizard
            category="org.springsource.ide.eclipse.gettingstarted.wizards.import.category"
            class="org.springframework.ide.eclipse.gettingstarted.guides.wizard.GuideImportWizard"
            icon="resources/icons/guide-import.png"
            id="org.springsource.ide.eclipse.gettingstarted.wizards.import.guide"
            name="Getting Started Guide"> 
         <description> 
            An import wizards that imports code associated with a Spring Getting Started Guide
         </description> 
         <selection class="org.eclipse.core.resources.IResource"/> 
      </wizard> -->
      <category
            id="org.springsource.ide.eclipse.gettingstarted.wizards.import.category"
            name="Spring">
      </category> 
</extension>
 
 <!-- New dashboard -->
 
	<extension point="org.eclipse.ui.editors">
		<editor
			class="org.springframework.ide.eclipse.gettingstarted.dashboard.DashboardEditor"
			icon="resources/icons/dashboard_16.png"
			id="org.springframework.ide.eclipse.gettingstarted.dashboard.DashboardEditor"
			name="Dashboard">
		</editor>
	</extension>
 
  <!-- Preference page -->
 
    <extension
      point = "org.eclipse.ui.preferencePages">
       <page id="org.springsource.ide.eclipse.gettingstarted.preferences.GettingStartedPreferencesPage"
	        class="org.springsource.ide.eclipse.gettingstarted.preferences.GettingStartedPreferencesPage"
            category="org.springsource.ide.eclipse.commons.preferencePage"
            name="Dashboard (New)">
       </page>
    </extension>
 
 
</plugin>
