<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            default-charset="UTF-8"
            id="org.springframework.ide.eclipse.manifest.yml"
            name="Cloudfoundry Manifest"
            file-names="manifest.yml"
            priority="high">
      </content-type>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.springframework.ide.eclipse.cloudfoundry.manifest.editor.ManifestYamlEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            icon="icons/cloud_obj.png"
            id="org.springframework.ide.eclipse.cloudfoundry.manifest.editor.ManifestYamlEditor"
            name="Cloud Foundry Manifest Editor">
            <contentTypeBinding
               contentTypeId="org.springframework.ide.eclipse.manifest.yml"
            />
      </editor>
   </extension>
   
</plugin>
