<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.jdt.core.javaProperties"
            default-charset="UTF8"
            file-names="application.properties"
            id="org.springframework.ide.eclipse.applicationProperties"
            name="Spring Properties File"
            priority="normal">
      </content-type>
      <file-association
            content-type="org.springframework.ide.eclipse.boot.properties.file-association1">
      </file-association>
   </extension>

 <!-- original props file editor 
            class="org.eclipse.jdt.internal.ui.propertiesfileeditor.PropertiesFileEditor"
   -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Spring Properties Editor"
            icon="icons/file_obj.gif"
            contributorClass="org.eclipse.jdt.internal.ui.propertiesfileeditor.PropertiesFileEditorActionContributor"
            class="org.springframework.ide.eclipse.propertiesfileeditor.SpringPropertiesFileEditor"
            symbolicFontName="org.eclipse.jdt.ui.PropertiesFileEditor.textfont"
            id="org.springframework.ide.eclipse.PropertiesFileEditor">
            <contentTypeBinding
               contentTypeId="org.springframework.ide.eclipse.applicationProperties"
            /> 
      </editor>
   </extension>
   
     <extension point="org.eclipse.m2e.core.lifecycleMappingMetadataSource" />
     <extension
           point="org.eclipse.m2e.core.projectConfigurators">
        <configurator
              class="org.springframework.ide.eclipse.propertiesfileeditor.maven.EnableJdtAptM2EProjectConfigurator"
              id="org.springframework.ide.eclipse.propertiesfileeditor.maven.EnableJdtAptM2EProjectConfigurator"
              name="Configure JDT Apt for spring-boot-configuration-processor"
              secondaryTo="org.eclipse.m2e.jdt.javaConfigurator">
        </configurator>
     </extension>
     
<!--   
    <extension
          point="org.springsource.ide.eclipse.gradle.core.projectConfigurators">
       <configurator
             class="org.springframework.ide.eclipse.propertiesfileeditor.maven.EnableJdtAptM2EProjectConfigurator"
             id="org.springframework.ide.eclipse.propertiesfileeditor.maven.EnableJdtAptM2EProjectConfigurator"
             name="Enable JDT Apt for spring-boot-configuration-processor">
       </configurator>
    </extension>
  -->

</plugin>
