<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	
   <extension
         point="org.eclipse.pde.core.targets">
	  <!-- Target Definiton for latest released Spring DM version -->	
      <target
            definition="release/spring-dm-release.target"
            id="org.springframework.ide.eclipse.osgi.targetdefinition.release"
            name="%releaseTarget.name">
      </target>
   
      <!-- Target Definiton for latest snapshot Spring DM version -->	
      <target
            definition="snapshot/spring-dm-snapshot.target"
            id="org.springframework.ide.eclipse.osgi.targetdefinition.snapshot"
            name="%snapshotTarget.name">
      </target>
   </extension>

</plugin>
