<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
/*******************************************************************************
 * Copyright (c) 2005, 2009 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>
	
   <extension
         point="org.eclipse.pde.core.targets">
	  <!-- Target Definiton for latest released Spring DM version -->	
      <target
            definition="release/spring-dm-release.target"
            id="org.springframework.ide.eclipse.osgi.targetdefinition.release"
            name="%releaseTarget.name">
      </target>
   
      <!-- Target Definiton for latest snapshot Spring DM version -->	
      <target
            definition="snapshot/spring-dm-snapshot.target"
            id="org.springframework.ide.eclipse.osgi.targetdefinition.snapshot"
            name="%snapshotTarget.name">
      </target>
   </extension>

</plugin>
