<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.springframework.doc"
   name="%pluginName"
   version="2.5.0.rc1_v200709161211"
   provider-name="%providerName">

   <runtime>
   </runtime>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
