<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/*******************************************************************************
 * Copyright (c) 2005, 2009 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>

   <extension-point id="builders" name="%buildersName" schema="schema/builders.exsd"/>
   <extension-point id="validators" name="%validatorsName" schema="schema/validators.exsd"/>
   <extension-point id="listeners" name="%listenersName" schema="schema/listeners.exsd"/>

   <extension
         id="springnature"
         name="%springNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.springframework.ide.eclipse.core.internal.project.SpringProjectNature"/>
      </runtime>
      <builder id="org.springframework.ide.eclipse.core.springbuilder"/>
   </extension>

   <extension point="org.eclipse.core.resources.builders"
         id="springbuilder"
         name="%springBuilder">
      <builder hasNature="true">
         <run class="org.springframework.ide.eclipse.core.internal.project.SpringProjectContributionManager"/>
      </builder>
   </extension>

   <extension point="org.eclipse.core.resources.markers"
         id="problemmarker"
         name="%springProblemMarker">
      <super type="org.eclipse.core.resources.problemmarker"/>
	  <super type="org.eclipse.core.resources.textmarker"/>
	  <attribute name="originatingResource" />
	  <attribute name="elementId" />
   </extension>

   <extension point="org.eclipse.ui.ide.markerSupport">
		<markerTypeCategory name="%markerCategory.name">
			<markerTypeReference id="org.springframework.ide.eclipse.core.problemmarker"/>
		</markerTypeCategory>
   </extension>
	
   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="Resolves the path to the given bundle"
            name="bundle_loc"
            resolver="org.springframework.ide.eclipse.core.BundleLocationVariableResolver"
            supportsArgument="true">
      </variable>
      <variable
            description="Resolves the path to the given bundle's state location"
            name="bundle_state_loc"
            resolver="org.springframework.ide.eclipse.core.BundleStateLocationVariableResolver"
            supportsArgument="true">
      </variable>
      <variable
            description="Resolves the version to the given bundle"
            name="bundle_version"
            resolver="org.springframework.ide.eclipse.core.BundleVersionVariableResolver"
            supportsArgument="true">
      </variable>
   </extension>
   
   <extension point="org.eclipse.core.resources.markers"
			id="validationproblemmarker"
			name="%validationProblemMarker">
		<super type="org.springframework.ide.eclipse.core.problemmarker" />
		<attribute name="ruleId"/>
		<attribute name="errorId"/>
		<persistent value="true" />
	</extension>

	<extension point="org.eclipse.ui.ide.markerSupport">
		<markerTypeCategory name="%markerCategory.name">
			<markerTypeReference id="org.springframework.ide.eclipse.core.validationproblemmarker"/>
		</markerTypeCategory>
	</extension>
   
   <extension
	       point="org.springframework.ide.eclipse.core.validators">
	    <validator id="springvalidator"
	          class="org.springframework.ide.eclipse.core.internal.model.validation.SpringValidator"
	          name="%springValidator.name"
	          description="%springValidator.description"
			  icon="icons/full/obj16/spring_obj.gif"
			  markerId="validationproblemmarker"
			  enabledByDefault="false" 
			  order="1" />
	    <rules validatorId="org.springframework.ide.eclipse.core.springvalidator">
		    <rule id="springClasspath"
		            class="org.springframework.ide.eclipse.core.internal.model.validation.rules.SpringClasspathRule"
		            name="%springValidator.rule.springClasspath.name"
		            description="%springValidator.rule.springClasspath.description" 
		            enabledByDefault="false"/>
	    </rules>
	</extension>
   
   <extension
         point="org.springframework.ide.eclipse.core.listeners">
      <listener
            class="org.springframework.ide.eclipse.core.java.TypeStructureStateRegisteringEventListener">
      </listener>
      <listener
            class="org.springframework.ide.eclipse.core.internal.project.uaa.ProjectContributionUsageMonitor">
      </listener>
   </extension>
	
</plugin>
