<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/*******************************************************************************
 * Copyright (c) 2005, 2009 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>

	<extension point="org.eclipse.core.runtime.contentTypes">
		<content-type id="beansConfig" name="%contentTypeName"
			base-type="org.eclipse.core.runtime.xml" 
			priority="normal"
			default-charset="UTF-8">
			<describer
				class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
				<parameter name="element" value="beans" />
			</describer>
		</content-type>
	</extension>

	<extension-point id="namespaces" name="%contributionName"
		schema="schema/namespaces.exsd" />

	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<sourceViewerConfiguration
			class="org.springframework.ide.eclipse.beans.ui.editor.BeansStructuredTextViewerConfiguration"
			target="org.springframework.ide.eclipse.beans.ui.editor.beansConfig" />
		<contentOutlineConfiguration
			class="org.springframework.ide.eclipse.beans.ui.editor.outline.BeansContentOutlineConfiguration"
			target="org.springframework.ide.eclipse.beans.ui.editor.beansConfig" />
	</extension>

	<extension point="org.eclipse.wst.sse.core.modelHandler">
		<modelHandler
			id="org.springframework.ide.eclipse.beans.ui.editor.handler.beansConfig"
			default="false"
			associatedContentTypeId="org.springframework.ide.eclipse.beans.ui.editor.beansConfig"
			class="org.springframework.ide.eclipse.beans.ui.editor.BeansModelHandler">
		</modelHandler>
	</extension>

	<extension
		point="org.eclipse.wst.sse.ui.adapterFactoryDescription">
		<adapterFactoryDescription
			class="org.springframework.ide.eclipse.beans.ui.editor.BeansAdapterFactoryProvider">
		</adapterFactoryDescription>
	</extension>

	<extension point="org.eclipse.wst.xml.core.catalogContributions">
		<catalogContribution>
			<!-- Bean namespace -->
			<public 
				publicId="-//SPRING//DTD BEAN//EN"
				uri="platform:/plugin/org.springframework.beans/org/springframework/beans/factory/xml/spring-beans.dtd"
				webURL="http://www.springframework.org/dtd/spring-beans.dtd" />
			<public 
				publicId="-//SPRING//DTD BEAN 2.0//EN"
				uri="platform:/plugin/org.springframework.beans/org/springframework/beans/factory/xml/spring-beans-2.0.dtd"
				webURL="http://www.springframework.org/dtd/spring-beans-2.0.dtd" />
		</catalogContribution>
	</extension>

	<extension point="org.eclipse.ui.editors.templates">
		<contextType name="%templatesContextTypeAllName"
			class="org.springframework.ide.eclipse.beans.ui.editor.templates.BeansTemplateContextType"
			id="org.springframework.ide.eclipse.beans.ui.editor.templates.contextType.all">
		</contextType>
		<contextType name="%templatesContextTypeBeanName"
			class="org.springframework.ide.eclipse.beans.ui.editor.templates.BeansTemplateContextType"
			id="org.springframework.ide.eclipse.beans.ui.editor.templates.contextType.bean">
		</contextType>
		<contextType name="%templatesContextTypePropertyName"
			class="org.springframework.ide.eclipse.beans.ui.editor.templates.BeansTemplateContextType"
			id="org.springframework.ide.eclipse.beans.ui.editor.templates.contextType.property">
		</contextType>
		<include file="templates/templates.xml"
			translations="templates/templates.properties" />
    <template
          autoinsert="true"
          contextTypeId="java-members"
          description="Stub out a new @Bean method"
          id="org.springframework.ide.eclipse.beans.ui.editor.templates.contextType.beanMethod"
          name="beanmethod">
       <pattern>
          ${x:import(org.springframework.context.annotation.Bean)}@Bean
public ${bean_type} ${bean_name}() {
	// TODO Auto generated method stub
	${cursor}return null;
}
       </pattern>
    </template> 
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page name="%templatesPreferencesPageName"
			category="org.springframework.ide.eclipse.beans.ui.preferencePage"
			class="org.springframework.ide.eclipse.beans.ui.editor.templates.BeanTemplatePreferencePage"
			id="org.springframework.ide.eclipse.beans.ui.editor.templates">
		</page>
	</extension>

	<extension point="org.eclipse.ui.editorActions">
		<editorContribution
			id="org.springframework.ide.eclipse.beans.ui.editor.actions"
			targetID="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorPart">
			<menu id="org.eclipse.search.menu" label="%searchMenu.label"
				path="navigate">
				<groupMarker name="internalDialogGroup" />
				<groupMarker name="dialogGroup" />
				<separator name="contextMenuActionsGroup" />
				<separator name="internalOccurrencesGroup" />
			</menu>
			<action
				id="org.springframework.ide.eclipse.beans.ui.editor.actions.searchBeanReferencesAction"
				label="%action.searchBeanReferences.label"
				definitionId="org.springframework.ide.eclipse.beans.ui.editor.commands.searchBeanReferences"
				icon="icons/full/obj16/bean_obj.gif"
				menubarPath="org.eclipse.search.menu/contextMenuActionsGroup"
				class="org.springframework.ide.eclipse.beans.ui.editor.actions.SearchBeanReferencesAction">
			</action>
		</editorContribution>
	</extension>

	<extension point="org.eclipse.ui.commands">
		<command
			id="org.springframework.ide.eclipse.beans.ui.editor.commands.searchBeanReferences"
			name="%command.searchBeanReferences.name"
			categoryId="org.eclipse.search.ui.category.search" />
	</extension>

	<extension point="org.eclipse.ui.bindings">
		<key sequence="M1+M2+G"
			commandId="org.springframework.ide.eclipse.beans.ui.editor.commands.searchBeanReferences"
			contextId="org.eclipse.wst.sse.ui.structuredTextEditorScope"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
	</extension>

	<extension
		point="org.springframework.ide.eclipse.beans.ui.editor.namespaces">
<!--			-->
		<namespace
			contentAssistProcessor="org.springframework.ide.eclipse.beans.ui.editor.contentassist.bean.BeansContentAssistProcessor"
			elementLocator="org.springframework.ide.eclipse.beans.ui.editor.namespaces.bean.BeansReferenceableElementsLocator"
			hyperLinkDetector="org.springframework.ide.eclipse.beans.ui.editor.hyperlink.bean.BeansHyperlinkDetector"
			labelProvider="org.springframework.ide.eclipse.beans.ui.editor.outline.bean.BeansOutlineLabelProvider"
			name="Spring Beans"
			uri="http://www.springframework.org/schema/beans" />
		<namespace
			contentAssistProcessor="org.springframework.ide.eclipse.beans.ui.editor.contentassist.bean.BeansContentAssistProcessor"
			labelProvider="org.springframework.ide.eclipse.beans.ui.editor.outline.bean.BeansOutlineLabelProvider"
			name="Spring P" uri="http://www.springframework.org/schema/p" />
		<namespace
			contentAssistProcessor="org.springframework.ide.eclipse.beans.ui.editor.contentassist.aop.AopContentAssistProcessor"
			elementLocator="org.springframework.ide.eclipse.beans.ui.editor.namespaces.DefaultReferenceableElementsLocator"
			hyperLinkDetector="org.springframework.ide.eclipse.beans.ui.editor.hyperlink.aop.AopHyperlinkDetector"
			labelProvider="org.springframework.ide.eclipse.beans.ui.editor.outline.aop.AopOutlineLabelProvider"
			name="Spring AOP" uri="http://www.springframework.org/schema/aop" />
		<namespace
			contentAssistProcessor="org.springframework.ide.eclipse.beans.ui.editor.contentassist.util.UtilContentAssistProcessor"
			elementLocator="org.springframework.ide.eclipse.beans.ui.editor.namespaces.DefaultReferenceableElementsLocator"
			hyperLinkDetector="org.springframework.ide.eclipse.beans.ui.editor.hyperlink.util.UtilHyperlinkDetector"
			labelProvider="org.springframework.ide.eclipse.beans.ui.editor.outline.util.UtilOutlineLabelProvider"
			name="Spring Util" uri="http://www.springframework.org/schema/util" />
		<namespace
			classNameProvider="org.springframework.ide.eclipse.beans.ui.editor.namespaces.tx.TxClassNameProvider"
			contentAssistProcessor="org.springframework.ide.eclipse.beans.ui.editor.contentassist.tx.TxContentAssistProcessor"
			elementLocator="org.springframework.ide.eclipse.beans.ui.editor.namespaces.DefaultReferenceableElementsLocator"
			hyperLinkDetector="org.springframework.ide.eclipse.beans.ui.editor.hyperlink.tx.TxHyperlinkDetector"
			labelProvider="org.springframework.ide.eclipse.beans.ui.editor.outline.tx.TxOutlineLabelProvider"
			name="Spring Tx" uri="http://www.springframework.org/schema/tx" />
		<namespace
			contentAssistProcessor="org.springframework.ide.eclipse.beans.ui.editor.contentassist.jee.JeeContentAssistProcessor"
			elementLocator="org.springframework.ide.eclipse.beans.ui.editor.namespaces.DefaultReferenceableElementsLocator"
			hyperLinkDetector="org.springframework.ide.eclipse.beans.ui.editor.hyperlink.jee.JeeHyperlinkDetector"
			labelProvider="org.springframework.ide.eclipse.beans.ui.editor.outline.jee.JeeOutlineLabelProvider"
			name="Spring Jee" uri="http://www.springframework.org/schema/jee" />
		<namespace
			contentAssistProcessor="org.springframework.ide.eclipse.beans.ui.editor.contentassist.lang.LangContentAssistProcessor"
			elementLocator="org.springframework.ide.eclipse.beans.ui.editor.namespaces.DefaultReferenceableElementsLocator"
			hyperLinkDetector="org.springframework.ide.eclipse.beans.ui.editor.hyperlink.lang.LangHyperlinkDetector"
			labelProvider="org.springframework.ide.eclipse.beans.ui.editor.outline.lang.LangOutlineLabelProvider"
			name="Spring Lang" uri="http://www.springframework.org/schema/lang" />
		<namespace
			contentAssistProcessor="org.springframework.ide.eclipse.beans.ui.editor.contentassist.jms.JmsContentAssistProcessor"
			elementLocator="org.springframework.ide.eclipse.beans.ui.editor.namespaces.DefaultReferenceableElementsLocator"
			hyperLinkDetector="org.springframework.ide.eclipse.beans.ui.editor.hyperlink.jms.JmsHyperlinkDetector"
			labelProvider="org.springframework.ide.eclipse.beans.ui.editor.outline.jms.JmsOutlineLabelProvider"
			name="Spring Jms" uri="http://www.springframework.org/schema/jms" />
		<namespace
			contentAssistProcessor="org.springframework.ide.eclipse.beans.ui.editor.contentassist.context.ContextContentAssistProcessor"
			elementLocator="org.springframework.ide.eclipse.beans.ui.editor.namespaces.DefaultReferenceableElementsLocator"
			hyperLinkDetector="org.springframework.ide.eclipse.beans.ui.editor.hyperlink.context.ContextHyperlinkDetector"
			labelProvider="org.springframework.ide.eclipse.beans.ui.editor.outline.context.ContextOutlineLabelProvider"
			name="Spring Context" uri="http://www.springframework.org/schema/context" />
		<!-- Contributions to support the tool namespace's annotations -->
		<namespace
			contentAssistProcessor="org.springframework.ide.eclipse.beans.ui.editor.contentassist.tool.ToolAnnotationBasedContentAssistProcessor"
			hyperLinkDetector="org.springframework.ide.eclipse.beans.ui.editor.hyperlink.tool.ToolAnnotationBasedHyperlinkDetector"
			name="Spring Tool" uri="http://www.springframework.org/schema/tool" />
		<!-- Spring 3.1 -->
		<namespace
        	contentAssistProcessor="org.springframework.ide.eclipse.beans.ui.editor.contentassist.bean.BeansContentAssistProcessor"
        	labelProvider="org.springframework.ide.eclipse.beans.ui.editor.outline.bean.BeansOutlineLabelProvider"
        	name="Spring C" uri="http://www.springframework.org/schema/c">
		</namespace>
	</extension>

</plugin>
