<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.springframework.ide.eclipse.web.flow.ui.editor"
   name="%pluginName"
   version="0.0.1"
   provider-name="%providerName"
   class="org.springframework.ide.eclipse.web.flow.ui.editor.WebFlowPlugin">
   <runtime>
      <library name="webflow-editor.jar"/>
      <library name="ognl.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.draw2d"/>
      <import plugin="org.eclipse.gef"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.springframework.ide.eclipse.web.flow.core"/>
      <import plugin="org.springframework.ide.eclipse.web.flow.ui"/>
      <import plugin="org.springframework.ide.eclipse.ui"/>
      <import plugin="org.springframework.ide.eclipse.beans.core"/>
      <import plugin="org.springframework.ide.eclipse.core"/>
      <import plugin="org.springframework.ide.eclipse.beans.ui.graph"/>
      <import plugin="org.springframework.ide.eclipse.beans.ui"/>
   </requires>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.springframework.ide.eclipse.web.flow.ui.editor.WebFlowEditor"
            contributorClass="org.springframework.ide.eclipse.web.flow.ui.editor.actions.WebFlowActionBarContributor"
            default="true"
            icon="icons/full/obj16/spring_obj.gif"
            id="org.springframework.ide.eclipse.web.flow.ui.editor.WebFlowEditor"
            name="%flowEditor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#WebFlowViewContext"
            id="org.springframework.ide.eclipse.web.flow.ui.graph.actions.webFlowViewContext">
         <visibility>
            <or>
               <objectClass
                     name="org.springframework.ide.eclipse.web.flow.ui.model.ConfigNode">
               </objectClass>
            </or>
         </visibility>
         <action
               label="%popupMenus.showGraph.label"
               class="org.springframework.ide.eclipse.web.flow.ui.editor.actions.ShowWebFlowEditorAction"
               menubarPath="additions"
               id="org.springframework.ide.eclipse.web.flow.ui.actions.showGraph">
         </action>
      </viewerContribution>
   </extension>
</plugin>
