<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%viewName"
            icon="icons/full/obj16/spring_obj.gif"
            category="org.springframework.ide.eclipse.beans.ui.views"
            class="org.springframework.ide.eclipse.beans.ui.navigator.BeansExplorer"
            id="org.springframework.ide.eclipse.beans.ui.navigator.BeansExplorer">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <showInPart id="org.springframework.ide.eclipse.beans.ui.navigator.BeansExplorer">
         </showInPart>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <showInPart id="org.springframework.ide.eclipse.beans.ui.navigator.BeansExplorer"/>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer viewerId="org.springframework.ide.eclipse.beans.ui.navigator.BeansExplorer"/>
      <viewerContentBinding viewerId="org.springframework.ide.eclipse.beans.ui.navigator.BeansExplorer">
         <includes>
            <contentExtension pattern="org.springframework.ide.eclipse.beans.ui.navigator.beansExplorerContent"/>
            <contentExtension pattern="org.springframework.ide.eclipse.beans.ui.navigator.linkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.springframework.ide.eclipse.beans.ui.navigator.BeansExplorer">
         <includes>
            <actionExtension pattern="org.springframework.ide.eclipse.beans.ui.navigator.actions"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer viewerId="org.eclipse.ui.navigator.ProjectExplorer"/>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.springframework.ide.eclipse.beans.ui.navigator.projectExplorerContent"/>
            <contentExtension pattern="org.springframework.ide.eclipse.beans.ui.navigator.filters.*"/>
            <contentExtension pattern="org.springframework.ide.eclipse.beans.ui.navigator.linkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.springframework.ide.eclipse.beans.ui.navigator.actions"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            id="org.springframework.ide.eclipse.beans.ui.navigator.beansExplorerContent"
            name="%navigatorContentName"
            contentProvider="org.springframework.ide.eclipse.beans.ui.navigator.internal.BeansNavigatorContentProvider"
            labelProvider="org.springframework.ide.eclipse.beans.ui.navigator.internal.BeansNavigatorLabelProvider"
            icon="icons/full/obj16/spring_obj.gif"
            activeByDefault="true">
		 <triggerPoints>
			<or>
				<instanceof value="org.eclipse.core.resources.IFile"/>
                <instanceof value="org.eclipse.core.resources.IStorage"/>
				<instanceof value="org.springframework.ide.eclipse.core.model.IModelElement"/>
			</or>
		 </triggerPoints>
         <possibleChildren>
			<or>
				<instanceof value="org.eclipse.core.resources.IFile"/>
                <instanceof value="org.eclipse.core.resources.IStorage"/>
				<instanceof value="org.springframework.ide.eclipse.core.model.IModelElement"/>
			</or>
         </possibleChildren>
         <commonSorter
               id="org.springframework.ide.eclipse.beans.ui.navigator.sorter.beansExplorerSorter"
               class="org.springframework.ide.eclipse.beans.ui.navigator.internal.BeansNavigatorSorter"/>
      </navigatorContent>

      <navigatorContent
            id="org.springframework.ide.eclipse.beans.ui.navigator.projectExplorerContent"
            name="%navigatorContentName"
            contentProvider="org.springframework.ide.eclipse.beans.ui.navigator.internal.BeansNavigatorContentProvider"
            labelProvider="org.springframework.ide.eclipse.beans.ui.navigator.internal.BeansNavigatorLabelProvider"
            icon="icons/full/obj16/spring_obj.gif"
            activeByDefault="true"
            priority="high">
		<triggerPoints>
			<or>
				<adapt type="org.eclipse.core.resources.IProject">
					<and>
						<test property="org.eclipse.core.resources.open"
							value="true"/>
						<test property="org.eclipse.core.resources.projectNature"
							value="org.springframework.ide.eclipse.core.springnature"/>
					</and>
				</adapt>
				<and>
					<instanceof value="org.eclipse.core.resources.IFile"/>
					<test property="org.springframework.ide.eclipse.beans.core.model.isBeansConfig"/>
				</and>
				<instanceof value="org.eclipse.jdt.core.IType"/>
				<instanceof value="org.springframework.ide.eclipse.core.model.IModelElement"/>
			</or>
		 </triggerPoints>
         <possibleChildren>
			<instanceof value="org.springframework.ide.eclipse.core.model.IModelElement"/>
         </possibleChildren>
         <commonSorter
               id="org.springframework.ide.eclipse.beans.ui.navigator.sorter.projectExplorerSorter"
               class="org.springframework.ide.eclipse.beans.ui.navigator.internal.BeansNavigatorSorter"/>
      </navigatorContent>

      <actionProvider
            id="org.springframework.ide.eclipse.beans.ui.navigator.actions"
            class="org.springframework.ide.eclipse.beans.ui.navigator.internal.actions.BeansNavigatorActionProvider">
         <enablement>
			<or>
				<adapt type="org.eclipse.core.resources.IProject">
					<test property="org.eclipse.core.resources.projectNature"
						value="org.springframework.ide.eclipse.core.springnature"/>
				</adapt>
				<and>
					<instanceof value="org.eclipse.core.resources.IFile"/>
					<test property="org.springframework.ide.eclipse.beans.core.model.isBeansConfig"/>
				</and>
				<instanceof value="org.springframework.ide.eclipse.core.io.ZipEntryStorage"/>
            	<instanceof value="org.springframework.ide.eclipse.core.model.IModelElement"/>
            </or>
         </enablement>
      </actionProvider>

      <commonFilter
            id="org.springframework.ide.eclipse.beans.ui.navigator.filters.hideNonSpringProjects"
            name="%navigatorfilterHideNonSpringProjectsName"
            description="%navigatorfilterHideNonSpringProjectsDescription"
            class="org.springframework.ide.eclipse.beans.ui.navigator.internal.filters.NonSpringProjectFilter"
            activeByDefault="false"/>
      <commonFilter
            id="org.springframework.ide.eclipse.beans.ui.navigator.filters.hideBeanClassReferences"
            name="%navigatorfilterHideBeanClassReferencesName"
            description="%navigatorfilterHideBeanClassReferencesDescription"
            activeByDefault="false">
				<filterExpression>
					<instanceof value="org.springframework.ide.eclipse.beans.core.internal.model.BeanClassReferences"/>
				</filterExpression>
      </commonFilter>
      <commonFilter
            id="org.springframework.ide.eclipse.beans.ui.navigator.filters.hideBeansConfigSets"
            name="%navigatorfilterHideBeansConfigSetsName"
            description="%navigatorfilterHideBeansConfigSetsDescription"
            activeByDefault="false">
				<filterExpression>
					<instanceof value="org.springframework.ide.eclipse.beans.core.model.IBeansConfigSet"/>
				</filterExpression>
      </commonFilter>
   </extension>

   <extension
          point="org.eclipse.ui.navigator.linkHelper">
       <linkHelper
             id="org.springframework.ide.eclipse.beans.ui.navigator.linkHelper"
             class="org.springframework.ide.eclipse.beans.ui.navigator.internal.BeansNavigatorLinkHelper">
          <selectionEnablement>
			 <or>
				 <and>
					<instanceof value="org.eclipse.core.resources.IFile"/>
					<test property="org.springframework.ide.eclipse.beans.core.model.isBeansConfig"/>
				 </and>
				 <instanceof value="org.springframework.ide.eclipse.core.io.ZipEntryStorage"/>
	             <instanceof value="org.springframework.ide.eclipse.core.model.IModelElement"/>
	         </or>
          </selectionEnablement>
          <editorInputEnablement>
             <instanceof value="org.eclipse.ui.IFileEditorInput"/>
          </editorInputEnablement>
       </linkHelper>
   </extension>

</plugin>
