<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer viewerId="org.eclipse.ui.navigator.ProjectExplorer"/>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.springframework.ide.eclipse.beans.ui.navigator.*"/>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            id="org.springframework.ide.eclipse.beans.ui.navigator.content"
            name="%navigatorContentName"
            contentProvider="org.springframework.ide.eclipse.beans.ui.navigator.internal.BeansNavigatorContentProvider"
            labelProvider="org.springframework.ide.eclipse.beans.ui.navigator.internal.BeansNavigatorLabelProvider"
            icon="icons/full/obj16/spring_obj.gif"
            activeByDefault="true"
            priority="high">
		<triggerPoints>
			<or>
				<adapt
						type="org.eclipse.core.resources.IProject">
					<test
						property="org.eclipse.core.resources.projectNature"
						value="org.springframework.ide.eclipse.core.springnature"/>
				</adapt>
				<and>
					<instanceof
						value="org.eclipse.core.resources.IFile"/>
					<test
						property="org.springframework.ide.eclipse.beans.core.model.isBeansConfig"/>
				</and>
			</or>
		 </triggerPoints>
         <possibleChildren>
				<instanceof value="org.eclipse.core.resources.IFile"/>
				<instanceof value="org.springframework.ide.eclipse.core.model.IModelElement"/>
         </possibleChildren>
         <actionProvider
         	   id="org.springframework.ide.eclipse.beans.ui.navigator.actions"
 			   class="org.springframework.ide.eclipse.beans.ui.navigator.internal.actions.BeansNavigatorActionProvider"/>
         <commonSorter
               id="org.springframework.ide.eclipse.beans.ui.navigator.sorter"
               class="org.springframework.ide.eclipse.beans.ui.navigator.internal.BeansNavigatorSorter"/>
		 <override
				policy="InvokeAlwaysRegardlessOfSuppressedExt"
				suppressedExtensionId="org.eclipse.ui.navigator.resourceContent"/>
      </navigatorContent>
      <commonFilter
            id="org.springframework.ide.eclipse.beans.ui.navigator.filters.hideNonSpringProjects"
            name="%navigatorfilterHideNonSpringProjectsName"
            description="%navigatorfilterHideNonSpringProjectsDescription"
            class="org.springframework.ide.eclipse.beans.ui.navigator.internal.filters.NonSpringProjectFilter"
            activeByDefault="true"/>
   </extension>
   <extension
          point="org.eclipse.ui.navigator.linkHelper">
       <linkHelper
             id="org.springframework.ide.eclipse.beans.ui.navigator.linkHelper"
             class="org.springframework.ide.eclipse.beans.ui.navigator.internal.BeansNavigatorLinkHelper">
          <selectionEnablement>
             <instanceof value="org.springframework.ide.eclipse.core.model.IModelElement"/>
          </selectionEnablement>
          <editorInputEnablement>
             <instanceof value="org.eclipse.ui.IFileEditorInput"/>
          </editorInputEnablement>
       </linkHelper>
   </extension>

</plugin>
