<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="aopvalidator"
         name="%aopValidator"
         point="org.springframework.ide.eclipse.core.builders">
      <run
            class="org.springframework.ide.eclipse.aop.ui.BeansAopProjectBuilder">
      </run>
   </extension>
   
   <extension
         id="aopmarker"
         name="%aopMarker"
         point="org.eclipse.core.resources.markers">
      <persistent value="false"/>
	  <super type="org.eclipse.core.resources.textmarker"/>
   </extension>
   <extension
         id="aopproblemmarker"
         name="%aopproblemmarker"
         point="org.eclipse.core.resources.markers">
      <persistent value="true"/>
	  <super type="org.eclipse.core.resources.textmarker"/>
      <super type="org.eclipse.core.resources.problemmarker"/>
   </extension>
   <extension
   	      id="sourcebeforeadvicemarker"
   	      name="Before Advice Marker"
   	      point="org.eclipse.core.resources.markers">
      <super
            type="org.springframework.ide.eclipse.aop.ui.aopmarker">
      </super>
   </extension>
   <extension
   	      id="sourceafteradvicemarker"
   	      name="After Advice Marker"
   	      point="org.eclipse.core.resources.markers">
      <super
            type="org.springframework.ide.eclipse.aop.ui.aopmarker">
      </super>
   </extension>
   <extension
   	      id="sourcearoundadvicemarker"
   	      name="Around Adivce Marker"
   	      point="org.eclipse.core.resources.markers">
      <super
            type="org.springframework.ide.eclipse.aop.ui.aopmarker">
      </super>
   </extension>

   <extension
   	      id="beforeadvicemarker"
   	      name="Before Advice Marker"
   	      point="org.eclipse.core.resources.markers">
      <super
            type="org.springframework.ide.eclipse.aop.ui.aopmarker">
      </super>
   </extension>
   <extension
   	      id="afteradvicemarker"
   	      name="After Advice Marker"
   	      point="org.eclipse.core.resources.markers">
      <super
            type="org.springframework.ide.eclipse.aop.ui.aopmarker">
      </super>
   </extension>
   <extension
   	      id="aroundadvicemarker"
   	      name="Around Adivce Marker"
   	      point="org.eclipse.core.resources.markers">
      <super
            type="org.springframework.ide.eclipse.aop.ui.aopmarker">
      </super>
   </extension>

	<extension point="org.eclipse.ui.editors.annotationTypes">
      <type
        	name="org.springframework.ide.eclipse.aop.ui.aopannotation"
			markerType="org.springframework.ide.eclipse.aop.ui.aopmarker">
      </type>
      <type
            super="org.springframework.ide.eclipse.aop.ui.aopannotation"
            markerType="org.springframework.ide.eclipse.aop.ui.beforeadvicemarker"
            name="org.springframework.ide.eclipse.aop.ui.beforeAdviceAnnotation"/>
      <type
            super="org.springframework.ide.eclipse.aop.ui.aopannotation"
            markerType="org.springframework.ide.eclipse.aop.ui.afteradvicemarker"
            name="org.springframework.ide.eclipse.aop.ui.afterAdviceAnnotation"/>            
      <type
            super="org.springframework.ide.eclipse.aop.ui.aopannotation"
            markerType="org.springframework.ide.eclipse.aop.ui.aroundadvicemarker"
            name="org.springframework.ide.eclipse.aop.ui.aroundAdviceAnnotation"/>            
      <type
            super="org.springframework.ide.eclipse.aop.ui.aopannotation"
            markerType="org.springframework.ide.eclipse.aop.ui.sourcebeforeadvicemarker"
            name="org.springframework.ide.eclipse.aop.ui.sourceBeforeAdviceAnnotation"/>            
      <type
            super="org.springframework.ide.eclipse.aop.ui.aopannotation"
            markerType="org.springframework.ide.eclipse.aop.ui.sourceafteradvicemarker"
            name="org.springframework.ide.eclipse.aop.ui.sourceAfterAdviceAnnotation"/>            
      <type
            super="org.springframework.ide.eclipse.aop.ui.aopannotation"
            markerType="org.springframework.ide.eclipse.aop.ui.sourcearoundadvicemarker"
            name="org.springframework.ide.eclipse.aop.ui.sourceAroundAdviceAnnotation"/>            
    </extension>

	<extension
	     point="org.eclipse.ui.editors.markerAnnotationSpecification">
	     <specification
      		annotationType="org.springframework.ide.eclipse.aop.ui.aopannotation"
            	label="Advice"
            	icon="icons/markers/advice.gif"
            	textPreferenceKey="adviceIndication"
            	textPreferenceValue="true"
            	overviewRulerPreferenceKey="adviceIndicationInOverviewRuler"
            	overviewRulerPreferenceValue="true"
            	verticalRulerPreferenceKey="adviceIndicationInVerticalRuler"
            	verticalRulerPreferenceValue="true"
            	colorPreferenceKey="adviceIndicationColor"
            	colorPreferenceValue="222,109,33"
            	presentationLayer="4">
 	     </specification>
   		<specification
			annotationType="org.springframework.ide.eclipse.aop.ui.sourceBeforeAdviceAnnotation"
			icon="icons/markers/source_before_advice.gif">
		</specification>
		<specification
			annotationType="org.springframework.ide.eclipse.aop.ui.sourceAfterAdviceAnnotation"
			icon="icons/markers/source_after_advice.gif">
		</specification>
		<specification
			annotationType="org.springframework.ide.eclipse.aop.ui.sourceAroundAdviceAnnotation"
			icon="icons/markers/source_around_advice.gif">
		</specification>
	    <specification
			annotationType="org.springframework.ide.eclipse.aop.ui.beforeAdviceAnnotation"
			icon="icons/markers/before_advice.gif">
		</specification>
		<specification
			annotationType="org.springframework.ide.eclipse.aop.ui.afterAdviceAnnotation"
			icon="icons/markers/after_advice.gif">
		</specification>
		<specification
			annotationType="org.springframework.ide.eclipse.aop.ui.aroundAdviceAnnotation"
			icon="icons/markers/around_advice.gif">
		</specification>
	</extension>
    
    <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="false"
            label="Spring Advice Text decorator"
            class="org.springframework.ide.eclipse.aop.ui.decorator.BeansAdviceTextDecorator"
            state="true"
            id="org.springframework.ide.eclipse.aop.ui.decorator.decorator">
         <description>
			%ajElementDecorator.description
		 </description>
         <enablement>
            <objectClass
                  name="java.lang.Object">
            </objectClass>
         </enablement>
      </decorator> 
      <decorator
            lightweight="true"
            label="Spring Advice decorator"
            class="org.springframework.ide.eclipse.aop.ui.decorator.BeansAdviceImageDecorator"
            state="true"
            adaptable="true"
            id="org.springframework.ide.eclipse.aop.ui.decorator.advicedecorator">
         <description>
			%advisesDecorator.description
		 </description>
         <enablement>
            <objectClass
                  name="java.lang.Object">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   
   <!--extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer viewerId="org.eclipse.ui.navigator.ProjectExplorer"/>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.springframework.ide.eclipse.aop.ui.navigator.projectExplorerContent"/>
            <contentExtension pattern="org.springframework.ide.eclipse.aop.ui.navigator.linkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.springframework.ide.eclipse.aop.ui.navigator.actions"/>
         </includes>
      </viewerActionBinding>
   </extension-->
   
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
  		<navigatorContent
            id="org.springframework.ide.eclipse.aop.ui.navigator.projectExplorerContent"
            name="Spring AOP Cross Reference"
            contentProvider="org.springframework.ide.eclipse.aop.ui.navigator.BeansAopNavigatorContentProvider"
            labelProvider="org.springframework.ide.eclipse.aop.ui.navigator.BeansAopNavigatorLabelProvider"
            icon="icons/full/obj16/spring_obj.gif"
            activeByDefault="true"
            priority="high">
	     <triggerPoints>
			<or>
                <instanceof value="org.eclipse.core.resources.IWorkspaceRoot"/>
				<adapt type="org.eclipse.core.resources.IProject">
					<test property="org.eclipse.core.resources.projectNature"
						value="org.springframework.ide.eclipse.core.springnature"/>
				</adapt>
				<and>
					<instanceof value="org.eclipse.core.resources.IFile"/>
					<test property="org.springframework.ide.eclipse.beans.core.model.isBeansConfig"/>
				</and>
			</or>
		 </triggerPoints>
         <possibleChildren>
				<instanceof value="org.springframework.ide.eclipse.core.model.IModelElement"/>
				<instanceof value="org.eclipse.core.resources.IFile"/>
         </possibleChildren>
	    <commonSorter 
               id="org.springframework.ide.eclipse.aop.ui.navigator.projectExplorerContent"
               class="org.springframework.ide.eclipse.aop.ui.navigator.util.BeansAopNavigatorSorter"/>
	   </navigatorContent>
	    
	   <actionProvider
            id="org.springframework.ide.eclipse.aop.ui.navigator.actions"
            class="org.springframework.ide.eclipse.aop.ui.navigator.action.BeansAopNavigatorActionProvider">
         <enablement>
             <instanceof value="org.springframework.ide.eclipse.aop.ui.navigator.model.IRevealableReferenceNode"/>
         </enablement>
      </actionProvider>
	       
    </extension>
    
    <extension
          point="org.eclipse.ui.navigator.linkHelper">
       <linkHelper
             id="org.springframework.ide.eclipse.aop.ui.navigator.linkHelper"
             class="org.springframework.ide.eclipse.aop.ui.navigator.BeansAopNavigatorLinkHelper">
          <selectionEnablement>
			 <or>
				<instanceof value="org.springframework.ide.eclipse.aop.ui.navigator.model.JavaElementReferenceNode"/>
				<instanceof value="org.springframework.ide.eclipse.aop.core.model.IAopReference"/>
             </or>
          </selectionEnablement>
          <editorInputEnablement>
             <instanceof value="org.eclipse.ui.IFileEditorInput"/>
          </editorInputEnablement>
       </linkHelper>
   </extension>
    
  <extension
     point="org.eclipse.ui.views">
      <view
            name="Beans Cross References"
            icon="icons/full/obj16/xref_obj.gif"
            category="org.springframework.ide.eclipse.beans.ui.views"
            class="org.springframework.ide.eclipse.aop.ui.navigator.BeansAopNavigator"
            id="org.springframework.ide.eclipse.aop.ui.navigator.BeansAopNavigator">
      </view>
   </extension> 
   
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer viewerId="org.springframework.ide.eclipse.aop.ui.navigator.BeansAopNavigator"/>
      <viewerContentBinding viewerId="org.springframework.ide.eclipse.aop.ui.navigator.BeansAopNavigator">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.springframework.ide.eclipse.aop.ui.navigator.projectExplorerContent"/>
            <contentExtension pattern="org.springframework.ide.eclipse.aop.ui.navigator.linkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.springframework.ide.eclipse.aop.ui.navigator.BeansAopNavigator">
         <includes>
            <actionExtension pattern="org.springframework.ide.eclipse.aop.ui.navigator.actions"/>
         </includes>
      </viewerActionBinding>
   </extension>
</plugin>
