<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            label="%advisesDecorator.label"
            class="org.springframework.ide.eclipse.aop.ui.decorator.AopReferenceModelImageDecorator"
            state="true"
            adaptable="true"
            id="org.springframework.ide.eclipse.aop.ui.decorator.advicedecorator">
         <description>
			%advisesDecorator.description
		 </description>
         <enablement>
            <objectClass
                  name="java.lang.Object">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
  		<navigatorContent
            id="org.springframework.ide.eclipse.aop.ui.navigator.projectExplorerContent"
            name="%beansCrossReferenceView.content"
            contentProvider="org.springframework.ide.eclipse.aop.ui.navigator.AopReferenceModelNavigatorContentProvider"
            labelProvider="org.springframework.ide.eclipse.aop.ui.navigator.AopReferenceModelNavigatorLabelProvider"
            icon="icons/full/obj16/xref_obj.gif"
            activeByDefault="true"
            priority="high">
	     <triggerPoints>
			<or>
                <instanceof value="org.eclipse.core.resources.IWorkspaceRoot"/>
				<adapt type="org.eclipse.core.resources.IProject">
					<test property="org.eclipse.core.resources.projectNature"
						value="org.springframework.ide.eclipse.core.springnature"/>
				</adapt>
				<and>
					<instanceof value="org.eclipse.core.resources.IFile"/>
					<test property="org.springframework.ide.eclipse.beans.core.model.isBeansConfig"/>
				</and>
			</or>
		 </triggerPoints>
         <possibleChildren>
				<instanceof value="org.springframework.ide.eclipse.aop.ui.navigator.model.IReferenceNode"/>
         </possibleChildren>
	    <commonSorter 
               id="org.springframework.ide.eclipse.aop.ui.navigator.projectExplorerContent"
               class="org.springframework.ide.eclipse.aop.ui.navigator.util.AopReferenceModelNavigatorSorter"/>
	   </navigatorContent>
	    
	   <actionProvider
            id="org.springframework.ide.eclipse.aop.ui.navigator.actions"
            class="org.springframework.ide.eclipse.aop.ui.navigator.action.AopReferenceModelNavigatorActionProvider">
         <enablement>
             <instanceof value="org.springframework.ide.eclipse.aop.ui.navigator.model.IRevealableReferenceNode"/>
         </enablement>
      </actionProvider>
	  
	  <commonFilter
            id="org.springframework.ide.eclipse.aop.ui.navigator.filters.hideAspectDeclarations"
            name="%filter.aspectDeclarations.label"
            description="%filter.aspectDeclarations.description"
            activeByDefault="false">
				<filterExpression>
					<instanceof value="org.springframework.ide.eclipse.aop.ui.navigator.model.AdvisedDeclareParentAopReferenceNode"/>
				</filterExpression>
      </commonFilter>

	  <commonFilter
            id="org.springframework.ide.eclipse.aop.ui.navigator.filters.hideDeclareParents"
            name="%filter.declaredOn.label"
            description="%filter.declaredOn.description"
            activeByDefault="false">
				<filterExpression>
					<or>
						<instanceof value="org.springframework.ide.eclipse.aop.ui.navigator.model.AdviceDeclareParentAopSourceFieldNode"/>
						<instanceof value="org.springframework.ide.eclipse.aop.ui.navigator.model.AdviceDeclareParentAopSourceNode"/>
					</or>  
				</filterExpression>
      </commonFilter>

	  <commonFilter
            id="org.springframework.ide.eclipse.aop.ui.navigator.filters.hideAdvises"
            name="%filter.advises.label"
            description="%filter.advises.description"
            activeByDefault="false">
				<filterExpression>
					<instanceof value="org.springframework.ide.eclipse.aop.ui.navigator.model.AdviceAopTargetNode"/>
				</filterExpression>
      </commonFilter>

	  <commonFilter
            id="org.springframework.ide.eclipse.aop.ui.navigator.filters.hideAdvisedBy"
            name="%filter.advisedBy.label"
            description="%filter.advisedBy.description"
            activeByDefault="false">
				<filterExpression>
					<or>
						<instanceof value="org.springframework.ide.eclipse.aop.ui.navigator.model.AdvisedAopTargetBeanNode"/>
						<instanceof value="org.springframework.ide.eclipse.aop.ui.navigator.model.AdvisedAopReferenceNode"/>
					</or>
				</filterExpression>
      </commonFilter>
      
    </extension>
    
    <extension
          point="org.eclipse.ui.navigator.linkHelper">
       <linkHelper
             id="org.springframework.ide.eclipse.aop.ui.navigator.linkHelper"
             class="org.springframework.ide.eclipse.aop.ui.navigator.AopReferenceModelNavigatorLinkHelper">
          <selectionEnablement>
			 <instanceof value="org.springframework.ide.eclipse.aop.ui.navigator.model.IRevealableReferenceNode"/>
          </selectionEnablement>
          <editorInputEnablement>
             <instanceof value="org.eclipse.ui.IFileEditorInput"/>
          </editorInputEnablement>
       </linkHelper>
   </extension>
    
  <extension
     point="org.eclipse.ui.views">
      <view
            name="%beansCrossReferenceView.label"
            icon="icons/full/obj16/xref_obj.gif"
            category="org.springframework.ide.eclipse.beans.ui.views"
            class="org.springframework.ide.eclipse.aop.ui.navigator.AopReferenceModelNavigator"
            id="org.springframework.ide.eclipse.aop.ui.navigator.BeansAopNavigator">
      </view>
   </extension> 
   
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer viewerId="org.springframework.ide.eclipse.aop.ui.navigator.BeansAopNavigator"/>
      <viewerContentBinding viewerId="org.springframework.ide.eclipse.aop.ui.navigator.BeansAopNavigator">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.springframework.ide.eclipse.aop.ui.navigator.projectExplorerContent"/>
            <contentExtension pattern="org.springframework.ide.eclipse.aop.ui.navigator.linkHelper"/>
            <contentExtension pattern="org.springframework.ide.eclipse.aop.ui.navigator.filters.*"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.springframework.ide.eclipse.aop.ui.navigator.BeansAopNavigator">
         <includes>
            <actionExtension pattern="org.springframework.ide.eclipse.aop.ui.navigator.actions"/>
         </includes>
      </viewerActionBinding>
   </extension>
</plugin>
