<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.springframework.ide.eclipse.beans.ui.wizards"
   name="%pluginName"
   version="1.0.0"
   provider-name="%providerName"
   class="org.springframework.ide.eclipse.beans.ui.wizards.BeansWizardsPlugin">

   <runtime>
      <library name="beans-editor.jar"/>
   </runtime>

   <requires>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.forms"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.springframework.ide.eclipse.core"/>
      <import plugin="org.springframework.ide.eclipse.beans.core"/>
      <import plugin="org.springframework.ide.eclipse.core.ui"/>
      <import plugin="org.springframework.ide.eclipse.beans.ui"/>
      <import plugin="org.eclipse.wst.sse.core"/>
      <import plugin="org.eclipse.wst.xml.core"/>
   </requires>
 
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            id="ec.ep.dit.isp.foundry.eclipse.plugins.webservices.Menu">
         <menu
               label="%popupMenus.menu.label"
               path="additions"
               id="SPRINGIDE.popupMenu">
         </menu>
         <action 
               icon="icons/spring_16.gif"
               enablesFor="+"
               label="%popupMenus.menu.menuItems.declare.label"
               class="org.springframework.ide.eclipse.beans.ui.wizards.actions.DeclareAsSpringBeanActionDelegate"
               menubarPath="SPRINGIDE.popupMenu/group1"
               id="org.springframework.ide.eclipse.beans.ui.wizards.declare"/>
      </objectContribution>
   </extension>
</plugin>
