<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/*******************************************************************************
 * Copyright (c) 2005, 2009 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>

	<extension point="org.eclipse.core.runtime.contentTypes">
		<content-type id="webflowConfig" name="%contentTypeName"
			base-type="org.eclipse.core.runtime.xml" priority="high"
			default-charset="UTF-8">
			<describer
				class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
				<parameter name="element" value="flow" />
			</describer>
		</content-type>
	</extension>

	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<sourceViewerConfiguration
			class="org.springframework.ide.eclipse.beans.ui.editor.BeansStructuredTextViewerConfiguration"
			target="org.springframework.ide.eclipse.webflow.ui.editor.webflowConfig" />
		<contentOutlineConfiguration
			class="org.springframework.ide.eclipse.beans.ui.editor.outline.BeansContentOutlineConfiguration"
			target="org.springframework.ide.eclipse.webflow.ui.editor.webflowConfig" />
	</extension>

	<extension point="org.eclipse.wst.sse.core.modelHandler">
		<modelHandler
			id="org.springframework.ide.eclipse.webflow.ui.editor.handler.webflowConfig"
			default="false"
			associatedContentTypeId="org.springframework.ide.eclipse.webflow.ui.editor.webflowConfig"
			class="org.springframework.ide.eclipse.webflow.ui.editor.WebflowModelHandler">
		</modelHandler>
	</extension>

	<extension
		point="org.eclipse.wst.sse.ui.adapterFactoryDescription">
		<adapterFactoryDescription
			class="org.springframework.ide.eclipse.webflow.ui.editor.WebflowAdapterFactoryProvider">
		</adapterFactoryDescription>
	</extension>

	<extension
		point="org.springframework.ide.eclipse.beans.ui.editor.namespaces">
		<namespace
			contentAssistProcessor="org.springframework.ide.eclipse.beans.ui.editor.contentassist.webflow.WebflowConfigContentAssistProcessor"
			elementLocator="org.springframework.ide.eclipse.beans.ui.editor.namespaces.DefaultReferenceableElementsLocator"
			hyperLinkDetector="org.springframework.ide.eclipse.beans.ui.editor.hyperlink.webflow.WebflowConfigHyperLinkDetector"
			labelProvider="org.springframework.ide.eclipse.beans.ui.editor.outline.webflow.WebflowConfigOutlineLabelProvider"
			name="Spring Web Flow Config"
			uri="http://www.springframework.org/schema/webflow-config" />
		<namespace
			contentAssistProcessor="org.springframework.ide.eclipse.beans.ui.editor.contentassist.faces.FacesConfigContentAssistProcessor"
			elementLocator="org.springframework.ide.eclipse.beans.ui.editor.namespaces.DefaultReferenceableElementsLocator"
			hyperLinkDetector="org.springframework.ide.eclipse.beans.ui.editor.hyperlink.faces.FacesConfigHyperLinkDetector"
			labelProvider="org.springframework.ide.eclipse.beans.ui.editor.outline.webflow.WebflowConfigOutlineLabelProvider"
			name="Spring Faces"
			uri="http://www.springframework.org/schema/faces" />
		<namespace
			contentAssistProcessor="org.springframework.ide.eclipse.webflow.ui.editor.contentassist.webflow.WebflowContentAssistProcessor"
			elementLocator="org.springframework.ide.eclipse.beans.ui.editor.namespaces.DefaultReferenceableElementsLocator"
			hyperLinkDetector="org.springframework.ide.eclipse.webflow.ui.editor.hyperlink.webflow.WebflowHyperlinkDetector"
			labelProvider="org.springframework.ide.eclipse.webflow.ui.editor.outline.webflow.WebflowOutlineLabelProvider"
			name="Spring Web Flow"
			uri="http://www.springframework.org/schema/webflow" />
	</extension>

	<extension point="org.eclipse.ui.editors.templates">
		<include file="templates/templates.xml"
			translations="templates/templates.properties" />
	</extension>
	
	<extension
	   point="com.springsource.sts.config.ui.formPages">
	   <formPage
            class="org.springframework.ide.eclipse.webflow.ui.editor.faces.FacesFormPage"
            id="com.springsource.sts.config.ui.editors.faces"
            name="%facesPageName"
            namespacePrefix="faces"
            namespaceUri="http://www.springframework.org/schema/faces">
       </formPage>
       <formPage
            class="org.springframework.ide.eclipse.webflow.ui.editor.config.WebFlowConfigFormPage"
            id="com.springsource.sts.config.ui.editors.webflow.config"
            name="%flowConfigPageName"
            namespacePrefix="flow"
            namespaceUri="http://www.springframework.org/schema/webflow-config">
       </formPage>
       <formPage
            class="org.springframework.ide.eclipse.webflow.ui.editor.WebFlowFormPage"
            graph="org.springframework.ide.eclipse.config.ui.editors.webflow.graph.WebFlowGraphicalEditor"
            id="com.springsource.sts.config.ui.editors.webflow"
            name="%flowPageName"
            namespacePrefix="flow"
            namespaceUri="http://www.springframework.org/schema/webflow">
      </formPage>
	</extension>
 	<extension
       point="org.eclipse.ui.editors">
    	<editor
            class="org.springframework.ide.eclipse.webflow.ui.editor.SpringWebFlowEditor"
            contributorClass="org.springframework.ide.eclipse.config.ui.editors.SpringConfigEditorContributor"
            default="true"
            icon="icons/full/obj16/webflow-config.png"
            id="com.springsource.sts.config.ui.editors.SpringWebFlowEditor"
            name="%webflowEditorName"
            symbolicFontName="org.eclipse.wst.sse.ui.textfont">
			<contentTypeBinding
				contentTypeId="com.springsource.sts.config.ui.webflowConfigFile" >
         </contentTypeBinding>
		</editor>
 	</extension>
 	
	<extension
	    point="org.eclipse.core.contenttype.contentTypes">
	    <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            id="com.springsource.sts.config.ui.webflowConfigFile"
            name="%webflowEditorContentTypeName"
            priority="high">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
               <parameter
                     name="element"
                     value="{http://www.springframework.org/schema/webflow}flow">
               </parameter>
         </describer>
       </content-type>
	</extension>
	
	<extension
	 	point="org.eclipse.wst.sse.ui.editorConfiguration">
	 	<sourceViewerConfiguration
            class="org.springframework.ide.eclipse.beans.ui.editor.BeansStructuredTextViewerConfiguration"
            target="com.springsource.sts.config.ui.webflowConfigFile">
      	</sourceViewerConfiguration>
      	<contentOutlineConfiguration
            class="org.springframework.ide.eclipse.beans.ui.editor.outline.BeansContentOutlineConfiguration"
            target="com.springsource.sts.config.ui.webflowConfigFile">
      	</contentOutlineConfiguration>
	</extension>

</plugin>
