<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target name="Spring DM Release">

   <location path="${bundle_state_loc:org.springframework.ide.eclipse.osgi.targetdefinition}/${bundle_version:org.springframework.ide.eclipse.osgi.targetdefinition}/target"/>

   <content useAllPlugins="true">
      <plugins>
      </plugins>
      <features>
      </features>
   </content>

</target>
