<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	
	<extension point="org.eclipse.mylyn.context.core.bridges">
		<structureBridge
        	class="org.springframework.ide.eclipse.beans.mylyn.core.BeansContextStructureBridge"
	        id="org.springframework.ide.eclipse.beans.ui.mylyn.context.beans"
    	    name="%beansContextStructureBridge.name"
        	parentContentType="resources"/>
	</extension>

	<extension point="org.eclipse.mylyn.context.ui.bridges">
		<uiBridge
			class="org.springframework.ide.eclipse.beans.mylyn.ui.BeansContextUIBridge"
			contentType="spring/beans"
			id="mework.ide.eclipse.beans.ui.mylyn.context.ui.beans"
			name="%beansContextUIBridge.name" />
	</extension>

</plugin>
