<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target name="Spring DM Snapshot">

   <location path="${bundle_loc:org.springframework.ide.eclipse.osgi.targetdefinition}/targets/snapshot/target"/>

   <content useAllPlugins="true">
      <plugins>
      </plugins>
      <features>
      </features>
   </content>

</target>
