<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/*******************************************************************************
 * Copyright (c) 2005, 2010 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>

	<extension
       point="org.springframework.ide.eclipse.aop.core.aspectdefinitionbuilder">
	     <aspectDefinitionBuilder
    	       class="org.springframework.ide.eclipse.security.core.aop.model.builder.SecurityXmlAspectDefinitionBuilder">
     	</aspectDefinitionBuilder>
 	</extension>
 	
	<extension
		point="org.springframework.ide.eclipse.beans.ui.namespaces">
		<namespace
			name="Spring Security"
			labelProvider="org.springframework.ide.eclipse.security.ui.namespaces.SecurityConfigNamespaceLabelProvider"
			uri="http://www.springframework.org/schema/security" 
			prefix="sec" 
			icon="icons/full/obj16/spring_security_obj.gif" />
	</extension>
	
	<extension
		point="org.springframework.ide.eclipse.beans.ui.editor.namespaces">
		<namespace
			contentAssistProcessor="org.springframework.ide.eclipse.security.ui.editor.contentassist.security.SecurityContentAssistProcessor"
			elementLocator="org.springframework.ide.eclipse.beans.ui.editor.namespaces.DefaultReferenceableElementsLocator"
			hyperLinkDetector="org.springframework.ide.eclipse.security.ui.editor.hyperlink.security.SecurityHyperlinkDetector"
			labelProvider="org.springframework.ide.eclipse.security.ui.editor.outline.security.SecurityOutlineLabelProvider"
			name="Spring Security"
			uri="http://www.springframework.org/schema/security" />
	</extension>
	
	<extension
		point="org.springframework.ide.eclipse.beans.core.namespaces">
		<namespace uri="http://www.springframework.org/schema/security" >
			<namespaceHandler class="org.springframework.security.v2.config.SecurityNamespaceHandler" 
				schemaLocation="http://www.springframework.org/schema/security/spring-security-2.0.xsd" />
			<namespaceHandler class="org.springframework.security.v2.config.SecurityNamespaceHandler" 
				schemaLocation="http://www.springframework.org/schema/security/spring-security-2.0.1.xsd" />
			<namespaceHandler class="org.springframework.security.v2.config.SecurityNamespaceHandler" 
				schemaLocation="http://www.springframework.org/schema/security/spring-security-2.0.2.xsd" />
			<namespaceHandler class="org.springframework.security.v2.config.SecurityNamespaceHandler" 
				schemaLocation="http://www.springframework.org/schema/security/spring-security-2.0.4.xsd" />
			
			<namespaceHandler class="org.springframework.security.config.SecurityNamespaceHandler" 
				schemaLocation="http://www.springframework.org/schema/security/spring-security.xsd"
				provider="org.springframework.security.config"/>
			<namespaceHandler class="org.springframework.security.config.SecurityNamespaceHandler" 
				schemaLocation="http://www.springframework.org/schema/security/spring-security-3.0.xsd" 
				provider="org.springframework.security.config"/>
		</namespace>
	</extension>
	
</plugin>
