<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension
       point="org.springframework.ide.eclipse.aop.core.aspectdefinitionbuilder">
	     <aspectDefinitionBuilder
    	       class="org.springframework.ide.eclipse.security.core.aop.model.builder.SecurityXmlAspectDefinitionBuilder">
     	</aspectDefinitionBuilder>
 	</extension>
 	
 	<extension point="org.eclipse.wst.xml.core.catalogContributions">
		<catalogContribution>
			<public
				publicId="http://www.springframework.org/schema/security"
				uri="platform:/plugin/org.springframework.security.core/org/springframework/security/config/spring-security-2.0.xsd"
				webURL="http://www.springframework.org/schema/security/spring-security-2.0.xsd" />
			<public
				publicId="http://www.springframework.org/schema/security"
				uri="platform:/plugin/org.springframework.security.core/org/springframework/security/config/spring-security-2.0.1.xsd"
				webURL="http://www.springframework.org/schema/security/spring-security-2.0.1.xsd" />
			<public
				publicId="http://www.springframework.org/schema/security"
				uri="platform:/plugin/org.springframework.security.core/org/springframework/security/config/spring-security-2.0.2.xsd"
				webURL="http://www.springframework.org/schema/security/spring-security-2.0.2.xsd" />
			<system
				systemId="http://www.springframework.org/schema/security/spring-security.xsd"
				uri="platform:/plugin/org.springframework.security.core/org/springframework/security/config/spring-security-2.0.2.xsd" />
			<system
				systemId="http://www.springframework.org/schema/security/spring-security-2.0.xsd"
				uri="platform:/plugin/org.springframework.security.core/org/springframework/security/config/spring-security-2.0.xsd" />
			<system
				systemId="http://www.springframework.org/schema/security/spring-security-2.0.1.xsd"
				uri="platform:/plugin/org.springframework.security.core/org/springframework/security/config/spring-security-2.0.1.xsd" />
			<system
				systemId="http://www.springframework.org/schema/security/spring-security-2.0.2.xsd"
				uri="platform:/plugin/org.springframework.security.core/org/springframework/security/config/spring-security-2.0.2.xsd" />
		</catalogContribution>
	</extension>
	
	<extension
		point="org.springframework.ide.eclipse.beans.ui.namespaces">
		<namespace
			name="Spring Security"
			labelProvider="org.springframework.ide.eclipse.security.ui.namespaces.SecurityConfigNamespaceLabelProvider"
			uri="http://www.springframework.org/schema/security" 
			prefix="sec" 
			icon="icons/full/obj16/spring_security_obj.gif"
			defaultSchemaLocation="http://www.springframework.org/schema/security/spring-security-2.0.2.xsd">
			<schemaLocation url="http://www.springframework.org/schema/security/spring-security-2.0.xsd" />
			<schemaLocation url="http://www.springframework.org/schema/security/spring-security-2.0.1.xsd" />
			<schemaLocation url="http://www.springframework.org/schema/security/spring-security-2.0.2.xsd" />
		</namespace>
	</extension>
	
	<extension
		point="org.springframework.ide.eclipse.beans.ui.editor.namespaces">
		<namespace
			contentAssistProcessor="org.springframework.ide.eclipse.security.ui.editor.contentassist.security.SecurityContentAssistProcessor"
			elementLocator="org.springframework.ide.eclipse.beans.ui.editor.namespaces.DefaultReferenceableElementsLocator"
			hyperLinkDetector="org.springframework.ide.eclipse.security.ui.editor.hyperlink.security.SecurityHyperlinkDetector"
			labelProvider="org.springframework.ide.eclipse.security.ui.editor.outline.security.SecurityOutlineLabelProvider"
			name="Spring Security"
			uri="http://www.springframework.org/schema/security" />
	</extension>

</plugin>
