<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!--
  this extension point is deprecated but since the hosting menu still uses it we
  have no choice (unless we convert to hosting menu and all contributions to the new
  mechanism  -->
 <!--disabled. Instead offer something simpler that only applies to a project's
     pom file and allows use to add a 'starter' from a list.
     -->
  <!--
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.springframework.ide.eclipse.beans.ui.actions.springProject">
         <visibility>
            <and>
		        <objectState
		              name="nature"
		              value="org.springframework.ide.eclipse.core.springnature">
		        </objectState>
		        <objectState
		              name="nature"
		              value="org.eclipse.m2e.core.maven2Nature">
		        </objectState>
            </and>
         </visibility>
         <action
               label="Edit Boot Starters"
               class="org.springframework.ide.eclipse.boot.ui.EditStartersAction"
               enablesFor="1"
               menubarPath="org.springframework.ide.eclipse.ui.tools/group0"
               id="org.springframework.ide.eclipse.boot.ui.EditStartersAction">
         </action>
      </objectContribution>
  </extension>
 -->
 
<!-- Create an 'Add Spring Starter' menu that applies to pom.xml file inside a
  spring boot project -->
  
  
 
  <!-- run as boot support -->
  
<extension
       point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="org.springframework.ide.eclipse.boot.core.BootPropertyTester"
          id="org.springsource.ide.eclipse.boot.BootPropertyTester"
          namespace="org.springsource.ide.eclipse.boot"
          properties="isBootProject,isBootResource"
          type="org.eclipse.core.resources.IResource">
    <!--       type="java.lang.Object" -->
    </propertyTester>
 </extension>

 <extension
       point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
          class="org.springframework.ide.eclipse.boot.ui.BootLaunchShortcut"
          description="Run or Debug as a Standalone Spring Boot Application"
          id="org.springsource.ide.eclipse.boot.BootLaunchShortcut"
          icon="resources/icons/spring.png"
          label="Spring Boot App"
          modes="run, debug">
        <contextualLaunch>
           <enablement>
             <count value="1"/>
             <iterate>
           	   <adapt type="org.eclipse.core.resources.IResource">
           	      <test
                        property="org.springsource.ide.eclipse.boot.isBootResource"
                        value="true">
           	      </test>
           	   </adapt>
             </iterate>
           </enablement>
        </contextualLaunch>
        <configurationType
               id="org.eclipse.jdt.launching.localJavaApplication">
         </configurationType>
        <description
               description="Run as Spring Boot App"
               mode="run">
         </description>
         <description
               description="Debug as Spring Boot App"
               mode="debug">
         </description>
    </shortcut>
 </extension>
 
 <extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
        name="Spring Groovy CLI"
        delegate="org.springframework.ide.eclipse.boot.core.cli.BootGroovyScriptLaunchConfigurationDelegate"
        category="org.eclipse.ui.externaltools"
        modes="run"
        id="org.springsource.ide.eclipse.boot.groovy.script.launch">
    </launchConfigurationType>
  </extension>
 
 <extension
       point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
          class="org.springframework.ide.eclipse.boot.ui.BootGroovyScriptLaunchShortcut"
          description="Run or Debug as a Spring Boot CLI Script"
          id="org.springsource.ide.eclipse.boot.BootLaunchGroovyScriptShortcut"
          icon="resources/icons/spring.png"
          label="Spring Groovy CLI"
          modes="run"> <!-- debug not yet support -->
        <contextualLaunch>
           <enablement>
             <count value="1"/>
             <iterate>
           	   <adapt type="org.eclipse.core.resources.IResource">
	             <test
	                   property="org.eclipse.core.resources.name"
	                   value="app.groovy">
	             </test>
           	   </adapt>
             </iterate>
           </enablement>
        </contextualLaunch>
        <configurationType
               id="org.eclipse.jdt.launching.localJavaApplication">
         </configurationType>
        <description
               description="Run as Spring Groovy CLI Script"
               mode="run">
         </description>
<!--     Debugging is not yet supported.
         <description
               description="Debug as Spring Boot App"
               mode="debug">
         </description> -->
    </shortcut>
 </extension>
 
<!-- TODO: ui for editing Spring Groovy CLI launch configs
 <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
        icon="resources/icons/spring.png"
        configTypeID="org.springsource.ide.eclipse.boot.groovy.script.launch"
        id="org.springsource.ide.eclipse.boot.groovy.script.launch.image">
    </launchConfigurationTypeImage>
</extension>

<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="org.springsource.ide.eclipse.boot.groovy.script.launch"
        class="org.springframework.ide.eclipse.boot.core.cli.BootGroovyScriptLaunchConfigurationTabGroup"
        id="org.springframework.ide.eclipse.boot.core.cli.BootGroovyScriptLaunchConfigurationTabGroup">
    </launchConfigurationTabGroup>
</extension>
-->
 
   <extension point="org.eclipse.ui.commands">
      <command
            name="Debug Spring Boot App"
            description="Debug Spring Boot App"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.springsource.ide.eclipse.boot.BootLaunchShortcut.debug">
      </command>
      <command
            name="Run Spring Boot App"
            description="Run Spring Boot App"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.springsource.ide.eclipse.boot.BootLaunchShortcut.run">
      </command>
      <category
            id="org.springframework.ide.eclipse.boot.commands.category"
            name="Spring Boot">
      </category>
      <command
            categoryId="org.springframework.ide.eclipse.boot.commands.category"
            id="org.springframework.ide.eclipse.boot.commands.addStarterCommand"
            name="Add Spring Starter">
      </command>
      <command
            categoryId="org.springframework.ide.eclipse.boot.commands.category"
            id="org.springframework.ide.eclipse.boot.commands.editStartersCommand"
            name="Edit Spring Starters">
      </command>
   </extension>
   <extension point="org.eclipse.ui.bindings">
       <key
            sequence="M2+M3+X B"
            commandId="org.springsource.ide.eclipse.boot.BootLaunchShortcut.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>
   <extension point="org.eclipse.ui.bindings">
       <key
            sequence="M2+M3+D B"
            commandId="org.springsource.ide.eclipse.boot.BootLaunchShortcut.debug"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.springframework.ide.eclipse.boot.handlers.AddBootStarterHandler"
            commandId="org.springframework.ide.eclipse.boot.commands.addStarterCommand">
            <enabledWhen>
              <and>
	             <count value="1"/>
	             <iterate>
	           	   <adapt type="org.eclipse.core.resources.IResource">
	           	      <test property="org.eclipse.core.resources.name"
	           	            value="pom.xml"/>
		       	      <test
		                    forcePluginActivation="true"
		                    property="org.springsource.ide.eclipse.boot.isBootResource"
		                    value="true"/>
	           	   </adapt>
	             </iterate>
              </and>
            </enabledWhen>
      </handler>
      <handler
            class="org.springframework.ide.eclipse.boot.handlers.EditBootStartersHandler"
            commandId="org.springframework.ide.eclipse.boot.commands.editStartersCommand">
            <enabledWhen>
              <and>
	             <count value="1"/>
	             <iterate>
	           	   <adapt type="org.eclipse.core.resources.IResource">
	           	      <test property="org.eclipse.core.resources.name"
	           	            value="pom.xml"/>
		       	      <test
		                    forcePluginActivation="true"
		                    property="org.springsource.ide.eclipse.boot.isBootResource"
		                    value="true"/>
	           	   </adapt>
	             </iterate>
              </and>
            </enabledWhen>
      </handler>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <menu
                  id="org.springsource.ide.eclipse.boot.pomMenu"
                  label="Spring">
                <visibleWhen
                    checkEnabled="false">
	              <and>
		             <count value="1"/>
		             <iterate>
		           	   <adapt type="org.eclipse.core.resources.IResource">
		           	      <test property="org.eclipse.core.resources.name"
		           	            value="pom.xml"/>
			       	      <test
			                    forcePluginActivation="true"
			                    property="org.springsource.ide.eclipse.boot.isBootResource"
			                    value="true"/>
		           	   </adapt>
		             </iterate>
	              </and>
                </visibleWhen>
	            <command
	                  commandId="org.springframework.ide.eclipse.boot.commands.addStarterCommand"
	                  id="org.springframework.ide.eclipse.boot.menus.addStarter"
	                  label="Add Starter"
	                  mnemonic="S">
	                  <visibleWhen
	                        checkEnabled="true">
	                  </visibleWhen>
	            </command>
	            <command
	                  commandId="org.springframework.ide.eclipse.boot.commands.editStartersCommand"
	                  id="org.springframework.ide.eclipse.boot.menus.editStarters"
	                  label="Edit Starters"
	                  mnemonic="S">
	                  <visibleWhen
	                        checkEnabled="true">
	                  </visibleWhen>
	            </command>
            </menu>
      </menuContribution>
   </extension>
  
   <!-- TODO this extension point won't allow us to provide discovery on a per project basis. So it isn't quite right but
        it is all we got for now so let's get something working and then fix that later -->
   <extension
         id="springBootExternalTypes"
         point="org.spring.ide.eclipse.completions.externaltypes">
      <typeSource
            class="org.springframework.ide.eclipse.boot.completions.SpringBootTypeDiscoveryFactory">
      </typeSource>
   </extension>
  
  

    <extension point="org.eclipse.ui.preferencePages">
	 	<page
         category="org.springsource.ide.eclipse.commons.preferencePage"
         class="org.springframework.ide.eclipse.boot.ui.preferences.BootInstallPreferencePage"
         id="org.springframework.ide.eclipse.boot.ui.preferences.BootInstallPreferencePage"
         name="Spring Boot">
   		</page>
   	</extension>
   	
   <extension
         point="org.eclipse.ui.popupMenus">
   	      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="com.springsource.sts.roo.ui.actions.rooProject">
         <visibility>
         	<!-- TODO: only allow this for spring boot projects? -->
	        <objectState
	              name="nature"
	              value="org.springframework.ide.eclipse.core.springnature">
	        </objectState>
         </visibility>
         <action
                   class="org.springframework.ide.eclipse.boot.ui.OpenLiveBeansGraphAction"
                   enablesFor="+"
                   icon="resources/icons/live-beans-graph.png"
                   id="org.springframework.ide.eclipse.boot.ui.OpenLiveBeansGraphAction"
                   label="Open Live Beans Graph"
                   menubarPath="org.springframework.ide.eclipse.ui.tools/group0">
         </action>
      </objectContribution>
   	</extension>

</plugin>
