<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin id="org.springframework.ide.eclipse.core.ui" name="Spring IDE Core UI" version="1.9.0" provider-name="Spring IDE Developers" class="org.springframework.ide.eclipse.core.ui.SpringCoreUIPlugin">
  <runtime>
		<library name="ec.ep.dit.isp.foundry.eclipse.platform.utils.jar">
         	<export name="*" />
         </library>
  <library name="lib/commons-lang.jar">
     <export name="*"/>
  </library>
  </runtime>
  <requires>
  	<import plugin="org.eclipse.ui" export="false"/>
    <import plugin="org.eclipse.core.runtime" export="false"/>
    <import plugin="org.eclipse.ui.ide" export="false"/>
    <import plugin="org.eclipse.core.resources" export="false"/>
    <import plugin="org.eclipse.ui.forms" export="false"/>
  </requires>
  <extension-point id="PropertyPageTabItems" name="Property Page Tab Items" schema="schema/PropertyPageTabItems.exsd"/>
</plugin>

