<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension
		point="org.springframework.ide.eclipse.beans.core.namespaces">
		<namespace
			namespaceHandler="org.springframework.webflow.config.WebFlowConfigNamespaceHandler"
			uri="http://www.springframework.org/schema/webflow-config"/>
	</extension>

   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.springframework.ide.eclipse.webflow.core.internal.model.WebflowModelPropertyTester"
            id="org.springframework.ide.eclipse.webflow.core.webflowModelTester"
            namespace="org.springframework.ide.eclipse.webflow.core.model"
            properties="isWebflowConfig"
            type="org.eclipse.core.resources.IFile"/>
   </extension>
   
   	<extension 
		point="org.springframework.ide.eclipse.core.builders">
		<builder
			id="webflowvalidator" 
			name="%webflowvalidator.name"
			enabledByDefault="true"
			description="%webflowvalidator.description"
			class="org.springframework.ide.eclipse.webflow.core.internal.model.project.WebflowProjectValidator">
		</builder>
	</extension>

	<extension id="problemmarker" name="%webflowProblemMarker"
		point="org.eclipse.core.resources.markers">
		<super
			type="org.springframework.ide.eclipse.core.problemmarker" />
		<persistent value="true" />
	</extension>

</plugin>
