<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/*******************************************************************************
 * Copyright (c) 2005, 2009 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>
	
	<extension point="org.eclipse.mylyn.context.core.bridges">
		<structureBridge
        	class="org.springframework.ide.eclipse.beans.mylyn.core.BeansContextStructureBridge"
	        id="org.springframework.ide.eclipse.beans.mylyn.context.core.beans"
    	    name="%beansContextStructureBridge.name"
        	parentContentType="resource"/>
	</extension>

	<extension point="org.eclipse.mylyn.context.ui.bridges">
		<uiBridge
			class="org.springframework.ide.eclipse.beans.mylyn.ui.BeansContextUIBridge"
			contentType="spring/beans"
			id="org.springframework.ide.eclipse.beans.mylyn.context.ui.beans"
			name="%beansContextUIBridge.name" />
	</extension>
	
	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<sourceViewerConfiguration
			class="org.springframework.ide.eclipse.beans.mylyn.ui.editor.FocusedBeansStructuredTextViewerConfiguration"
			target="org.springframework.ide.eclipse.beans.mylyn.beansConfig" />
		<contentOutlineConfiguration
			class="org.springframework.ide.eclipse.beans.ui.editor.outline.BeansContentOutlineConfiguration"
			target="org.springframework.ide.eclipse.beans.mylyn.beansConfig" />
	</extension>
	
	<extension point="org.eclipse.core.runtime.contentTypes">
		<content-type id="beansConfig" name="%contentTypeName"
			base-type="org.eclipse.core.runtime.xml" 
			priority="high"
			default-charset="UTF-8">
			<describer
				class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
				<parameter name="element" value="beans" />
			</describer>
		</content-type>
	</extension>
	
		<extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
			targetID="org.springframework.ide.eclipse.beans.mylyn.beansConfig.source.EditorContext"
			id="org.springframework.ide.eclipse.beans.ui.editor.actions.context">
			<menu label="%refactorMenu.label" path="sourcePopupMenuId"
				id="org.springframework.ide.eclipse.beans.ui.editor.actions.rector.menu">
			</menu>
			<action
				class="org.springframework.ide.eclipse.beans.ui.refactoring.actions.BeansRenameRefactorAction"
				id="org.springframework.ide.eclipse.beans.ui.refactoring.context.refactorBeanClassAction"
				label="%renameBeanElement.label"
				menubarPath="org.springframework.ide.eclipse.beans.ui.editor.actions.rector.menu/group1">
			</action>
			<action
				class="org.springframework.ide.eclipse.beans.ui.refactoring.actions.BeansMoveRefactorAction"
				id="org.springframework.ide.eclipse.beans.ui.refactoring.context.moveBeanClassAction"
				label="%moveBeanElement.label"
				menubarPath="org.springframework.ide.eclipse.beans.ui.editor.actions.rector.menu/group1">
			</action>
			<action
				class="org.springframework.ide.eclipse.beans.ui.refactoring.actions.RefactorPropertyElementAction"
				id="org.springframework.ide.eclipse.beans.ui.editor.actions.refactorPropertyElementAction"
				label="%refactorPropertyElement.label"
				menubarPath="org.springframework.ide.eclipse.beans.ui.editor.actions.rector.menu/group1">
			</action>
		</viewerContribution>
	</extension>

</plugin>
