<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/*******************************************************************************
 * Copyright (c) 2005, 2009 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>

	<extension point="org.eclipse.contribution.xref.core.providers">
		<xrefProvider
			class="org.springframework.ide.eclipse.ajdt.ui.xref.AopReferenceModelReferenceProvider"
			id="org.springframework.ide.eclipse.aop.ui.xref.BeansAopReferenceProvider"
			label="extends/implements" enabled="true">
		</xrefProvider>
	</extension>

	<extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
			targetID="org.eclipse.contribution.xref.ui.views.XReferenceView"
			id="org.springframework.ide.eclipse.aop.ui.action.crossReferenceViewContext">
			<!-- visibility>
				<or>
				<objectClass
				name="org.springframework.ide.eclipse.beans.ui.views.model.ConfigNode">
				</objectClass>
				<objectClass
				name="org.springframework.ide.eclipse.beans.ui.views.model.ConfigSetNode">
				</objectClass>
				<objectClass
				name="org.springframework.ide.eclipse.beans.ui.views.model.BeanNode">
				</objectClass>
				</or>
				</visibility-->
			<action
				class="org.springframework.ide.eclipse.ajdt.ui.xref.action.OpenBeansAopConfigAction"
				icon="icons/aspect.gif"
				id="org.springframework.ide.eclipse.aop.ui.openSpringAopConfig"
				label="Open Aspect definition" menubarPath="additions">
			</action>
		</viewerContribution>
	</extension>
	
	<extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="iprojectcontributions">
         <menu
               label="%popupMenus.label"
               id="org.springframework.ide.eclipse.ui.tools">
            <separator
               name="group0">
            </separator>
         </menu>     
         <visibility>
         	<and>
	         	<objectState name="nature" value="org.eclipse.jdt.core.javanature"/>
	         	<!--
	         	Probably want to show this no matter what
	         	<not>
		         	<objectState name="nature" value="org.eclipse.ajdt.ui.ajnature"/>
		        </not>
		        -->
		        <objectState name="open" value="true"/>
		    </and>
         </visibility>
         <action
               class="org.springframework.ide.eclipse.ajdt.ui.actions.SpringAspectsAction"
               label="Enable Spring Aspects Tooling"
               enablesFor="+"
               menubarPath="org.springframework.ide.eclipse.ui.tools/group0"
               id="org.springframework.ide.eclipse.ajdt.ui.xref.actions.addAspectsJar">
         </action>
       </objectContribution>
     </extension>
	

</plugin>
