<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/*******************************************************************************
 * Copyright (c) 2005, 2010 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>
	
	<extension point="org.eclipse.ui.viewActions"> 
    	<viewContribution 
	    	id="org.eclipse.mylyn.ui.projectexplorer.filter" 
   		    targetID="org.springframework.ide.eclipse.ui.navigator.springExplorer">
	    	<action
	            class="org.springframework.ide.eclipse.mylyn.ui.actions.FocusSpringExplorerAction"
	            disabledIcon="icons/elcl16/focus-disabled.gif"
	            enablesFor="*"
	            icon="icons/elcl16/interest-filtering.gif"
	            id="org.springframework.ide.eclipse.beans.mylyn.ui.actions.filterSpringExplorerAction"
	            label="%filterSpringExplorerAction.label"
	            menubarPath="mylyn"
	            style="toggle"
	            toolbarPath="mylyn"
	            tooltip="%filterSpringExplorerAction.tooltip">
         	<enablement>
         		<systemProperty
                	name="org.eclipse.mylyn.context.core.context.active"
                	value="true">
         		</systemProperty>
         	</enablement>
      		</action>
	  	</viewContribution> 
	</extension>
	
<!--	<extension point="org.eclipse.ui.actionSets">
		<actionSet id="org.springframework.ide.eclipse.mylyn.actionSet"
			label="%commandCategory.name" 
			visible="false">
			<action
				label="%toggleActiveFoldingAction.label" 
				tooltip="%toggleActiveFoldingAction.tooltip"
				toolbarPath="org.eclipse.ui.edit.text.actionSet.presentation/Presentation"
				id="org.springframework.ide.eclipse.beans.ui.mylyn.folding.auto"
				class="org.eclipse.mylyn.internal.java.ui.actions.ToggleActiveFoldingAction"
				definitionId="org.springframework.ide.eclipse.mylyn.folding.auto"
				icon="icons/elcl16/interest-folding.gif"
				style="toggle" />
		</actionSet>
	</extension>
	
	<extension point="org.eclipse.ui.commands">
      <category
            name="%commandCategory.name"
            description="%commandCategory.description"
            id="org.springframework.ide.eclipse.mylyn.commands">
      </category>
	  <command
         categoryId="org.springframework.ide.eclipse.mylyn.commands"
         description="%toggleActiveFoldingCommand.description"
         id="org.springframework.ide.eclipse.mylyn.folding.auto"
         name="%toggleActiveFoldingCommand.name">
      </command>
   </extension> -->

	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution adaptable="true"
			id="org.springframework.ide.eclipse.ui.interest"
			objectClass="org.springframework.ide.eclipse.core.model.IModelElement">
			<action
				label="%interestDecrementAction.label" 
				tooltip="%interestDecrementAction.tooltip"
				menubarPath="additions"
				id="org.springframework.ide.eclipse.ui.interest.actions.InterestDecrementAction"
				class="org.eclipse.mylyn.internal.context.ui.actions.InterestDecrementAction"
				icon="icons/elcl16/interest-decrease.gif"
				enablesFor="*" />
			<action 
				label="%interestIncrementAction.label"
				tooltip="%interestIncrementAction.tooltip" 
				menubarPath="additions"
				id="org.springframework.ide.eclipse.ui.interest.actions.InterestIncrementAction"
				class="org.eclipse.mylyn.internal.context.ui.actions.InterestIncrementAction"
				icon="icons/elcl16/interest-increase.gif" 
				enablesFor="*" />
   			<enablement>
   				<!-- the following warnings can be ignored! -->
   				<and>
	           		<not>
	           			<instanceof value="org.springframework.ide.eclipse.beans.core.model.IBeansConfig" />
	           		</not>
	           		<not>
	           			<instanceof value="org.springframework.ide.eclipse.webflow.core.model.IWebflowConfig" />
	           		</not>
           		</and>
   			</enablement>
   			<visibility>
      			<systemProperty
	               name="org.eclipse.mylyn.context.core.context.active"
    	           value="true">
      			</systemProperty>
		      </visibility>
		</objectContribution>
	</extension>
	
	 <extension
	       point="org.eclipse.ui.actionSetPartAssociations">
	    <actionSetPartAssociation
	          targetID="org.eclipse.mylyn.java.actionSet">
	       <part
	             id="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorPart">
	       </part>
	    </actionSetPartAssociation>
	 </extension>
 
	 <extension
	       point="org.eclipse.mylyn.context.ui.startup">
	    <startup
	          class="org.springframework.ide.eclipse.mylyn.ui.SpringExplorerStartup">
	    </startup>
	 </extension>
 
</plugin>
