<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/*******************************************************************************
 * Copyright (c) 2005, 2009 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>
   
   <extension
         point="org.eclipse.search.searchPages">
      <page
            id="org.springframework.ide.eclipse.beans.ui.search.searchPage"
            class="org.springframework.ide.eclipse.beans.ui.search.BeansSearchPage"
            label="%searchPage.label"
            icon="icons/full/obj16/spring_search_obj.gif"
            extensions="*"
            enabled="true"
            canSearchEnclosingProjects="true"
            showScopeSection="true"/>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            id="org.springframework.ide.eclipse.beans.ui.search.resultViewPage"
            class="org.springframework.ide.eclipse.beans.ui.search.BeansSearchResultPage"
            searchResultClass="org.springframework.ide.eclipse.beans.ui.search.internal.BeansSearchResult"/>
   </extension>

	<extension point="org.eclipse.ui.actionSets">
		<actionSet
			id="org.springframework.ide.eclipse.beans.search.actionSet"
	        label="%actionSet.label"
			visible="true">
	      	<menu
	            id="org.eclipse.search.menu"
	            label="%searchMenu.label"
	            path="navigate">
	         	<groupMarker name="internalDialogGroup"/>
	         	<groupMarker name="dialogGroup"/>
                 <separator name="contextMenuActionsGroup"/>
                 <separator name="internalOccurrencesGroup"/>
	      	</menu>
			<action id="org.springframework.ide.eclipse.beans.search.openBeansSearchPageAction"
				definitionId="org.springframework.ide.eclipse.beans.search.actions.openBeansSearchPage"
				menubarPath="org.eclipse.search.menu/dialogGroup"
				label="%action.openBeansSearchPage.label"
				icon="icons/full/obj16/spring_search_obj.gif"
				class="org.springframework.ide.eclipse.beans.ui.search.actions.OpenBeansSearchPageAction"/>
		</actionSet>
   </extension>

	<extension point="org.eclipse.ui.commands">
		<command
			id="org.springframework.ide.eclipse.beans.search.actions.openBeansSearchPage"
			name="%command.openBeansSearchPage.name"
			description="%command.openBeansSearchPage.description"
			categoryId="org.eclipse.ui.category.views"/>
   </extension>
   
   <extension
         point="org.eclipse.jdt.ui.queryParticipants">
      <queryParticipant
            class="org.springframework.ide.eclipse.beans.ui.search.jdt.BeansJavaSearchParticipant"
            id="org.springframework.ide.eclipse.beans.ui.search.queryParticipant"
            name="Query"
            nature="org.springframework.ide.eclipse.core.springnature"/>
   </extension>
</plugin>
