<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/*******************************************************************************
 * Copyright (c) 2005, 2013 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>
   <extension-point id="projectExplorer"
         name="Project Explorer Filters"
         schema="schema/projectExplorer.exsd"/>

   <extension-point id="contentContribution"
         name="Content Contribution"
         schema="schema/contentContribution.exsd"/>

   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            natureId="org.springframework.ide.eclipse.core.springnature"
            icon="icons/full/ovr16/spring_ovr.gif"
            id="org.springframework.ide.eclipse.ui.springnatureimage"/>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.springframework.ide.eclipse.ui.actions.nonSpringProject">
         <menu
               label="%popupMenus.label"
               id="org.springframework.ide.eclipse.ui.tools">
            <separator
               name="group0">
            </separator>
         </menu> 
         <visibility>
             <not>
                 <objectState
                       name="nature"
                       value="org.springframework.ide.eclipse.core.springnature">
                 </objectState>
             </not>
         </visibility>
         <action
               label="%popupMenus.addNature.label"
               class="org.springframework.ide.eclipse.ui.internal.actions.AddRemoveNature"
               enablesFor="+"
               menubarPath="org.springframework.ide.eclipse.ui.tools/group0"
               id="org.springframework.ide.eclipse.ui.actions.addNature">
         </action>
      </objectContribution>

      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.springframework.ide.eclipse.beans.ui.actions.springProject">
		 <menu
               label="%popupMenus.label"
               id="org.springframework.ide.eclipse.ui.tools">
            <separator
               name="group0">
            </separator>
         </menu>
         <visibility>
            <objectState
                  name="nature"
                  value="org.springframework.ide.eclipse.core.springnature">
            </objectState>
         </visibility>
         <action
               label="%popupMenus.removeNature.label"
               class="org.springframework.ide.eclipse.ui.internal.actions.AddRemoveNature"
               enablesFor="+"
               menubarPath="org.springframework.ide.eclipse.ui.tools/group0"
               id="org.springframework.ide.eclipse.ui.actions.removeNature">
         </action>
         <action
               label="Remove Validation Markers"
               class="org.springframework.ide.eclipse.ui.internal.actions.RemoveMarkersAction"
               enablesFor="+"
               menubarPath="org.springframework.ide.eclipse.ui.tools/group0"
               id="org.springframework.ide.eclipse.ui.actions.cleanMarkers">
         </action>
         <action
               label="Reset Internal Caches"
               class="org.springframework.ide.eclipse.ui.internal.actions.ResetInternalCacheAction"
               enablesFor="+"
               menubarPath="org.springframework.ide.eclipse.ui.tools/group0"
               id="org.springframework.ide.eclipse.ui.actions.resetCache">
         </action>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="org.springframework.ide.eclipse.ui.projectPropertyPage"
            name="%projectPropertyCategory"
            class="org.springframework.ide.eclipse.ui.dialogs.ProjectPropertyPage"
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="nature"
               value="org.springframework.ide.eclipse.core.springnature">
         </filter>
         <keywordReference
               id="org.springframework.ide.eclipse.ui.keywords">
         </keywordReference>
      </page>
   </extension>
   
     <extension point="org.eclipse.ui.keywords">
         <keyword id="org.springframework.ide.eclipse.ui.keywords"
            label="%preferenceKeywords.label"/>
    </extension>
   
    <extension point="org.eclipse.ui.preferencePages">
	 	<page id="org.springframework.ide.eclipse.ui.preferencePage"
 			name="%projectPropertyPage"
 			category="org.springsource.ide.eclipse.commons.preferencePage"
    		class="org.springframework.ide.eclipse.ui.dialogs.ProjectPropertyPage">
      <keywordReference
            id="org.springframework.ide.eclipse.ui.keywords">
      </keywordReference>
   		</page>
   	</extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%viewCategoryName"
            id="org.springframework.ide.eclipse.ui.views">
      </category>
      <view
            id="org.springframework.ide.eclipse.ui.navigator.springExplorer"
            name="%navigatorViewName"
            icon="icons/full/obj16/spring_explorer_obj.gif"
            category="org.springframework.ide.eclipse.ui.views"
            class="org.springframework.ide.eclipse.ui.navigator.SpringNavigator">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <showInPart id="org.eclipse.ui.navigator.ProjectExplorer"/>
         <showInPart id="org.springframework.ide.eclipse.ui.navigator.springExplorer"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <showInPart id="org.eclipse.ui.navigator.ProjectExplorer"/>
         <showInPart id="org.springframework.ide.eclipse.ui.navigator.springExplorer"/>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer viewerId="org.eclipse.ui.navigator.ProjectExplorer"/>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.springframework.ide.eclipse.ui.navigator.projectExplorerContent"/>
            <contentExtension pattern="org.springframework.ide.eclipse.ui.navigator.filters.*"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.springframework.ide.eclipse.ui.navigator.projectExplorerActions"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer viewerId="org.springframework.ide.eclipse.ui.navigator.springExplorer">
      	 <!-- Hide the "Link with Editor" action from the toolbar of the viewer -->
      	 <!--
      	 <options>
		 	<property name="org.eclipse.ui.navigator.hideLinkWithEditorAction" value="true" />
		 </options>
		 -->
      </viewer>
      <viewerContentBinding viewerId="org.springframework.ide.eclipse.ui.navigator.springExplorer">
         <includes>
            <contentExtension pattern="org.springframework.ide.eclipse.ui.navigator.workingsets"/>
            <contentExtension pattern="org.springframework.ide.eclipse.ui.navigator.springExplorerContent"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.springframework.ide.eclipse.ui.navigator.springExplorer">
         <includes>
            <actionExtension pattern="org.springframework.ide.eclipse.ui.navigator.springExplorerActions"/>
            <actionExtension pattern="org.springframework.ide.eclipse.ui.navigator.springExplorerWorkingSetActions"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            id="org.springframework.ide.eclipse.ui.navigator.springExplorerContent"
            name="%navigatorContentName"
            contentProvider="org.springframework.ide.eclipse.ui.internal.navigator.SpringNavigatorContentProvider"
            labelProvider="org.springframework.ide.eclipse.ui.internal.navigator.SpringNavigatorLabelProvider"
            icon="icons/full/obj16/project_obj.gif"
            activeByDefault="true">
         <triggerPoints/>
         <possibleChildren>
         	<or>
				<instanceof value="org.springframework.ide.eclipse.core.model.ISpringProject"/>
				<instanceof	value="org.eclipse.core.resources.IResource" />
				<instanceof	value="org.eclipse.jdt.core.IJavaProject" />
			</or>
         </possibleChildren>
         <actionProvider
				id="org.springframework.ide.eclipse.ui.navigator.springExplorerActions"
				class="org.springframework.ide.eclipse.ui.internal.navigator.SpringNavigatorActionProvider">
            <enablement>
            	<instanceof value="org.springframework.ide.eclipse.core.model.ISpringProject"/>	
            </enablement>
         </actionProvider>
         <actionProvider
            class="org.springframework.ide.eclipse.ui.workingsets.actions.WorkingSetActionProvider"
            id="org.springframework.ide.eclipse.ui.navigator.springExplorerWorkingSetActions">
           <enablement>
				<adapt type="org.eclipse.core.resources.IResource" />	 
           </enablement>            
      	 </actionProvider>
         <dropAssistant
               class="org.springframework.ide.eclipse.ui.internal.navigator.SpringNavigatorDropAdapter"
               id="org.springframework.ide.eclipse.ui.navigator.springExplorerContent.dropAssistent">
            <possibleDropTargets>
				<adapt type="org.eclipse.core.resources.IResource" />	
            </possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
      
      <navigatorContent
            id="org.springframework.ide.eclipse.ui.navigator.projectExplorerContent"
            name="%navigatorContentName"
            contentProvider="org.springframework.ide.eclipse.ui.internal.navigator.SpringNavigatorContentProvider"
            labelProvider="org.springframework.ide.eclipse.ui.internal.navigator.SpringNavigatorLabelProvider"
            icon="icons/full/obj16/project_obj.gif"
            activeByDefault="true"
            priority="highest">	<!-- we need to outrule the other navigators here to put the ISpringProject element at the top of the list -->
         <triggerPoints>
			<adapt type="org.eclipse.core.resources.IProject">
				<test property="org.eclipse.core.resources.open"
					value="true"/>
				<test property="org.eclipse.core.resources.projectNature"
					value="org.springframework.ide.eclipse.core.springnature"/>
			</adapt>
         </triggerPoints>
         <possibleChildren>
			<instanceof value="org.springframework.ide.eclipse.core.model.ISpringProject"/>
         </possibleChildren>
         <actionProvider
				id="org.springframework.ide.eclipse.ui.navigator.projectExplorerActions"
				class="org.springframework.ide.eclipse.ui.internal.navigator.SpringNavigatorActionProvider">
            <enablement>
				<instanceof value="org.springframework.ide.eclipse.core.model.ISpringProject"/>
            </enablement>
         </actionProvider>
      </navigatorContent>

      <commonFilter
            id="org.springframework.ide.eclipse.ui.navigator.filters.hideNonSpringArtefacts"
            name="%navigatorfilterHideNonSpringElementsName"
            description="%navigatorfilterHideNonSpringElementsDescription"
            class="org.springframework.ide.eclipse.ui.navigator.filters.NonSpringElementsFilter"
            activeByDefault="false"/>
            
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.springframework.ide.eclipse.ui.workingsets.WorkingSetContentProvider"
            icon="icons/full/obj16/workingsets_obj.gif"
            id="org.springframework.ide.eclipse.ui.navigator.workingsets"
            labelProvider="org.springframework.ide.eclipse.ui.workingsets.WorkingSetLabelProvider"
            name="%workingsets.extension.name"
            priority="higher">
         <triggerPoints>
            <instanceof value="org.eclipse.ui.IWorkingSet"/>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="java.lang.Object"/>
         </possibleChildren>
         <commonSorter
               class="org.springframework.ide.eclipse.ui.workingsets.WorkingSetsViewerSorter"
               id="org.springframework.ide.eclipse.ui.navigator.workingsets.sorter"/>  
      </navigatorContent>
            
   </extension>
   
   <extension
         point="org.eclipse.ui.workingSets">
      <workingSet
            name="%workingSets.name"
            pageClass="org.springframework.ide.eclipse.ui.workingsets.SpringWorkingSetPage"
            icon="/icons/full/obj16/workingsets_obj.gif"
            id="org.springframework.ide.eclipse.ui.springWorkingSetPage">
      </workingSet>
   </extension>
   
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            adaptable="false"
            location="TOP_RIGHT"
            label="%decorator.label"
            state="true"
            class="org.springframework.ide.eclipse.ui.SpringLabelDecorator"
            id="org.springframework.ide.eclipse.ui.model.modelLabelDecorator">
         <description>
            %decorator.description
         </description>
         <enablement>
         	<objectClass name="org.springframework.ide.eclipse.core.model.ISpringProject"/>
         </enablement>
      </decorator>
   </extension>

	<extension point="org.eclipse.ui.perspectives">
		<perspective
			class="org.springframework.ide.eclipse.ui.perspective.StsPerspective"
			icon="icons/full/obj16/spring_perspective.gif" id="com.springsource.sts.ide.perspective"
			name="Spring">
		</perspective>
	</extension>

	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="com.springsource.sts.ide.perspective">
			<actionSet id="org.eclipse.debug.ui.launchActionSet" />
			<actionSet id="org.eclipse.wst.server.ui.internal.webbrowser.actionSet" />
			<actionSet id="org.eclipse.debug.ui.breakpointActionSet" />
		</perspectiveExtension>
	</extension>

   <extension point="org.eclipse.ui.perspectiveExtensions">
   	<perspectiveExtension
   		targetID="org.eclipse.jdt.ui.JavaPerspective">
   		<viewShortcut
   			id="org.springframework.ide.eclipse.ui.navigator.springExplorer" />
   		<view 
   			closeable="true"
   			id="org.springframework.ide.eclipse.ui.navigator.springExplorer"
   			minimized="false" 
   			moveable="true" 
   			ratio="0.5"
   			relationship="bottom"
   			relative="org.eclipse.ui.views.ContentOutline" 
   			visible="true" />
   	</perspectiveExtension>
   	<!-- TODO CD: Does it make sense to add the Spring Explorer to the Java EE perspective as we contribute to the Project Explorer? -->
   	<!-- 
   	<perspectiveExtension
   		targetID="org.eclipse.jst.j2ee.J2EEPerspective">
   		<viewShortcut
   			id="org.springframework.ide.eclipse.ui.navigator.springExplorer" />
   		<view 
   			closeable="true"
   			id="org.springframework.ide.eclipse.ui.navigator.springExplorer"
   			minimized="false" 
   			moveable="true" 
   			ratio="0.5"
   			relationship="bottom"
   			relative="org.eclipse.ui.views.ContentOutline" 
   			visible="true" />
   	</perspectiveExtension>
   	-->
   </extension>
   
   	<extension point="org.eclipse.ui.viewActions"> 
    	<viewContribution 
	    	id="org.springframework.ide.eclipse.ui.navigator.springExplorer.sorting" 
   		    targetID="org.springframework.ide.eclipse.ui.navigator.springExplorer">
	    	<action
	            class="org.springframework.ide.eclipse.ui.navigator.actions.LexicalSortingAction"
	            enablesFor="*"
	            icon="icons/full/elcl16/alphab_sort_co.gif"
	            id="org.springframework.ide.eclipse.ui.navigator.springExplorer.sortingAction"
	            label="%sortSpringExplorerAction.label"
	            style="toggle"
	            toolbarPath="additions-start"
	            tooltip="%sortSpringExplorerAction.tooltip"/>
	  	</viewContribution> 
	</extension>

    <!-- provide url where to read 'StsProperties' from. Mostly these properties drive the dashboard. -->
    <extension point="org.springsource.ide.commons.core.properties">
       <fromUrl priority="200" url="http://dist.springsource.com/release/STS/discovery/sts.properties">
       </fromUrl>
    </extension>

</plugin>
