<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
 
   <extension point="org.eclipse.core.runtime.contentTypes">
		<content-type id="beansConfig"
			name="%contentTypeName"
			base-type="org.eclipse.core.runtime.xml"
			priority="high"
			default-charset="UTF-8">
			<describer
				class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
				<parameter name="element" value="beans" />
			</describer>
		</content-type>
	</extension>

	<extension-point id="namespaces"
		name="%contributionName"
		schema="schema/namespaces.exsd"/>

	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<sourceViewerConfiguration
			class="org.springframework.ide.eclipse.beans.ui.editor.BeansStructuredTextViewerConfiguration"
			target="org.springframework.ide.eclipse.beans.ui.editor.beansConfig"/>
		<contentOutlineConfiguration
			class="org.springframework.ide.eclipse.beans.ui.editor.outline.BeansContentOutlineConfiguration"
			target="org.springframework.ide.eclipse.beans.ui.editor.beansConfig"/>
	</extension>
	
	<extension point="org.eclipse.wst.sse.core.modelHandler">
		<modelHandler
			id="org.springframework.ide.eclipse.beans.ui.editor.handler.beansConfig"
			default="false"
			associatedContentTypeId="org.springframework.ide.eclipse.beans.ui.editor.beansConfig"
			class="org.springframework.ide.eclipse.beans.ui.editor.BeansModelHandler">
		</modelHandler>
	</extension>

	<extension
		point="org.eclipse.wst.sse.ui.adapterFactoryDescription">
		<adapterFactoryDescription
			class="org.springframework.ide.eclipse.beans.ui.editor.BeansAdapterFactoryProvider">
		</adapterFactoryDescription>
	</extension>


 <extension
       point="org.eclipse.wst.xml.core.catalogContributions">
    <catalogContribution>
       <public
             publicId="-//SPRING//DTD BEAN//EN"
             uri="dtds/spring-beans.dtd"
             webURL="http://www.springframework.org/dtd/spring-beans.dtd"/>
       <public
             publicId="-//SPRING//DTD BEAN 2.0//EN"
             uri="dtds/spring-beans-2.0.dtd"
             webURL="http://www.springframework.org/dtd/spring-beans-2.0.dtd"/>
       <public
             publicId="http://www.springframework.org/schema/beans"
             uri="xsd/spring-beans-2.0.xsd"
             webURL="http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"/>
       <public
             publicId="http://www.springframework.org/schema/util"
             uri="xsd/spring-util-2.0.xsd"
             webURL="http://www.springframework.org/schema/util/spring-util-2.0.xsd"/>
       <public
             publicId="http://www.springframework.org/schema/aop"
             uri="xsd/spring-aop-2.0.xsd"
             webURL="http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"/>
       <public
             publicId="http://www.springframework.org/schema/tx"
             uri="xsd/spring-tx-2.0.xsd"
             webURL="http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"/>
       <public
             publicId="http://www.springframework.org/schema/jee"
             uri="xsd/spring-jee-2.0.xsd"
             webURL="http://www.springframework.org/schema/jee/spring-jee-2.0.xsd"/>
       <public
             publicId="http://www.springframework.org/schema/tool"
             uri="xsd/spring-tool-2.0.xsd"
             webURL="http://www.springframework.org/schema/tool/spring-tool-2.0.xsd"/>
       <public
             publicId="http://www.springframework.org/schema/lang"
             uri="xsd/spring-lang-2.0.xsd"
             webURL="http://www.springframework.org/schema/lang/spring-lang-2.0.xsd"/>
    </catalogContribution>
 </extension>
 
 <extension point="org.eclipse.ui.editors.templates">
		<contextType
			name="%templatesContextTypeAllName"
			class="org.springframework.ide.eclipse.beans.ui.editor.templates.BeansTemplateContextType"
			id="org.springframework.ide.eclipse.beans.ui.editor.templates.contextType.all">
		</contextType>
		<contextType
			name="%templatesContextTypeBeanName"
			class="org.springframework.ide.eclipse.beans.ui.editor.templates.BeansTemplateContextType"
			id="org.springframework.ide.eclipse.beans.ui.editor.templates.contextType.bean">
		</contextType>
		<contextType
			name="%templatesContextTypePropertyName"
			class="org.springframework.ide.eclipse.beans.ui.editor.templates.BeansTemplateContextType"
			id="org.springframework.ide.eclipse.beans.ui.editor.templates.contextType.property">
		</contextType>
  		<include
          file="templates/templates.xml"
          translations="templates/templates.properties"/>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page
			name="%templatesPreferencesPageName"
			category="org.eclipse.wst.sse.ui.preferences.xml"
			class="org.springframework.ide.eclipse.beans.ui.editor.templates.BeanTemplatePreferencePage"
			id="org.springframework.ide.eclipse.beans.ui.editor.templates">
		</page>
	</extension>

	<extension point="org.eclipse.ui.editorActions">
		<editorContribution
			id="org.springframework.ide.eclipse.beans.ui.editor.actions"
			targetID="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorPart">
	      	<menu
	            id="org.eclipse.search.menu"
	            label="%searchMenu.label"
	            path="navigate">
	         	<groupMarker name="internalDialogGroup"/>
	         	<groupMarker name="dialogGroup"/>
                 <separator name="contextMenuActionsGroup"/>
                 <separator name="internalOccurrencesGroup"/>
	      	</menu>
			<action
		         id="org.springframework.ide.eclipse.beans.ui.editor.actions.searchBeanReferencesAction"
		         label="%action.searchBeanReferences.label"
		         definitionId="org.springframework.ide.eclipse.beans.ui.editor.commands.searchBeanReferences"
		         icon="icons/full/obj16/bean_obj.gif"
		         menubarPath="org.eclipse.search.menu/contextMenuActionsGroup"
		         class="org.springframework.ide.eclipse.beans.ui.editor.actions.SearchBeanReferencesAction">
			</action>
		</editorContribution>
	</extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.springframework.ide.eclipse.beans.ui.editor.commands.searchBeanReferences"
            name="%command.searchBeanReferences.name"
            categoryId="org.eclipse.search.ui.category.search"/>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            sequence="M1+M2+G"
            commandId="org.springframework.ide.eclipse.beans.ui.editor.commands.searchBeanReferences"
            contextId="org.eclipse.wst.sse.ui.structuredTextEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>
   
   <extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
			targetID="org.springframework.ide.eclipse.beans.ui.editor.beansConfig.source.EditorContext"
			id="org.springframework.ide.eclipse.beans.ui.editor.actions.context">
		     <menu
               label="Refactor"
               path="additions"
               id="org.springframework.ide.eclipse.beans.ui.editor.actions.rector.menu">
         	</menu>
			<action
		         class="org.springframework.ide.eclipse.beans.ui.editor.actions.RefactorPropertyElementAction"
		         icon="icons/full/obj16/spring_obj.gif"
		         id="org.springframework.ide.eclipse.beans.ui.editor.actions.refactorPropertyElementAction"
		         label="Refactor Property Element"
		         menubarPath="org.springframework.ide.eclipse.beans.ui.editor.actions.rector.menu/group1">
			</action>
		</viewerContribution>
	</extension>
   
   <extension
         point="org.springframework.ide.eclipse.beans.ui.editor.namespaces">
		<namespace
        	contentAssistProcessor="org.springframework.ide.eclipse.beans.ui.editor.namespaces.bean.BeansContentAssistProcessor"
        	elementLocator="org.springframework.ide.eclipse.beans.ui.editor.namespaces.bean.BeansReferenceableElementsLocator"
        	hyperLinkDetector="org.springframework.ide.eclipse.beans.ui.editor.namespaces.bean.BeansHyperLinkDetector"
        	labelProvider="org.springframework.ide.eclipse.beans.ui.editor.namespaces.bean.BeansOutlineLabelProvider"
        	name="Spring Beans"
        	uri="http://www.springframework.org/schema/beans"/>
		<namespace
        	contentAssistProcessor="org.springframework.ide.eclipse.beans.ui.editor.namespaces.bean.BeansContentAssistProcessor"
        	labelProvider="org.springframework.ide.eclipse.beans.ui.editor.namespaces.bean.BeansOutlineLabelProvider"
        	name="Spring P"
        	uri="http://www.springframework.org/schema/p"/>
		<namespace
        	contentAssistProcessor="org.springframework.ide.eclipse.beans.ui.editor.namespaces.aop.AopContentAssistProcessor"
        	elementLocator="org.springframework.ide.eclipse.beans.ui.editor.namespaces.DefaultReferenceableElementsLocator"
        	hyperLinkDetector="org.springframework.ide.eclipse.beans.ui.editor.namespaces.aop.AopHyperLinkDetector"
        	labelProvider="org.springframework.ide.eclipse.beans.ui.editor.namespaces.aop.AopOutlineLabelProvider"
        	name="Spring AOP"
        	uri="http://www.springframework.org/schema/aop"/>
		<namespace
        	contentAssistProcessor="org.springframework.ide.eclipse.beans.ui.editor.namespaces.util.UtilContentAssistProcessor"
        	elementLocator="org.springframework.ide.eclipse.beans.ui.editor.namespaces.DefaultReferenceableElementsLocator"
        	hyperLinkDetector="org.springframework.ide.eclipse.beans.ui.editor.namespaces.util.UtilHyperLinkDetector"
        	labelProvider="org.springframework.ide.eclipse.beans.ui.editor.namespaces.util.UtilOutlineLabelProvider"
        	name="Spring Util"
        	uri="http://www.springframework.org/schema/util"/>
		<namespace
        	classNameProvider="org.springframework.ide.eclipse.beans.ui.editor.namespaces.tx.TxClassNameProvider"
        	contentAssistProcessor="org.springframework.ide.eclipse.beans.ui.editor.namespaces.tx.TxContextAssistProcessor"
        	labelProvider="org.springframework.ide.eclipse.beans.ui.editor.namespaces.tx.TxOutlineLabelProvider"
        	name="Spring Tx"
        	uri="http://www.springframework.org/schema/tx"/>

   </extension>

</plugin>
