<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.springframework.ide.eclipse.beans.ui.editor"
   name="%pluginName"
   version="1.0.1"
   provider-name="%providerName"
   class="org.springframework.ide.eclipse.beans.ui.editor.BeansEditorPlugin">

   <runtime>
      <library name="beans-editor.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime" />
      <import plugin="org.eclipse.core.resources" />
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.ide" />
      <import plugin="org.eclipse.ui.views" />
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.jdt.core" />
      <import plugin="org.eclipse.jdt.ui" />
      <import plugin="org.eclipse.wst.sse.core" />
      <import plugin="org.eclipse.wst.sse.ui" />
      <import plugin="org.eclipse.wst.xml.core" />
      <import plugin="org.eclipse.wst.xml.ui" />
      <import plugin="org.eclipse.search"/>
      <import plugin="org.springframework.ide.eclipse.core" />
      <import plugin="org.springframework.ide.eclipse.ui" />
      <import plugin="org.springframework.ide.eclipse.beans.core" />
      <import plugin="org.springframework.ide.eclipse.beans.ui" />
      <import plugin="org.springframework.ide.eclipse.beans.ui.search"/>
   </requires>
 
   <extension point="org.eclipse.core.runtime.contentTypes">
		<content-type id="beansConfig"
			name="%contentTypeName"
			base-type="org.eclipse.core.runtime.xml"
			priority="high"
			default-charset="UTF-8">
			<describer
				class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
				<parameter name="element" value="beans" />
			</describer>
		</content-type>
	</extension>

	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<sourceViewerConfiguration
			class="org.springframework.ide.eclipse.beans.ui.editor.BeansStructuredTextViewerConfiguration"
			target="org.springframework.ide.eclipse.beans.ui.editor.beansConfig" />
		<contentOutlineConfiguration
			class="org.springframework.ide.eclipse.beans.ui.editor.outline.BeansContentOutlineConfiguration"
			target="org.springframework.ide.eclipse.beans.ui.editor.beansConfig"/>
	</extension>
	
	<extension point="org.eclipse.wst.sse.core.modelHandler">
		<modelHandler
			id="org.springframework.ide.eclipse.beans.ui.editor.handler.beansConfig"
			default="false"
			associatedContentTypeId="org.springframework.ide.eclipse.beans.ui.editor.beansConfig"
			class="org.springframework.ide.eclipse.beans.ui.editor.BeansModelHandler">
		</modelHandler>
	</extension>

	<extension
		point="org.eclipse.wst.sse.ui.adapterFactoryDescription">
		<adapterFactoryDescription
			class="org.springframework.ide.eclipse.beans.ui.editor.BeansAdapterFactoryProvider">
		</adapterFactoryDescription>
	</extension>


 <extension
       point="org.eclipse.wst.xml.core.catalogContributions">
    <catalogContribution>
       <public
             publicId="-//SPRING//DTD BEAN//EN"
             uri="dtds/spring-beans.dtd"
             webURL="http://www.springframework.org/dtd/spring-beans.dtd"/>
    </catalogContribution>
 </extension>
 
 <extension point="org.eclipse.ui.editors.templates">
		<contextType
			name="%templatesContextTypeAllName"
			class="org.springframework.ide.eclipse.beans.ui.editor.templates.BeansTemplateContextType"
			id="org.springframework.ide.eclipse.beans.ui.editor.templates.contextType.all">
		</contextType>
		<contextType
			name="%templatesContextTypeBeanName"
			class="org.springframework.ide.eclipse.beans.ui.editor.templates.BeansTemplateContextType"
			id="org.springframework.ide.eclipse.beans.ui.editor.templates.contextType.bean">
		</contextType>
		<contextType
			name="%templatesContextTypePropertyName"
			class="org.springframework.ide.eclipse.beans.ui.editor.templates.BeansTemplateContextType"
			id="org.springframework.ide.eclipse.beans.ui.editor.templates.contextType.property">
		</contextType>
  		<include
          file="templates/templates.xml"
          translations="templates/templates.properties"/>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page
			name="%templatesPreferencesPageName"
			category="org.eclipse.wst.sse.ui.preferences.xml"
			class="org.springframework.ide.eclipse.beans.ui.editor.templates.BeanTemplatePreferencePage"
			id="org.springframework.ide.eclipse.beans.ui.editor.templates">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
			targetID="org.springframework.ide.eclipse.beans.ui.editor.beansConfig.source.EditorContext"
			id="org.springframework.ide.eclipse.beans.ui.editor.actions.context">
		     <menu
               label="%popupMenus.menu.label"
               path="additions"
               id="SPRINGIDE.popupMenu">
         	</menu>
			<action
		         class="org.springframework.ide.eclipse.beans.ui.editor.actions.SearchForBeanReferenceAction"
		         icon="icons/spring_16.gif"
		         id="org.springframework.ide.eclipse.beans.ui.editor.actions.SearchForBeanReferenceAction"
		         label="%searchForBeanReferences"
		         menubarPath="SPRINGIDE.popupMenu/group1">
			</action>
		</viewerContribution>
	</extension>
	 
	 <extension point = "org.eclipse.ui.actionSets">
	   <actionSet id="org.springframework.ide.eclipse.beans.ui.editor.actionSet"
		   label="Spring IDE actions"
		   visible="false">
		   <action
	           class="org.springframework.ide.eclipse.beans.ui.editor.actions.SearchForBeanReferenceAction"
	           definitionId="org.springframework.ide.eclipse.beans.ui.editor.actions.searchforbeanreferences"
	           id="org.springframework.ide.eclipse.beans.ui.editor.actions.SearchForBeanReferenceAction.id"
	           label="%searchForBeanReferences">
		   </action>
	   </actionSet>
	</extension>
	 
	 
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%commands.category.name"
            description="%commands.category.description"
            id="org.springframework.ide.eclipse.beans.ui.commands">
      </category>
      <command
            categoryId="org.springframework.ide.eclipse.beans.ui.commands"
            name="%commands.searchforbeanreferences.name"
            id="org.springframework.ide.eclipse.beans.ui.editor.actions.searchforbeanreferences"/>
      <keyBinding
            commandId="org.springframework.ide.eclipse.beans.ui.editor.actions.searchforbeanreferences"
            keySequence="Shift+M1+G"
            contextId="org.eclipse.ui.textEditorScope"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>
	
</plugin>
