<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.springframework.ide.eclipse.beans.ui.editor"
   name="%pluginName"
   version="0.1.0"
   provider-name="%providerName"
   class="org.springframework.ide.eclipse.beans.ui.editor.BeansEditorPlugin">

   <runtime>
      <library name="beans-editor.jar"/>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime" />
      <import plugin="org.eclipse.core.resources" />
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.ide" />
      <import plugin="org.eclipse.ui.views" />
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.jdt.core" />
      <import plugin="org.eclipse.jdt.ui" />
      <import plugin="org.eclipse.wst.sse.core" />
      <import plugin="org.eclipse.wst.sse.ui" />
      <import plugin="org.eclipse.wst.xml.core" />
      <import plugin="org.eclipse.wst.xml.ui" />
      <import plugin="org.springframework.ide.eclipse.beans.ui" />
   </requires>

	<extension point="org.eclipse.core.runtime.contentTypes">
		<content-type id="beansConfig"
			name="%contentTypeName"
			base-type="org.eclipse.core.runtime.xml"
			file-extensions="xml"
			priority="low"
			default-charset="UTF-8">
			<describer
				class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
				<parameter name="element" value="beans" />
			</describer>
		</content-type>
	</extension>

	<extension point="org.eclipse.wst.sse.core.modelHandler">
		<modelHandler
			id="org.eclipse.wst.sse.core.handler.beansConfig"
			default="false"
			associatedContentTypeId="org.springframework.ide.eclipse.beans.ui.editor.beansConfig"
			class="org.springframework.ide.eclipse.beans.ui.editor.BeansModelHandler">
		</modelHandler>
	</extension>

	<extension
		point="org.eclipse.wst.sse.ui.adapterFactoryDescription">
		<adapterFactoryDescription
			class="org.springframework.ide.eclipse.beans.ui.editor.BeansAdapterFactoryProvider">
		</adapterFactoryDescription>
	</extension>

	<extension point="org.eclipse.wst.sse.ui.extendedconfiguration">
		<configuration
			type="textviewerconfiguration"
			target="org.springframework.ide.eclipse.beans.ui.editor.beansConfig"
			class="org.springframework.ide.eclipse.beans.ui.editor.BeansStructuredTextViewerConfiguration"/>
		<!-- nothing special is supplied for other configurations, so nothing else needs to be declared -->
	</extension>

</plugin>
