<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
/*******************************************************************************
 * Copyright (c) 2005, 2009 Spring IDE Developers
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Spring IDE Developers - initial API and implementation
 *******************************************************************************/
 -->
<plugin>
   <extension-point id="factorybeantyperesolvers" name="Factory Bean Type Resolvers" schema="schema/factorybeantyperesolvers.exsd"/>

   <!-- As of 2.2.7 this is deprecated in flavor for the new autowiring support -->
   <!--<extension
         point="org.springframework.ide.eclipse.beans.core.metadataproviders">
      <metadataProvider
            class="org.springframework.ide.eclipse.beans.core.autowire.internal.provider.AnnotationReferenceMetadataProvider">
      </metadataProvider>
   </extension>-->
   
   <extension
	       point="org.springframework.ide.eclipse.core.validators">
	    <rules validatorId="org.springframework.ide.eclipse.beans.core.beansvalidator">
		    <rule
            class="org.springframework.ide.eclipse.beans.core.autowire.internal.validation.rules.AutowireDependencyProblemsRule"
            description="%autowire.rule.description"
            enabledByDefault="false"
            id="autowire"
            name="%autowire.rule.label"/>
		</rules>
	</extension>

</plugin>
