<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.dadacoalition.yedit.yamlsource"
            default-charset="UTF-8"
            id="org.springframework.ide.eclipse.application.yml"
            name="Spring Yaml Properties File"
            priority="high">
      </content-type>
      <file-association
            content-type="org.springframework.ide.eclipse.application.yml"
            file-names="application.yml,bootstrap.yml,application-dev.yml">
      </file-association>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.springframework.ide.eclipse.boot.properties.editor.yaml.SpringYamlEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            icon="icons/spring_yml.png"
            id="org.springframework.ide.eclipse.boot.properties.editor.yaml.SpringYamlEditor"
            name="Spring Yaml Properties Editor">
            <contentTypeBinding
               contentTypeId="org.springframework.ide.eclipse.application.yml"
            /> 
            <contentTypeBinding
               contentTypeId="org.dadacoalition.yedit.yamlsource"
            /> 
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.springframework.ide.eclipse.boot.commands.category"
            defaultHandler="org.springframework.ide.eclipse.boot.properties.editor.yaml.refactoring.ConvertPropertiesToYamlHandler"
            id="org.springframework.ide.eclipse.boot.properties.editor.convertPropertiesToYaml"
            name="Convert .properties to .yaml">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:#BootPropertiesEditorContext?after=additions">
<!--         <menu
               id="org.springframework.ide.eclipse.boot.properties.editor.menu"
               label="Spring"> -->
            <command
                  icon="icons/boot-icon.png"
                  commandId="org.springframework.ide.eclipse.boot.properties.editor.convertPropertiesToYaml">
            </command>
<!--         </menu> -->
      </menuContribution>
      <menuContribution
          locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <command
                  icon="icons/boot-icon.png"
                  commandId="org.springframework.ide.eclipse.boot.properties.editor.convertPropertiesToYaml">
                <visibleWhen
                       checkEnabled="false">
                   <and>
                       <count
                             value="1">
                       </count>
                       <with variable="activeMenuSelection">
                          <iterate
                               ifEmpty="false">
                             <adapt type="org.eclipse.core.resources.IResource">
                                  <test property="org.eclipse.core.resources.extension" value="properties" />
                             </adapt>
                          </iterate>
                       </with>
                   </and>
                </visibleWhen>
            </command>
            
      </menuContribution>
   </extension>
</plugin>
